.card-wrap-sp {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 375px;

  .mat-card-sp {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 0;
    border-radius: 2px;
    background: #eee;
    color:#000;
    min-height: 125px;
  
    .content-wrapper {
      display: flex;
  
      .left-content {
        flex: 0 0 36%;
        background-repeat: no-repeat !important;
        background-position: left !important;
        background-size: 62% !important;
        // width: 50%;
        display: inline-block;
        text-align: right;
      
        img {
          width: 35%;
          margin: 0;
          box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
          border-radius: 2px;
          margin-top: 10px;
        }
      
      }
      
      .center-content {
        flex: 0 0 20%;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        padding-top: 10px;
      }
      
      .right-content {
        flex: 0 0 36%;
        background-repeat: no-repeat !important;
        background-position: right !important;
        background-size: 62% !important;
        // width: 50%;
        display: inline-block;
        text-align: left;
      
        img {
          width: 35%;
          margin: 0;
          box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
          border-radius: 2px;
          margin-top: 10px;
        }
      
        .rookie {
          background:#2ecc71; 
          color:#fff; 
          padding:1px; 
          border-radius:2px;
          display: block;
          width: 30%;
        }
        .postponed {
          background: red; 
          color:#fff; 
          padding:1px; 
          border-radius:2px;
          display: block;
          width: 30%;
        }
      }

      .bottom-content {
        font-size: 14px;
        position: relative;
        padding: 5px;
      
        .left-stats {
          display: block;
          float: left;
        }
      
        .right-stats {
          display: block;
          float: right;
        }
      
        img {
          width: 5%;
          margin: 0;
        }
        .live-pitch.live-status p {
          text-align: left;
          padding: 3px;
        }
      } 

    }
  }
}

.content-wrapper-teams {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.content-wrapper-teams div {
  flex: 1;
}

.content-wrapper-teams {
  img {
    width: 68%;
    margin: 0;
  }
  
  .left-content-teams {
    img {
      float: right;
    }
  }
}

.middle-content-teams {
  text-align: center;
  font-size: 40px;
}

ul {
  list-style: none;
}

.mat-card-sp:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


.name-number {
  font-size: 16px;
}

.fav-pitch {
  background: #d35400;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 15px;
}

.live-pitch {
  background: #2ecc71;
}

h3 {
  color: #2ecc71;
}


.hide {
  display: none;
}


.err {
  color: #fff;
}

.go-back-btn {
  position: absolute;
  right: 0;
  font-size: 11px;
}

.previous-game-stat-block {
  background: #e2e2e2;
  color: #555;
  text-align: left;
  padding: 0 0 1px 2px;
  margin-bottom: 15px;
  border: 1px solid #333;
  font-size: 12px;
}

.previous-p {
  margin-top: 0;
}

.previous-header {
  text-align: center;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 6px;
}

.mat-form-field {
  color: #efefef;
}



@media only screen and (max-width: 600px) {

  .card-wrap-sp {
    display: inline-block;
    margin: 0 0 20px 0;
    vertical-align: top;
    width: 100%;
  }

   .baseball-header {
    font-size: 20px;
  }

}