<h1 class="center date-header baseball-header"> MLB {{pitcherSection ? 'Starting Pitchers' : 'Batting Order'}}</h1>
<h1 class="center date-header baseball-header"> {{ gameDate | date:'fullDate' }}</h1>
<div class="center">
  <app-date-picker (setDate)="getByDate($event)"></app-date-picker>
</div>
<div class="nba-button-wrapper mlb-button-wrapper" *ngIf="!loading && dailySchedule != null && starterIdData.length > 0">
    <div class="schedule-box row">
      <div [ngClass]="{'active': pitcherSection}" class="col" (click)="pitcherSection = true; batterSection = false">
          <span class="sched-item">
            Pitchers
          </span> 
      </div>
      <div [ngClass]="{'active': batterSection}" class="col" (click)="pitcherSection = false; batterSection = true; sortBatters()">
          <span class="sched-item">
            Batters
          </span> 
      </div>
    </div>
</div>
<h1 class="center no-game-header date-header baseball-header" *ngIf="noGamesToday === true && !loading">{{noGamesMsg}}</h1>
<app-spinner *ngIf="loading" [size]="'lg'" [color]="'white'" [title]="'Pitching Data'"></app-spinner>
<div *ngIf="errMessage" class="err center">
     <h1><strong>Error: </strong> {{ errMessage }}</h1>
</div>

<div *ngIf="showData != null && pitcherSection" class="mlb-page">
    <div class="card-wrap-sp mat-elevation-z6" *ngFor="let data of showData">
        <div class="mat-card-sp">
              <div class="content-wrapper">
                <div class="left-content"
                [ngStyle]="{background: 'url(' + data['pitchers'][0]?.playerObj?.team?.logo +')'}">
                  <span>
                      <img src="{{data['pitchers'][0]?.playerObj?.player.officialImageSrc}}" alt="baseball player" onError="this.src='http://mlb.mlb.com/images/players/silhouettes/generic_mug@2x.png'">
                  </span> 
                  
                </div>
                <div class="center-content">
                    <span class="matup-text">{{data['pitchers'][0] != null ? data['pitchers'][0]?.playerObj?.player?.lastName : data['pitchers'][1]?.playerObj?.player?.po}} <br> vs <br>
                       {{data['pitchers'][1] != null ? data['pitchers'][1]?.playerObj?.player?.lastName : data['pitchers'][0]?.playerObj?.player?.po}} <br>
                    </span>
                    <span class="game-text">
                      <span class="live" *ngIf="data['pitchers'][0]?.playerObj?.gameStatus === 'LIVE'">LIVE</span>  
                      <span *ngIf="data['pitchers'][0]?.playerObj?.gameStatus === 'UNPLAYED' &&
                      data['pitchers'][0]?.playerObj?.sStatus != 'POSTPONED'">{{data['pitchers'][0]?.playerObj?.player.gameTime | date: 'shortTime'}} PST</span> 
                      <span class="postponed" *ngIf="data['pitchers'][0]?.playerObj?.sStatus === 'POSTPONED' && 
                      data['pitchers'][0]?.playerObj?.gameStatus != 'LIVE' && 
                      data['pitchers'][0]?.playerObj?.gameStatus != 'COMPLETED'">PPD</span> 
                      <span class="final" *ngIf="data['pitchers'][0]?.playerObj?.gameStatus === 'COMPLETED'">FINAL</span> 
                    </span>
                </div>
                <div class="right-content" [ngStyle]="{background: 'url(' + data['pitchers'][0]?.playerObj?.team?.opponentLogo +')'}">
                  <img src="{{data['pitchers'][1]?.playerObj?.player.officialImageSrc}}" alt="baseball player" onError="this.src='http://mlb.mlb.com/images/players/silhouettes/generic_mug@2x.png'">
                </div>
              </div>
              <div class="bottom-content">
               <span class="left-stats"> 
                 <span *ngIf="data['pitchers'][0]?.playerObj?.gameStatus === 'UNPLAYED'">
                    ({{ data['pitchers'][0]?.playerObj?.stats?.pitching?.wins +'-'+ data['pitchers'][0]?.playerObj?.stats?.pitching?.losses }}) /
                    {{ data['pitchers'][0]?.playerObj?.stats?.pitching?.earnedRunAvg }} /
                  {{ data['pitchers'][0]?.playerObj?.stats.pitching.pitcherStrikeouts }}K's
                 </span>
                 <span *ngIf="data['pitchers'][0]?.playerObj?.gameStatus === 'LIVE' || data['pitchers'][0]?.playerObj?.gameStatus === 'COMPLETED_PENDING_REVIEW'">
                    <!-- <span class="live">LIVE</span>  -->
                    <!-- {{ data['pitchers'][0]?.playerObj?.player?.hitsallowedToday }} H's  -->
                    {{ data['pitchers'][0]?.playerObj?.player?.inningsToday }} I's
                     {{ data['pitchers'][0]?.playerObj?.player?.pitchesthrownToday }} PC       
                    {{ data['pitchers'][0]?.playerObj?.player?.earnedrunsToday }} ER's 
                    {{ data['pitchers'][0]?.playerObj?.player?.strikeoutsToday }}K's
                 </span>
                 <span *ngIf="data['pitchers'][0]?.playerObj?.gameStatus === 'COMPLETED'">
                    <span class="bold">
                        {{data['pitchers'][0]?.playerObj?.player?.winToday === 0 && data['pitchers'][0]?.playerObj?.player?.loseToday === 0 ? 'ND' : 
                        data['pitchers'][0]?.playerObj?.player?.winToday === 1 ? 'W' : data['pitchers'][0]?.playerObj?.player?.loseToday === 1 ? 'L' : ''}}
                    </span>
                    {{ data['pitchers'][0]?.playerObj?.player?.eraToday }} /
                    {{ data['pitchers'][0]?.playerObj?.player?.strikeoutsToday}}K's
                 </span>
                
              </span>  
                <span class="right-stats"> 
                  <span *ngIf="data['pitchers'][1]?.playerObj?.gameStatus === 'UNPLAYED'">
                      ({{ data['pitchers'][1]?.playerObj?.stats?.pitching?.wins +'-'+ data['pitchers'][1]?.playerObj?.stats?.pitching?.losses }}) /
                      {{ data['pitchers'][1]?.playerObj?.stats?.pitching?.earnedRunAvg }} /
                     {{ data['pitchers'][1]?.playerObj?.stats.pitching.pitcherStrikeouts }}K's
                  </span>
                  <span *ngIf="data['pitchers'][1]?.playerObj?.gameStatus === 'LIVE' || data['pitchers'][1]?.playerObj?.gameStatus === 'COMPLETED_PENDING_REVIEW'">
                      {{ data['pitchers'][1]?.playerObj?.player?.inningsToday }} I's
                       {{ data['pitchers'][1]?.playerObj?.player?.pitchesthrownToday }} PC 
                      {{ data['pitchers'][1]?.playerObj?.player?.earnedrunsToday }} ER's 
                      {{ data['pitchers'][1]?.playerObj?.player?.strikeoutsToday }}K's
                   </span>
                   <span *ngIf="data['pitchers'][1]?.playerObj?.gameStatus === 'COMPLETED'">
                      <span class="bold">
                          {{data['pitchers'][1]?.playerObj?.player?.winToday === 0 && data['pitchers'][1]?.playerObj?.player?.loseToday === 0 ? 'ND' : 
                          data['pitchers'][1]?.playerObj?.player?.winToday === 1 ? 'W' : data['pitchers'][1]?.playerObj?.player?.loseToday === 1 ? 'L' : ''}}
                      </span>
                      {{ data['pitchers'][1]?.playerObj?.player?.eraToday }} /
                      {{ data['pitchers'][1]?.playerObj?.player?.strikeoutsToday}}K's
                   </span>
                </span>
                <div *ngIf="twitter">
                  <br>
                  <div  *ngFor="let item of data['pitchers']">
                      {{item?.playerObj?.team.twitter}} {{item?.playerObj?.player.lastName}} 
                  </div>  
                </div> 
              </div>
          </div>
    </div>

  <!-- 

              <span *ngIf="data.player.rookie === true" class="rookie">Rookie  <br></span>
              <span *ngIf="data.postponed === true" class="postponed">Postponed  <br></span>
             
              <span *ngIf="data.player.age != null"> Age: {{data.player.age}} Height: {{data.player.height}} Weight: {{data.player.weight}}  <br> </span>
             <span *ngIf="data.player.birthCity != null">Born: {{data.player.birthDate | date: 'shortDate'}} <span *ngIf="data.player.birthCountry === 'USA'">{{data.player.birthCity}}</span><span *ngIf="data.player.birthCountry != 'USA'">{{data.player.birthCountry}}</span>  <br> </span>
             Opponent: <span *ngIf="data.team.opponent;then content else other_content"></span>
              <ng-template #content>{{data.team.opponent}}</ng-template>
              <ng-template #other_content>No game today.</ng-template>
              <br>SP Opponent: {{data.player.pitchingOpponent}}
              <span *ngIf="data.team.opponent"><br>Game: {{data.player.gameTime | date: 'shortTime'}} PST, {{data.team.gameField}} </span>
         
            </p>
          </div>
        </div>
   
            <a class="more-stats-btn" (click)="getGameStats(data, data.gameId)">MORE STATS</a>
          </div>
          <div *ngIf="data.player.pitchSpeedAvg != null" class="fav-pitch">
            <p>Avg pitch speed {{data.player.pitchSpeedAvg}}mph</p>
          </div>
           <div *ngIf="data.player.pitchSpeedAvg == null" class="fav-pitch">
            <p>Avg pitch speed not known</p>
          </div>
          <div *ngIf="data.player.fastestPitch != null" class="fav-pitch">
            <p>Top pitch speed {{data.player.fastestPitch}}mph</p>
          </div>
           <div *ngIf="data.player.fastestPitch == null" class="fav-pitch">
              <p>Top pitch speed not known</p>
            </div>
        </div>
      </div> 
      <div class="tp-box__side tp-box__back" (click)="$event.stopPropagation()">
        <a class="go-back-btn" (click)="flipBack(data)">GO BACK</a>
          <div class="content-wrapper">
          <div class="left-content">
            <img src="{{data.player.image}}" alt="baseball player" onError="this.src='http://mlb.mlb.com/images/players/silhouettes/generic_mug@2x.png'">
          </div>
          
        <div class="bottom-content" (click)="$event.stopPropagation()">
       
          <p class="name-number">{{ data.player.firstName + ' ' + data.player.lastName}}<span *ngIf="data?.player?.handedness.throws"> - {{data?.player?.handedness.throws}}</span> - SP | #{{data.player.jerseyNumber}}</p>
          <p class="name-number">
           <span *ngIf="data.previousWin1 != null && data.previousWin2 === undefined"><strong>W-L:</strong> {{data.previousWin1}}-</span><span *ngIf="data.previousL1 != null && data.previousL2 === undefined">{{data.previousL1}}</span><span *ngIf="data.previousWin1 != null && data.previousWin2 != null"><strong>W-L:</strong> {{data.previousWin1 + data.previousWin2}}-</span><span *ngIf="data.previousL1 != null && data.previousL2 != null">{{data.previousL1 + data.previousL2}}</span><span *ngIf="data.previousEra1 != null && data.previousEra2 === undefined"> / <strong>ERA:</strong> {{ data.previousEra1 }} / </span><span *ngIf="data.previousEra1 != null && data.previousEra2 != null"> / <strong>ERA:</strong> {{ (data.previousEra1 + data.previousEra2) / 2 | number:'1.2-2' }} / </span> 
           <span *ngIf="data.previousSO1 != null && data.previousSO2 === undefined"><strong>K's:</strong> {{ data.previousSO1 }}</span><span *ngIf="data.previousSO1 != null && data.previousSO2 != null"><strong>K's:</strong> {{ data.previousSO1 + data.previousSO2 }}</span>
          
          </p>
         
          <div class="fav-pitch previous-game-stat-block"> 
            <p class="previous-header">
            <span *ngIf="data.pgBlurb1 == null && loadingPrevious === false">Previous game stats are unavailable :( </span> 
            <span *ngIf="data.pgBlurb1 != null">Previous game stats</span> </p> 
            <p class="previous-p"><span *ngIf="data.pgBlurb1 != null">{{data.pgBlurb1}} <br> </span>
            <span *ngIf="data.pgBlurb2 != null">{{data.pgBlurb2}} <br> </span> 
            <span *ngIf="data.homeruns1 != null && data.homeruns2 === undefined">Homeruns given up: {{data.homeruns1}}<br></span>
            <span *ngIf="data.homeruns2 != null && data.homeruns1 === undefined">Homeruns given up: {{data.homeruns2}}<br></span>
            <span *ngIf="data.homeruns1 != null && data.homeruns2 != null">Homeruns given up: {{data.homeruns1 + data.homeruns2}}<br></span>
            <span *ngIf="data.walks1 != null && data.walks2 === undefined">Walks allowed: {{data.walks1}}<br></span>
            <span *ngIf="data.walks2 != null && data.walks1 === undefined">Walks allowed: {{data.walks2}}<br></span>
            <span *ngIf="data.walks1 != null && data.walks2 != null">Walks allowed: {{data.walks1 + data.walks2}}<br></span>
            <br>
            <span *ngIf="data.player.pitchSpeedAvg != null">
              Avg pitch speed {{data.player.pitchSpeedAvg}}mph
            <br></span>
          
            <span *ngIf="data.player.fastestPitch != null">
              Top pitch speed {{data.player.fastestPitch}}mph
            </span>

           </p>
          </div>
         
        </div>
       -->
  <!-- 
            <div *ngIf="data.player.favPitchPercent != null" class="fav-pitch">
              <p *ngIf="data.player.favPitch == data.stats.pitching.pitcher2SeamFastballs">Throws 2-Seam Fastball {{data.player.favPitchPercent}}%</p>
              <p *ngIf="data.player.favPitch == data.stats.pitching.pitcher4SeamFastballs">Throws 4-Seam Fastball {{data.player.favPitchPercent}}%</p>
              <p *ngIf="data.player.favPitch == data.stats.pitching.pitcherChangeups">Throws Changeup {{data.player.favPitchPercent}}%</p>
              <p *ngIf="data.player.favPitch == data.stats.pitching.pitcherCurveballs">Throws Curveball {{data.player.favPitchPercent}}%</p>
              <p *ngIf="data.player.favPitch == data.stats.pitching.pitcherCutters">Throws Cutter {{data.player.favPitchPercent}}%</p>
              <p *ngIf="data.player.favPitch == data.stats.pitching.pitcherSliders">Throws Slider {{data.player.favPitchPercent}}%</p>
              <p *ngIf="data.player.favPitch == data.stats.pitching.pitcherSinkers">Throws Sinker {{data.player.favPitchPercent}}%</p>
              <p *ngIf="data.player.favPitch == data.stats.pitching.pitcherSplitters">Throws Splitter {{data.player.favPitchPercent}}%</p>
            </div>
            <div *ngIf="data.player.pitchSpeedAvg != null" class="fav-pitch">
              <p>Avg pitch speed {{data.player.pitchSpeedAvg}}mph</p>
            </div>
             <div *ngIf="data.player.pitchSpeedAvg == null" class="fav-pitch">
            <p>Avg pitch speed not known</p>
          </div>
            <div *ngIf="data.player.fastestPitch != null" class="fav-pitch">
              <p>Top pitch speed {{data.player.fastestPitch}}mph</p>
            </div>
             <div *ngIf="data.player.fastestPitch == null" class="fav-pitch">
              <p>Top pitch speed not known</p>
            </div>
          </div>
        </div>
   
      <div class="tp-box__side tp-box__back" (click)="$event.stopPropagation()">
          <div class="content-wrapper">
          <div class="left-content">
            <img src="{{data.player.image}}" alt="baseball player" onError="this.src='http://mlb.mlb.com/images/players/silhouettes/generic_mug@2x.png'">
          </div>
          <div class="right-content">
            <p>
              <span *ngIf="data.player.rookie === true" class="rookie">Rookie <br></span>
                  <span *ngIf="data.postponed === true" class="postponed">Postponed  <br></span>
              <span *ngIf="data.player.contractStartYear === '2019' && data.player.contractTotalYears === 1" class="rookie">Contract Year<br></span>
              <span *ngIf="data.player.contractBaseSalary != '' && data.player.contractBaseSalary != null">Contract Salary: ${{data.player.contractBaseSalary | number:'.2'}} <br></span>
              <span *ngIf="data.player.contractTotalYears != '' && data.player.contractTotalYears != null">Contract Years:  {{data.player.contractTotalYears}}<br></span> 
              <span *ngIf="data.player.draftYear != '' && data.player.draftYear != null">Drafted: Round {{data.player.draftRound}}, {{data.player.draftYear}}<br></span>
              <span *ngIf="data.player.college != null">College: {{data.player.college}}<br></span> 
              <span *ngIf="data.player.highSchool != null">Highschool: {{data.player.highSchool}} <br></span>
              Opponent: <span *ngIf="data.team.opponent;then content else other_content"></span>
              <ng-template #content>{{data.team.opponent}}</ng-template>
              <ng-template #other_content>No game today.</ng-template>
              <br>SP Opponent: {{data.player.pitchingOpponent}}
              <span *ngIf="data.team.opponent"><br>Game: {{data.player.gameTime | date: 'shortTime'}} PST, {{data.team.gameField}} </span>
            
            </p>
          </div>
        </div>
        <div class="bottom-content" (click)="$event.stopPropagation()">
        
          <p class="name-number">{{ data.player.firstName + ' ' + data.player.lastName}}<span *ngIf="data?.player?.handedness.throws"> - {{data?.player?.handedness.throws}}</span> - SP | #{{data.player.jerseyNumber}}</p>
          <p class="name-number">
            <span  *ngIf="data.player.winToday === 1"><b>W</b></span>
            <span  *ngIf="data.player.loseToday === 1"><b>L</b></span>
            
            <b>ERA:</b> {{ data.player.eraToday }} /
            <b>K's:</b> {{ data.player.strikeoutsToday }} <br>
            <a class="more-stats-btn" (click)="flipBack(data)">GO BACK</a>
          </p>
         
          <div class="fav-pitch live-pitch live-status">

          <span *ngIf="data.team.isGameOver === true">
            Final Score:
          </span>

          <span class="score-img">
            <img src="{{data.team.logo}}" alt="">
          </span> 
          {{ data?.team.teamScore }} 
          <span class="score-img">
            <img src="{{data.team.opponentLogo}}" alt="">
          </span>
          {{ data?.team.opponentScore }} | 

          <span *ngIf="data.team.isGameOver === true">
            <span *ngIf="data?.team.teamScore &gt;  data?.team.opponentScore"> {{data.team.abbreviation}} wins!</span>
            <span *ngIf="data?.team.teamScore <  data?.team.opponentScore"> {{data.team.opponent}} wins!</span>
          </span>

          <span *ngIf="data.team.isGameInProgress === true">
          <span *ngIf="data?.team.currentInningHalf === 'TOP';then up else down"></span>
          <ng-template #up><i class="material-icons" style="color: red;">arrow_drop_up</i></ng-template>
          <ng-template #down><i class="material-icons" style="color: red;">arrow_drop_down</i></ng-template> 
          {{ data?.team.currentInning }}<span *ngIf="data.team.currentInning === 1">st</span>
             <span *ngIf="data.team.currentInning === 2">nd</span>
             <span *ngIf="data.team.currentInning === 3">rd</span>
             <span *ngIf="data.team.currentInning != 1 && data.team.currentInning != 2 && data.team.currentInning != 3">th</span> inning - {{data?.team.outCount}} 
          <span *ngIf="data?.team.outCount === 1;then out else outs"></span>
          <ng-template #out>Out</ng-template> <ng-template #outs>Outs</ng-template> {{data?.team.ballCount}} 
          <span *ngIf="data?.team.ballCount === 1;then ball else balls"></span><ng-template #ball>Ball</ng-template> 
          <ng-template #balls>Balls</ng-template>  {{data?.team.strikeCount}} <span *ngIf="data.team.strikeCount === 1;then strike else strikes"></span>
          <ng-template #strike>Strike</ng-template> <ng-template #strikes>Strikes</ng-template>
          </span>

          <p *ngIf="data.team.isGameInProgress === true && data.isPitchingRightNow === false">
            {{ data.player.firstName + ' ' + data.player.lastName }} is no longer pitching in this game. 
            He lasted {{ data.player.inningsToday }} innings and threw {{data.player.pitchesthrownToday}} pitches today and allowed {{data.player.hitsallowedToday}} <span *ngIf="data.player.hitsallowedToday === 1;then hit else hits"></span>
            <ng-template #hit>hit</ng-template><ng-template #hits>hits</ng-template>! 
          
          </p> 

          <p *ngIf="data.team.isGameInProgress === true  && data.isPitchingRightNow === true">
            {{ data.player.firstName + ' ' + data.player.lastName }} is facing {{data.team.opponent}} today. 
            He threw {{data.player.pitchesthrownToday}} pitches today and allowed {{data.player.hitsallowedToday}} 
            <span *ngIf="data.player.hitsallowedToday === 1;then hit else hits"></span>
            <ng-template #hit>hit</ng-template><ng-template #hits>hits</ng-template>!

          </p> 


             <p *ngIf="data.team.isGameInProgress === true  && data.isPitchingRightNow === true && data.pitcher === data.player.firstName + ' ' + data.player.lastName">
               The 
     <span *ngIf="data.throwHand === 'R'">Righty </span> 
     <span *ngIf="data.throwHand === 'L'">Lefty </span> 
     <span *ngIf="data.pitcher === data.player.firstName + ' ' + data.player.lastName"> {{data.pitcher}}</span> 
     <span *ngIf="data.pitcher != data.player.firstName + ' ' + data.player.lastName"> {{ data.pitcher }}</span> is on the mound for 
     <span *ngIf="data.team.abbreviation === data.battingTeam;then opponent else team"></span><ng-template #opponent>{{ data.team.opponent }}</ng-template>
     <ng-template #team>{{ data.team.abbreviation }}</ng-template>. 
              {{data.batter}} is <span>hitting  
     <span *ngIf="data.battingFrom === 'R'">from the right</span> 
     <span *ngIf="data.battingFrom === 'L'">from the left</span> </span> at the plate. 

              The last pitch was a {{data.throwSpeed}} mph
     <span *ngIf="data.throwType === 'FOUR_SEAM_FASTBALL'"> four seam fastball </span>
     <span *ngIf="data.throwType === 'SLIDER'"> slider </span>
     <span *ngIf="data.pitchResult === 'IN_PLAY_OUTS'"> the ball is in play for an out</span> 
     <span *ngIf="data.pitchResult === 'FOUL'"> was hit foul </span> 
     <span *ngIf="data.pitchResult === 'CALLED_STRIKE'"> thrown for a strike</span> 
     <span *ngIf="data.pitchResult === 'BALL'"> thrown for a ball</span> 
     <span *ngIf="data.pitchResult === 'IN_PLAY_RUNS'"> the ball is in play, runs score</span>.</p>
         
          


          <p *ngIf="data.team.isGameOver === true">
            This game is over. {{data.team.abbreviation}} <span *ngIf="data?.team.teamScore &gt; data?.team.opponentScore"> won </span> <span *ngIf="data?.team.teamScore < data?.team.opponentScore"> lost </span> 
            <span *ngIf="data.player.gameLocation === 'home'"> at home </span> <span *ngIf="data.player.gameLocation === 'away'"> on the road </span> against   
            {{ data.team.opponent }} {{data.team.teamScore}} to {{ data.team.opponentScore }}. 
            {{ data.player.firstName + ' ' + data.player.lastName }} faced {{data.team.opponent}} today. 
            He lasted {{ data.player.inningsToday }} innings and threw {{data.player.pitchesthrownToday}} pitches today and allowed {{data.player.hitsallowedToday}} hits! 
            <span *ngIf="data.team.teamScore < data.team.opponentScore && data.player.loseToday === 0">
            {{data.player.firstName + ' ' + data.player.lastName}} recieved a no decision today.</span>
          </p>
          <p>
     -->
  <!-- <div *ngIf="gameover === true">
    <hr>
    <h3 class="center">Completed Games</h3>
    <div class="card-wrap-sp mat-elevation-z6 tp-wrap" *ngFor="let data of showData" [class.hide]="data.playingOver === false">
      <div class="tp-box mat-card-sp" [@flipState]="data.flip">
        <div class="ribbon" *ngIf="data.flip === 'inactive'"><span [ngStyle]="{'backgroundColor': data?.team?.color ? data?.team?.color : 'black'}">{{data.team.name}}</span></div>
        <div class="tp-box__side tp-box__front">
          <div class="content-wrapper">
            <div class="left-content">
              <img src="{{data.player.image}}" alt="baseball player" onError="this.src='http://mlb.mlb.com/images/players/silhouettes/generic_mug@2x.png'">
            </div>
            <div class="right-content">
              <p>
                <span *ngIf="data.player.rookie === true" class="rookie">Rookie <br></span>
                    <span *ngIf="data.postponed === true" class="postponed">Postponed  <br></span>
                <br>
                <span *ngIf="data.player.age != null"> Age: {{data.player.age}} Height: {{data.player.height}} Weight: {{data.player.weight}}</span>
                <br> <span *ngIf="data.player.birthCity != null">Born: {{data.player.birthDate | date: 'shortDate'}} <span *ngIf="data.player.birthCountry === 'USA'">{{data.player.birthCity}}</span><span *ngIf="data.player.birthCountry != 'USA'">{{data.player.birthCountry}}</span></span>
                <br> Opponent: <span *ngIf="data.team.opponent;then content else other_content"></span>
                <ng-template #content>{{data.team.opponent}}</ng-template>
                <ng-template #other_content>No game today.</ng-template>
                <br>SP Opponent: {{data.player.pitchingOpponent}}
                <span *ngIf="data.team.opponent"><br>Game: {{data.player.gameTime | date: 'shortTime'}} PST, {{data.team.gameField}} </span>
            
            </div>
          </div>
          

       
          <p class="name-number">{{ data.player.firstName + ' ' + data.player.lastName}}<span *ngIf="data?.player?.handedness.throws"> - {{data?.player?.handedness.throws}}</span> - SP | #{{data.player.jerseyNumber}}</p>
          <p class="name-number">
            <span  *ngIf="data.player.winToday === 1"><b>W</b></span>
            <span  *ngIf="data.player.loseToday === 1"><b>L</b></span>
            
            / <b>ERA:</b> {{ data.player.eraToday }} /
            <b>K's:</b> {{ data.player.strikeoutsToday }}
            <br>
            <a class="more-stats-btn" (click)="flipBack(data)">GO BACK</a>
          </p>
 
          <div class="fav-pitch live-pitch live-status">

  <span *ngIf="data.team.isGameOver === true">
    Final Score:
  </span>

  <span class="score-img">
    <img src="{{data.team.logo}}" alt="">
  </span> 
  {{ data?.team.teamScore }} 
  <span class="score-img">
    <img src="{{data.team.opponentLogo}}" alt="">
  </span>
  {{ data?.team.opponentScore }} | 

  <span *ngIf="data.team.isGameOver === true">
    <span *ngIf="data?.team.teamScore &gt;  data?.team.opponentScore"> {{data.team.abbreviation}} wins!</span>
    <span *ngIf="data?.team.teamScore <  data?.team.opponentScore"> {{data.team.opponent}} wins!</span>
  </span>

  <span *ngIf="data.team.isGameInProgress === true">
  <span *ngIf="data?.team.currentInningHalf === 'TOP';then up else down"></span>
  <ng-template #up><i class="material-icons" style="color: red;">arrow_drop_up</i></ng-template>
  <ng-template #down><i class="material-icons" style="color: red;">arrow_drop_down</i></ng-template> 
  {{ data?.team.currentInning }}<span *ngIf="data.team.currentInning === 1">st</span>
     <span *ngIf="data.team.currentInning === 2">nd</span>
     <span *ngIf="data.team.currentInning === 3">rd</span>
     <span *ngIf="data.team.currentInning != 1 && data.team.currentInning != 2 && data.team.currentInning != 3">th</span> inning - {{data?.team.outCount}} 
  <span *ngIf="data?.team.outCount === 1;then out else outs"></span>
  <ng-template #out>Out</ng-template> <ng-template #outs>Outs</ng-template> {{data?.team.ballCount}} 
  <span *ngIf="data?.team.ballCount === 1;then ball else balls"></span><ng-template #ball>Ball</ng-template> 
  <ng-template #balls>Balls</ng-template>  {{data?.team.strikeCount}} <span *ngIf="data.team.strikeCount === 1;then strike else strikes"></span>
  <ng-template #strike>Strike</ng-template> <ng-template #strikes>Strikes</ng-template>
  </span>

   <p *ngIf="data.team.isGameInProgress === true && data.isPitchingRightNow === false">
            {{ data.player.firstName + ' ' + data.player.lastName }} is no longer pitching in this game. 
            He lasted {{ data.player.inningsToday }} innings and threw {{data.player.pitchesthrownToday}} pitches today and allowed {{data.player.hitsallowedToday}} <span *ngIf="data.player.hitsallowedToday === 1;then hit else hits"></span>
            <ng-template #hit>hit</ng-template><ng-template #hits>hits</ng-template>! 
      
          </p> 

          <p *ngIf="data.team.isGameInProgress === true  && data.isPitchingRightNow === true">
            {{ data.player.firstName + ' ' + data.player.lastName }} is facing {{data.team.opponent}} today. 
            He threw {{data.player.pitchesthrownToday}} pitches today and allowed {{data.player.hitsallowedToday}} 
            <span *ngIf="data.player.hitsallowedToday === 1;then hit else hits"></span>
            <ng-template #hit>hit</ng-template><ng-template #hits>hits</ng-template>!
            
          </p>

           <p *ngIf="data.team.isGameInProgress === true  && data.isPitchingRightNow === true && data.pitcher === data.player.firstName + ' ' + data.player.lastName">
            The 
     <span *ngIf="data.throwHand === 'R'">Righty </span> 
     <span *ngIf="data.throwHand === 'L'">Lefty </span> 
     <span *ngIf="data.pitcher === data.player.firstName + ' ' + data.player.lastName"> {{data.pitcher}}</span> 
     <span *ngIf="data.pitcher != data.player.firstName + ' ' + data.player.lastName"> {{ data.pitcher }}</span> is on the mound for 
     <span *ngIf="data.team.abbreviation === data.battingTeam;then opponent else team"></span><ng-template #opponent>{{ data.team.opponent }}</ng-template>
     <ng-template #team>{{ data.team.abbreviation }}</ng-template>. 
            {{data.batter}} is <span>hitting  
     <span *ngIf="data.battingFrom === 'R'">from the right</span> 
     <span *ngIf="data.battingFrom === 'L'">from the left</span> </span> at the plate. 

              The last pitch was a {{data.throwSpeed}} mph
     <span *ngIf="data.throwType === 'FOUR_SEAM_FASTBALL'"> four seam fastball </span>
     <span *ngIf="data.throwType === 'SLIDER'"> slider </span>
     <span *ngIf="data.pitchResult === 'IN_PLAY_OUTS'"> the ball is in play for an out</span> 
     <span *ngIf="data.pitchResult === 'FOUL'"> was hit foul </span> 
     <span *ngIf="data.pitchResult === 'CALLED_STRIKE'"> thrown for a strike</span> 
     <span *ngIf="data.pitchResult === 'BALL'"> thrown for a ball</span> 
     <span *ngIf="data.pitchResult === 'IN_PLAY_RUNS'"> the ball is in play, runs score</span>.</p>
         
          
        
  <p *ngIf="data.team.isGameOver === true">
    This game is over. {{data.team.abbreviation}} <span *ngIf="data?.team.teamScore &gt; data?.team.opponentScore"> won </span> <span *ngIf="data?.team.teamScore < data?.team.opponentScore"> lost </span> 
    <span *ngIf="data.player.gameLocation === 'home'"> at home </span> <span *ngIf="data.player.gameLocation === 'away'"> on the road </span> against   
    {{ data.team.opponent }} {{data.team.teamScore}} to {{ data.team.opponentScore }}. 
    {{ data.player.firstName + ' ' + data.player.lastName }} faced {{data.team.opponent}} today. 
    He lasted {{ data.player.inningsToday }} innings and threw {{data.player.pitchesthrownToday}} pitches today and allowed {{data.player.hitsallowedToday}} hits! 
    <span *ngIf="data.team.teamScore < data.team.opponentScore && data.player.loseToday === 0">
    {{data.player.firstName + ' ' + data.player.lastName}} recieved a no decision today.</span>
  </p>
  <p>
    <span *ngIf="data?.player?.pitchSpeedAvgToday">
    Avg pitch speed today {{data.player.pitchSpeedAvgToday}}mph <br>
    </span>
    <span *ngIf="data?.player?.fastestPitchToday">Top pitch today {{data.player.fastestPitchToday}}mph</span>
  </p>

          <div *ngIf="data.player.favPitchPercentToday != null" class="fav-pitch">
            <p *ngIf="data.player.favPitchToday == data.stats.pitching.pitcher2SeamFastballsToday">Throwing 2-Seam Fastball {{data.player.favPitchPercentToday}}%</p>
            <p *ngIf="data.player.favPitchToday == data.stats.pitching.pitcher4SeamFastballsToday">Throwing 4-Seam Fastball {{data.player.favPitchPercentToday}}%</p>
            <p *ngIf="data.player.favPitchToday == data.stats.pitching.pitcherChangeupsToday">Throwing Changeup {{data.player.favPitchPercentToday}}%</p>
            <p *ngIf="data.player.favPitchToday == data.stats.pitching.pitcherCurveballsToday">Throwing Curveball {{data.player.favPitchPercentToday}}%</p>
            <p *ngIf="data.player.favPitchToday == data.stats.pitching.pitcherCuttersToday">Throwing Cutter {{data.player.favPitchPercentToday}}%</p>
            <p *ngIf="data.player.favPitchToday == data.stats.pitching.pitcherSlidersToday">Throwing Slider {{data.player.favPitchPercentToday}}%</p>
            <p *ngIf="data.player.favPitchToday == data.stats.pitching.pitcherSinkersToday">Throwing Sinker {{data.player.favPitchPercentToday}}%</p>
            <p *ngIf="data.player.favPitchToday == data.stats.pitching.pitcherSplittersToday">Throwing Splitter {{data.player.favPitchPercentToday}}%</p>
          </div>
 -->
</div>
<div *ngIf="showBatterData != null && batterSection" class="mlb-page">
    <div class="card-wrap-sp mat-elevation-z6" *ngFor="let data of showBatterData">
        <div class="mat-card-sp">
              <div class="content-wrapper">
                <div class="batter-content"
                [ngStyle]="{background: 'url(' + data['batters'][0]?.playerObj?.team?.logo +')'}">
                  <div  *ngFor="let item of data['batters']; let i = index">
                      {{i+1}} <img src="{{item?.playerObj?.player.officialImageSrc}}" alt="baseball player" onError="this.src='http://mlb.mlb.com/images/players/silhouettes/generic_mug@2x.png'">
                      {{item?.playerObj?.player.lastName}} - {{item?.playerObj.player?.primaryPosition}} | 
                      <span *ngIf="data['batters'][0]?.playerObj?.gameStatus === 'UNPLAYED' &&
                      data['batters'][0]?.playerObj?.sStatus != 'POSTPONED'" class="stats">
                      &nbsp;{{item?.playerObj?.stats?.batting?.hits}} H {{item?.playerObj?.stats?.batting?.runs}} R {{item?.playerObj?.stats?.batting?.runsBattedIn}} RBI&nbsp;
                      </span>
                      <span *ngIf="data['batters'][0]?.playerObj?.gameStatus != 'UNPLAYED'" class="stats">
                      &nbsp;{{item?.playerObj?.stats?.hitsToday}} H {{item?.playerObj?.stats?.runsToday}} R {{item?.playerObj?.stats?.rbiToday}} RBI&nbsp;
                      </span>
                  </div> 
                  
                </div>
                <!-- <div class="center-content">
                    <span class="matup-text">{{data['batters'][0] != null ? data['batters'][0]?.playerObj?.player?.lastName : data['batters'][1]?.playerObj?.player?.po}} <br> vs <br>
                       {{data['batters'][1] != null ? data['batters'][1]?.playerObj?.player?.lastName : data['batters'][0]?.playerObj?.player?.po}} <br>
                    </span>
                    <span class="game-text">
                      <span class="live" *ngIf="data['batters'][0]?.playerObj?.gameStatus === 'LIVE'">LIVE</span>  
                      <span *ngIf="data['batters'][0]?.playerObj?.gameStatus === 'UNPLAYED' &&
                      data['batters'][0]?.playerObj?.sStatus != 'POSTPONED'">{{data['batters'][0]?.playerObj?.player.gameTime | date: 'shortTime'}} PST</span> 
                      <span class="postponed" *ngIf="data['batters'][0]?.playerObj?.sStatus === 'POSTPONED' && 
                      data['batters'][0]?.playerObj?.gameStatus != 'LIVE' && 
                      data['batters'][0]?.playerObj?.gameStatus != 'COMPLETED'">PPD</span> 
                      <span class="final" *ngIf="data['batters'][0]?.playerObj?.gameStatus === 'COMPLETED'">FINAL</span> 
                    </span>
                </div> -->
                <!-- <div class="right-content" [ngStyle]="{background: 'url(' + data['batters'][0]?.playerObj?.team?.opponentLogo +')'}">
                  <img src="{{data['batters'][1]?.playerObj?.player.officialImageSrc}}" alt="baseball player" onError="this.src='http://mlb.mlb.com/images/players/silhouettes/generic_mug@2x.png'">
                </div> -->
              </div>
              <div class="bottom-content batter">
                  <span class="live" *ngIf="data['batters'][0]?.playerObj?.gameStatus === 'LIVE'">LIVE</span>  
                  <span *ngIf="data['batters'][0]?.playerObj?.gameStatus === 'UNPLAYED' &&
                  data['batters'][0]?.playerObj?.sStatus != 'POSTPONED'">{{data['batters'][0]?.playerObj?.player.gameTime | date: 'shortTime'}} PST <span>{{data['batters'][0]?.playerObj?.player?.gameLocation === 'home' ? 'vs' : '@'}} {{data['batters'][0]?.playerObj?.team?.opponent}}</span> </span> 
                  <span class="postponed" *ngIf="data['batters'][0]?.playerObj?.sStatus === 'POSTPONED' && 
                  data['batters'][0]?.playerObj?.gameStatus != 'LIVE' && 
                  data['batters'][0]?.playerObj?.gameStatus != 'COMPLETED'">PPD</span> 
                  <span class="final" *ngIf="data['batters'][0]?.playerObj?.gameStatus === 'COMPLETED'">FINAL</span>

                  <span *ngIf="twitter">   
                    <div  *ngFor="let item of data['batters']">
                        {{item?.playerObj?.team.twitter}} {{item?.playerObj?.player.lastName}} 
                      <span *ngIf="data['batters'][0]?.playerObj?.gameStatus === 'UNPLAYED' &&
                        data['batters'][0]?.playerObj?.sStatus != 'POSTPONED'" class="stats">
                        &nbsp;{{item?.playerObj?.stats?.batting?.hits}} H {{item?.playerObj?.stats?.batting?.runs}} R {{item?.playerObj?.stats?.batting?.runsBattedIn}} RBI&nbsp;
                        </span>
                        <span *ngIf="data['batters'][0]?.playerObj?.gameStatus != 'UNPLAYED'" class="stats">
                        &nbsp;{{item?.playerObj?.stats?.hitsToday}} H {{item?.playerObj?.stats?.runsToday}} R {{item?.playerObj?.stats?.rbiToday}} RBI&nbsp;
                        </span>  
                    </div>  
                  </span> 

              </div>
          </div>
    </div>
</div>
<div class="row" *ngIf="!loading && dailySchedule != null">
  <div class="center twitter-btn">
      <button (click)="twitter = !twitter">Twitter</button>
  </div>
</div> 
