<div id="top">
    <h1 class="center date-header baseball-header">{{mlbHittingSection ? 'MLB' : mlbSection ? 'MLB' : nbaSection ? 'NBA' : nhlSection ? 'NHL' : nhlGoalies ? 'NHL' : nflSection ? 'NFL' : nflDefenseSection ? 'NFL' : ''}} Stat Leaders</h1>
</div>

<app-dialog
[isOpen]="isOpen"
[submitting]="submitting"
[type]="type"
[area]="'none'"
[noPosts]="noPosts"
[tweetsData]="tweetsData"
[name]="name"
[image]="image"
(close)="isOpen = false"
[modalType]="'twitter'"
></app-dialog>
       
<div class="button-wrapper sl-btns" *ngIf="!loading">
    <div class="schedule-box row">
      <div [ngClass]="{'active': nbaSection}" class="col" (click)="timeSpan = 'full'; sortNBA()">
          <span class="sched-item">
            NBA
          </span> 
      </div>
      <div [ngClass]="{'active': nhlSection || nhlGoalies}" class="col" (click)="sortNHL(); timeSpan = 'full'">
          <span class="sched-item">
            NHL
          </span> 
      </div>
      <div [ngClass]="{'active': mlbSection}" class="col" (click)="loadMLB()">
          <span class="sched-item">
            MLB
          </span> 
      </div>
      <div [ngClass]="{'active': nflSection}" class="col" (click)="loadNFL()">
          <span class="sched-item">
            NFL
          </span> 
      </div>
    </div>
</div>
<div class="center buttons">
   <button (click)="page = 19; amount = -1">1 - 20</button>  <button (click)="page = 39; amount = 19">21 - 40</button> 
   <button [ngClass]="{'dn' : !nhlSection}" (click)="goalies(); nhlSection = false; nhlGoalies = true; timeSpan = 'full'">NHL Goalies</button>  <button [ngClass]="{'dn' : !nhlGoalies}" (click)="nhlSection = true; nhlGoalies = false; timeSpan = 'full'">NHL Skaters</button>
   <button [ngClass]="{'dn' : !mlbSection}" (click)="loadHitters(); timeSpan = 'full'">MLB Hitters</button>  <button [ngClass]="{'dn' : !mlbHittingSection}" (click)="mlbSection = true; mlbHittingSection = false; timeSpan = 'full'">MLB Pitchers</button>
   <button [ngClass]="{'dn' : !nflSection}" (click)="week = 'all'; timeSpan = 'full'; defensePlayers();">Defense</button>  <button [ngClass]="{'dn' : !nflDefenseSection}" (click)="nflSection = true; nflDefenseSection = false;">Offense</button>
   <button [ngClass]="{'dn' : !nflSection && !nflDefenseSection}" (click)="nflDraftKit = !nflDraftKit">Draft Kit</button>
</div>
<div class="center" *ngIf="sport != 'nfl'">
    <button (click)="getByDate('two-weeks', sport)">Two Weeks</button> &nbsp;&nbsp;
    <button (click)="getByDate('last-week', sport)">Last Week</button> &nbsp;&nbsp; 
    <button (click)="getByDate('full', sport)">All</button>
    &nbsp;&nbsp; <button (click)="getByDate('today', sport)">Today</button>
    &nbsp;&nbsp; <button (click)="getByDate('yesterday', sport)">Yesterday</button>
</div>
<div class="center" *ngIf="sport === 'nfl'">
    <select name="week" id="week" (change)="onChange($event.target.value)">
      <option value="1"> - </option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">wildcard</option>
      <option value="19">division round</option>
      <option value="20">conf championship</option>
      <option value="22">super bowl</option>
    </select>
    &nbsp;&nbsp; <button (click)="onChange('three-weeks')">Three Weeks</button>
    &nbsp;&nbsp; <button (click)="onChange('all')">ALL</button>
  </div>
<app-spinner *ngIf="loading || nhlGoalieloading || nhlSkaterloading || mlbPitchingLoading || mlbHittingLoading || nflOffenseLoading || nflDefenseLoading" [size]="'lg'" [color]="'white'" [title]="'Stat Leader Data'"></app-spinner>
<div *ngIf="errMessage" class="err center">
  <h1><strong>Error: </strong> {{ errMessage }}</h1>
</div>


<div *ngIf="!loading || !nhlGoalieloading || !nhlSkaterloading || !mlbPitchingLoading || !mlbHittingLoading || !nflOffenseLoading || !nflDefenseLoading" class="main-row stat-leaders">
  
        <section [ngClass]="{'dn' : !nbaSection}">
          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'offense'" 
          [statField]="'pts'"
          [page]="page"
          [amount]="amount"
          [title]="'Points'"
          [statTag]="'Pts'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'offense'" 
          [statField]="'ptsPerGame'"
          [page]="page"
          [amount]="amount"
          [title]="'Point Avg'"
          [statTag]="'Pts Avg'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'rebounds'" 
          [statField]="'reb'"
          [page]="page"
          [amount]="amount"
          [title]="'Rebounds'"
          [statTag]="'Reb'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'offense'" 
          [statField]="'ast'"
          [page]="page"
          [amount]="amount"
          [title]="'Assists'"
          [statTag]="'Ast'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'defense'" 
          [statField]="'stl'"
          [page]="page"
          [amount]="amount"
          [title]="'Steals'"
          [statTag]="'Stl'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'fieldGoals'" 
          [statField]="'fg3PtMade'"
          [page]="page"
          [amount]="amount"
          [title]="'Three Pointers'"
          [statTag]="'3PM'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'defense'" 
          [statField]="'blk'"
          [page]="page"
          [amount]="amount"
          [title]="'Blocks'"
          [statTag]="'Blk'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'fieldGoals'" 
          [statField]="'fgAtt'"
          [page]="page"
          [amount]="amount"
          [title]="'Shots'"
          [statTag]="'Shots'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'fieldGoals'" 
          [statField]="'fgPct'"
          [page]="page"
          [amount]="amount"
          [title]="'FieldGoal %'"
          [statTag]="'FG%'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'offense'" 
          [statField]="'fpa'"
          [page]="page"
          [amount]="amount"
          [title]="'Fantasy Points Avg'"
          [statTag]="'FPA'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'defense'" 
          [statField]="'tov'"
          [page]="page"
          [amount]="amount"
          [title]="'Turn Overs'"
          [statTag]="'TO'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>
        </section>

        <section [ngClass]="{'dn' : !nhlGoalies}">
          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'saves'"
          [page]="page"
          [amount]="amount"
          [title]="'Saves'"
          [statTag]="'SV'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'shutouts'"
          [page]="page"
          [amount]="amount"
          [title]="'ShutOuts'"
          [statTag]="'SO'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'wins'"
          [page]="page"
          [amount]="amount"
          [title]="'Wins'"
          [statTag]="'Wins'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'losses'"
          [page]="page"
          [amount]="amount"
          [title]="'Losses'"
          [statTag]="'Losses'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'fp'"
          [page]="page"
          [amount]="amount"
          [title]="'Fantasy Points'"
          [statTag]="'FP'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'fpa'"
          [page]="page"
          [amount]="amount"
          [title]="'FP Avg'"
          [statTag]="'FPA'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'overtimeWins'"
          [page]="page"
          [amount]="amount"
          [title]="'OverTime Wins'"
          [statTag]="'OTW'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'overtimeLosses'"
          [page]="page"
          [amount]="amount"
          [title]="'OverTime Losses'"
          [statTag]="'OTL'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"
          [twitter]="twitter"
          ></app-stat-card>
        </section>

        <section [ngClass]="{'dn' : !nhlSection}">
            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'goals'"
            [page]="page"
            [amount]="amount"
            [title]="'Goals'"
            [statTag]="'Gls'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'assists'"
            [page]="page"
            [amount]="amount"
            [title]="'Assists'"
            [statTag]="'Ast'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'powerplayGoals'"
            [page]="page"
            [amount]="amount"
            [title]="'PowerPlay Goals'"
            [statTag]="'PPG'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'powerplayAssists'"
            [page]="page"
            [amount]="amount"
            [title]="'PowerPlay Assist'"
            [statTag]="'PPA'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'points'"
            [page]="page"
            [amount]="amount"
            [title]="'Points'"
            [statTag]="'Pts'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'gameWinningGoals'"
            [page]="page"
            [amount]="amount"
            [title]="'Game Winning Goals'"
            [statTag]="'GWG'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'fp'"
            [page]="page"
            [amount]="amount"
            [title]="'Fantasy Points'"
            [statTag]="'FP'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'fpa'"
            [page]="page"
            [amount]="amount"
            [title]="'FP Avg'"
            [statTag]="'FPA'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'skating'" 
            [statField]="'shots'"
            [page]="page"
            [amount]="amount"
            [title]="'Shots'"
            [statTag]="'Shots'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'skating'" 
            [statField]="'blockedShots'"
            [page]="page"
            [amount]="amount"
            [title]="'Blocks'"
            [statTag]="'Blk'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="dSkaters" 
            [statType]="'scoring'" 
            [statField]="'iceTimeAvg'"
            [page]="page"
            [amount]="amount"
            [title]="'Defense Ice Time Avg'"
            [statTag]="'ITA'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="fSkaters" 
            [statType]="'scoring'" 
            [statField]="'iceTimeAvg'"
            [page]="page"
            [amount]="amount"
            [title]="'Forward Ice Time Avg'"
            [statTag]="'ITA'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>
        </section>

        <section [ngClass]="{'dn' : !mlbSection}">
            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'pitcherStrikeouts'"
            [page]="page"
            [amount]="amount"
            [title]="'Strikeouts'"
            [statTag]="'Ks'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'wins'"
            [page]="page"
            [amount]="amount"
            [title]="'Wins'"
            [statTag]="'W'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'earnedRunAvg'"
            [page]="page"
            [amount]="amount"
            [title]="'ERA'"
            [statTag]="'ERA'"
            [order]="'ASC'"
            [sport]="'mlb'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'saves'"
            [page]="page"
            [amount]="amount"
            [title]="'Saves'"
            [statTag]="'SV'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'fpa'"
            [page]="page"
            [amount]="amount"
            [title]="'Fantasy Points Avg'"
            [statTag]="'FPA'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'pca'"
            [page]="page"
            [amount]="amount"
            [title]="'Pitch Count Avg'"
            [statTag]="'PCA'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'hitsAllowed'"
            [page]="page"
            [amount]="amount"
            [title]="'Hits Given Up'"
            [statTag]="'HA'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'walksAllowedPer9Innings'"
            [page]="page"
            [amount]="amount"
            [title]="'Walk Avg'"
            [statTag]="'WA'"
            [order]="'ASC'"
            [sport]="'mlb'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>
        </section>

        <section [ngClass]="{'dn' : !mlbHittingSection}">
            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'battingAvg'"
            [page]="page"
            [amount]="amount"
            [title]="'Batting Avg'"
            [statTag]="'BA'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'runsBattedIn'"
            [page]="page"
            [amount]="amount"
            [title]="'RBI'"
            [statTag]="'RBI'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'homeruns'"
            [page]="page"
            [amount]="amount"
            [title]="'HomeRuns'"
            [statTag]="'HR'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'hits'"
            [page]="page"
            [amount]="amount"
            [title]="'Hits'"
            [statTag]="'Hits'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'runs'"
            [page]="page"
            [amount]="amount"
            [title]="'Runs'"
            [statTag]="'Runs'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'secondBaseHits'"
            [page]="page"
            [amount]="amount"
            [title]="'Doubles'"
            [statTag]="'Dbls'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'stolenBases'"
            [page]="page"
            [amount]="amount"
            [title]="'Stolen Bases'"
            [statTag]="'SB'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'plateAppearances'"
            [page]="page"
            [amount]="amount"
            [title]="'Plate Appearances'"
            [statTag]="'PA'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'fpa'"
            [page]="page"
            [amount]="amount"
            [title]="'Fantasy Points Avg'"
            [statTag]="'FPA'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"
            [twitter]="twitter"
            ></app-stat-card>
          </section>

          <section [ngClass]="{'dn' : !nflSection}">
              <app-stat-card *ngIf="!nflOffenseLoading && nflQBData != null" 
              [data]="nflQBData" 
              [statType]="'passing'"
              [statField]="'passYards'"
              [page]="page"
              [amount]="amount"
              [title]="'Passing Yards'"
              [statTag]="'PY'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="100"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflQBData != null" 
              [data]="nflQBData" 
              [statType]="'rushing'"
              [statField]="'rushYards'"
              [page]="page"
              [amount]="amount"
              [title]="'QB Rush Yards'"
              [statTag]="'RY'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="50"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflQBData != null && week === 'three-weeks'" 
              [data]="nflQBData" 
              [statType]="'passing'"
              [statField]="'ydsPerGame'"
              [page]="page"
              [amount]="amount"
              [title]="'QB Yards Avg'"
              [statTag]="'YA'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="100"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRushData != null" 
              [data]="nflRushData" 
              [statType]="'rushing'"
              [statField]="'rushYards'"
              [page]="page"
              [amount]="amount"
              [title]="'Rushing Yards'"
              [statTag]="'RY'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="850"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRushData != null && week === 'three-weeks'" 
              [data]="nflRushData" 
              [statType]="'rushing'"
              [statField]="'ydsPerGame'"
              [page]="page"
              [amount]="amount"
              [title]="'RB Yards Avg'"
              [statTag]="'YA'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="850"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRushData != null" 
              [data]="nflRushData" 
              [statType]="'receiving'"
              [statField]="'receptions'"
              [page]="page"
              [amount]="amount"
              [title]="'RB Receptions'"
              [statTag]="'Rec'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="5"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRecData != null" 
              [data]="nflRecData" 
              [statType]="'receiving'"
              [statField]="'recYards'"
              [page]="page"
              [amount]="amount"
              [title]="'WR Yards'"
              [statTag]="'Yds'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="1000"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRecData != null" 
              [data]="nflRecData" 
              [statType]="'receiving'"
              [statField]="'receptions'"
              [page]="page"
              [amount]="amount"
              [title]="'WR Receptions'"
              [statTag]="'Rec'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="70"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRecData != null && week === 'three-weeks'" 
              [data]="nflRecData" 
              [statType]="'receiving'"
              [statField]="'ydsPerGame'"
              [page]="page"
              [amount]="amount"
              [title]="'WR Yards Avg'"
              [statTag]="'YA'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="70"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflTEData != null" 
              [data]="nflTEData" 
              [statType]="'receiving'"
              [statField]="'recYards'"
              [page]="page"
              [amount]="amount"
              [title]="'TE Yards'"
              [statTag]="'Yds'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="1000"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflTEData != null" 
              [data]="nflTEData" 
              [statType]="'receiving'"
              [statField]="'receptions'"
              [page]="page"
              [amount]="amount"
              [title]="'TE Receptions'"
              [statTag]="'Rec'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="70"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRecData != null && week === 'three-weeks'" 
              [data]="nflTEData" 
              [statType]="'receiving'"
              [statField]="'ydsPerGame'"
              [page]="page"
              [amount]="amount"
              [title]="'TE Yards Avg'"
              [statTag]="'YA'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="70"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflKickerData != null" 
              [data]="nflKickerData" 
              [statType]="'fieldGoals'"
              [statField]="'fgMade'"
              [page]="page"
              [amount]="amount"
              [title]="'FieldGoals'"
              [statTag]="'FG'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="40"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflKickerData != null" 
              [data]="nflKickerData" 
              [statType]="'fieldGoals'"
              [statField]="'longFgMade'"
              [page]="page"
              [amount]="amount"
              [title]="'FG +40Yards'"
              [statTag]="'FG'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="40"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflQBData != null && (week === 'all' || week === 'three-weeks')" 
              [data]="nflQBData" 
              [statType]="'passing'"
              [statField]="'totalPassPct'"
              [page]="page"
              [amount]="amount"
              [title]="'Pass Percent of All Plays'"
              [statTag]="'%'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="40"
              ></app-stat-card>


              <app-stat-card *ngIf="!nflOffenseLoading && nflRushData != null && (week === 'all' || week === 'three-weeks')" 
              [data]="nflRushData" 
              [statType]="'rushing'"
              [statField]="'touchRunPct'"
              [page]="page"
              [amount]="amount"
              [title]="'Touch Percent of All Rush Plays'"
              [statTag]="'%'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="40"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRecData != null && (week === 'all' || week === 'three-weeks')" 
              [data]="nflRecData" 
              [statType]="'receiving'"
              [statField]="'touchCatchPct'"
              [page]="page"
              [amount]="amount"
              [title]="'Touch Percent of All Pass Plays'"
              [statTag]="'%'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="40"
              ></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflTEData != null && (week === 'all' || week === 'three-weeks')" 
              [data]="nflTEData" 
              [statType]="'receiving'"
              [statField]="'touchCatchPct'"
              [page]="page"
              [amount]="amount"
              [title]="'Touch Percent of All Pass Plays'"
              [statTag]="'%'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"
              [twitter]="twitter"
              [ndk]="nflDraftKit"
              [seasonLength]="seasonLength"
              [eliteStat]="40"
              ></app-stat-card>

              <app-team-rank *ngIf="!nflTeamLoading && !nflDraftKit && this.teamSchedules.length > 0" 
                [data]="nflTeamStats" 
                [teams]="nflTeams"
                [title]="'Offense Team Rank'"
                [week]="nflWeek">
              </app-team-rank>

              <app-team-rank *ngIf="!nflTeamLoading && nflDraftKit && this.teamSchedules.length > 0" 
                [data]="nflTeamStats" 
                [teams]="nflTeams"
                [title]="'Toughest Defense Schedule 2020'"
                (seasonChange)="seasonLength = $event"
                [week]="nflWeek">
              </app-team-rank>

            </section>

             <section [ngClass]="{'dn' : !nflDefenseSection}">
                <app-stat-card *ngIf="!nflDefenseLoading && nflDefenseData != null" 
                [data]="nflDefenseData" 
                [statType]="'tackles'" 
                [statField]="'tackleTotal'"
                [page]="page"
                [amount]="amount"
                [title]="'Tackles'"
                [statTag]="'Tkls'"
                [sport]="'nfl'"
                [order]="'DESC'"
                [teams]="nflTeams"
                (open)="authorize($event)"
                [twitter]="twitter"
                [ndk]="nflDraftKit"
                [seasonLength]="seasonLengthD"
                ></app-stat-card>

                <app-stat-card *ngIf="!nflDefenseLoading && nflDefenseData != null" 
                [data]="nflDefenseData" 
                [statType]="'tackles'" 
                [statField]="'sacks'"
                [page]="page"
                [amount]="amount"
                [title]="'Sacks'"
                [statTag]="'Sacks'"
                [sport]="'nfl'"
                [order]="'DESC'"
                [teams]="nflTeams"
                (open)="authorize($event)"
                [twitter]="twitter"
                [ndk]="nflDraftKit"
                [seasonLength]="seasonLengthD"
                ></app-stat-card>

                <app-stat-card *ngIf="!nflDefenseLoading && nflDefenseData != null" 
                [data]="nflDefenseData" 
                [statType]="'interceptions'" 
                [statField]="'interceptions'"
                [page]="page"
                [amount]="amount"
                [title]="'Interceptions'"
                [statTag]="'INT'"
                [sport]="'nfl'"
                [order]="'DESC'"
                [teams]="nflTeams"
                (open)="authorize($event)"
                [twitter]="twitter"
                [ndk]="nflDraftKit"
                [seasonLength]="seasonLengthD"
                ></app-stat-card>

                <app-stat-card *ngIf="!nflDefenseLoading && nflDefenseData != null" 
                [data]="nflDefenseData" 
                [statType]="'interceptions'" 
                [statField]="'passesDefended'"
                [page]="page"
                [amount]="amount"
                [title]="'Pass Defended'"
                [statTag]="'PD'"
                [sport]="'nfl'"
                [order]="'DESC'"
                [teams]="nflTeams"
                (open)="authorize($event)"
                [twitter]="twitter"
                [ndk]="nflDraftKit"
                [seasonLength]="seasonLengthD"
                ></app-stat-card>

                <app-team-rank *ngIf="!nflTeamLoading && !nflDraftKit && this.teamSchedules.length > 0" 
                [data]="nflTeamStats" 
                [teams]="nflTeams"
                [title]="'Defense Team Rank'">
                </app-team-rank>

                <app-team-rank *ngIf="!nflTeamLoading && nflDraftKit && this.teamSchedules.length > 0" 
                [data]="nflTeamStats" 
                [teams]="nflTeams"
                [title]="'Toughest Offense Schedule 2020'"
                (seasonChangeD)="seasonLengthD = $event">
                </app-team-rank>
              </section>
      
  <div class="row" *ngIf="!loading">
      <div class="center twitter-btn">
          <button (click)="twitter = !twitter">Twitter</button>
      </div>
  </div>
  <div class="top-arrow">
      <span (click)="goAnchor('top')">TOP &uarr;</span>
  </div>
</div>