<div id="top">
    <h1 class="center date-header baseball-header">{{mlbHittingSection ? 'MLB' : mlbSection ? 'MLB' : nbaSection ? 'NBA' : nhlSection ? 'NHL' : nhlGoalies ? 'NHL' : nflSection ? 'NFL' : nflDefenseSection ? 'NFL' : ''}} Stat Leaders</h1>
</div>

<div id="overlay" [ngClass]="{'active': isOpen}" (click)="isOpen = false">
    <div class="modal" (click)="$event.stopPropagation()">
      <div class="modal-header" *ngIf="!submitting">
          <span> Twitter Updates - <span class="{{type}}"><img src="{{selectedPlayer?.player?.officialImageSrc}}" alt="basketball player"
            onError="this.src='https://www.nba.com/.element/img/2.0/sect/statscube/players/large/default_nba_headshot_v2.png'"></span> 
            <span>{{selectedPlayer?.player?.firstName + ' ' + selectedPlayer?.player?.lastName}} - {{selectedPlayer?.player?.primaryPosition}} | #{{selectedPlayer?.player.jerseyNumber}} </span>
            <!-- <span class="team-image"> <img src="{{selectedPlayer?.team?.logo}}" alt="{{selectedPlayer?.team?.name}} logo"></span> -->
          </span>
          <span class="right" (click)="isOpen = false">X</span>
      </div>
        
        <div class="center" *ngIf="submitting">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
        </div>
        <div class="center" *ngIf="noPosts">
            <span style="font-size: 26px; font-weight: light; color: #555;">{{ noPosts }}</span>
        </div>
        
        <div class="content" *ngIf="!submitting"> 
          
            <ul *ngFor="let item of tweetsData" style="font-size:14px">
              <li>{{item.text}} <span style="color:#6740B4; font-weight: bold;">{{item.created_at | date:'fullDate'}}</span></li>
            </ul>
          
        </div>  
    </div>
</div>
         
<div class="button-wrapper sl-btns" *ngIf="!loading">
    <div class="schedule-box row">
      <div [ngClass]="{'active': nbaSection}" class="col" (click)="nbaSection = true; nhlSection = false; mlbHittingSection = false; mlbSection = false; nhlGoalies = false;">
          <span class="sched-item">
            NBA
          </span> 
      </div>
      <div [ngClass]="{'active': nhlSection || nhlGoalies}" class="col" (click)="sortNHL()">
          <span class="sched-item">
            NHL
          </span> 
      </div>
      <div [ngClass]="{'active': mlbSection}" class="col" (click)="loadMLB()">
          <span class="sched-item">
            MLB
          </span> 
      </div>
      <div [ngClass]="{'active': nflSection}" class="col" (click)="loadNFL()">
          <span class="sched-item">
            NFL
          </span> 
      </div>
    </div>
</div>
<div class="center buttons">
   <button (click)="page = 19; amount = -1">1 - 20</button>  <button (click)="page = 39; amount = 19">21 - 40</button> 
   <button [ngClass]="{'dn' : !nhlSection}" (click)="nhlSection = false; nhlGoalies = true;">NHL Goalies</button>  <button [ngClass]="{'dn' : !nhlGoalies}" (click)="nhlSection = true; nhlGoalies = false;">NHL Skaters</button>
   <button [ngClass]="{'dn' : !mlbSection}" (click)="mlbSection = false; mlbHittingSection = true;">MLB Hitters</button>  <button [ngClass]="{'dn' : !mlbHittingSection}" (click)="mlbSection = true; mlbHittingSection = false;">MLB Pitchers</button>
   <button [ngClass]="{'dn' : !nflSection}" (click)="nflSection = false; nflDefenseSection = true;">Defense</button>  <button [ngClass]="{'dn' : !nflDefenseSection}" (click)="nflSection = true; nflDefenseSection = false;">Offense</button>
</div>
<!-- <div class="center">
    <button (click)="getByDate(false)">last 4 weeks</button> &nbsp;&nbsp; <button (click)="getByDate(true)">Season</button>
</div> -->
<app-spinner *ngIf="loading || nhlGoalieloading || nhlSkaterloading || mlbPitchingLoading || mlbHittingLoading || nflOffenseLoading || nflDefenseLoading" [size]="'lg'" [color]="'white'" [title]="'Stat Leader Data'"></app-spinner>
<div *ngIf="errMessage" class="err center">
  <h1><strong>Error: </strong> {{ errMessage }}</h1>
</div>


<div *ngIf="myData != null" class="main-row stat-leaders">
  
        <section [ngClass]="{'dn' : !nbaSection}">
          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'offense'" 
          [statField]="'pts'"
          [page]="page"
          [amount]="amount"
          [title]="'Points'"
          [statTag]="'Pts'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'offense'" 
          [statField]="'ptsPerGame'"
          [page]="page"
          [amount]="amount"
          [title]="'Point Avg'"
          [statTag]="'Pts Avg'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'rebounds'" 
          [statField]="'reb'"
          [page]="page"
          [amount]="amount"
          [title]="'Rebounds'"
          [statTag]="'Reb'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'offense'" 
          [statField]="'ast'"
          [page]="page"
          [amount]="amount"
          [title]="'Assists'"
          [statTag]="'Ast'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'defense'" 
          [statField]="'stl'"
          [page]="page"
          [amount]="amount"
          [title]="'Steals'"
          [statTag]="'Stl'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'fieldGoals'" 
          [statField]="'fg3PtMade'"
          [page]="page"
          [amount]="amount"
          [title]="'Three Pointers'"
          [statTag]="'3PM'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'defense'" 
          [statField]="'blk'"
          [page]="page"
          [amount]="amount"
          [title]="'Blocks'"
          [statTag]="'Blk'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'fieldGoals'" 
          [statField]="'fgAtt'"
          [page]="page"
          [amount]="amount"
          [title]="'Shots'"
          [statTag]="'Shots'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'fieldGoals'" 
          [statField]="'fgPct'"
          [page]="page"
          [amount]="amount"
          [title]="'FieldGoal %'"
          [statTag]="'FG%'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!loading && myData != null" 
          [data]="myData" 
          [statType]="'defense'" 
          [statField]="'tov'"
          [page]="page"
          [amount]="amount"
          [title]="'Turn Overs'"
          [statTag]="'TO'"
          [sport]="'nba'"
          [order]="'DESC'"
          [teams]="nbaTeams"
          (open)="authorize($event)"></app-stat-card>
        </section>

        <section [ngClass]="{'dn' : !nhlGoalies}">
          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'saves'"
          [page]="page"
          [amount]="amount"
          [title]="'Saves'"
          [statTag]="'SV'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'shutouts'"
          [page]="page"
          [amount]="amount"
          [title]="'ShutOuts'"
          [statTag]="'SO'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'wins'"
          [page]="page"
          [amount]="amount"
          [title]="'Wins'"
          [statTag]="'Wins'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'losses'"
          [page]="page"
          [amount]="amount"
          [title]="'Losses'"
          [statTag]="'Losses'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'overtimeWins'"
          [page]="page"
          [amount]="amount"
          [title]="'OverTime Wins'"
          [statTag]="'OTW'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"></app-stat-card>

          <app-stat-card *ngIf="!nhlGoalieloading && nhlGoaltenders != null" 
          [data]="nhlGoaltenders" 
          [statType]="'goaltending'" 
          [statField]="'overtimeLosses'"
          [page]="page"
          [amount]="amount"
          [title]="'OverTime Losses'"
          [statTag]="'OTL'"
          [sport]="'nhl'"
          [order]="'DESC'"
          [teams]="nhlTeams"
          (open)="authorize($event)"></app-stat-card>
        </section>

        <section [ngClass]="{'dn' : !nhlSection}">
            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'goals'"
            [page]="page"
            [amount]="amount"
            [title]="'Goals'"
            [statTag]="'Gls'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'assists'"
            [page]="page"
            [amount]="amount"
            [title]="'Assists'"
            [statTag]="'Ast'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'powerplayGoals'"
            [page]="page"
            [amount]="amount"
            [title]="'PowerPlay Goals'"
            [statTag]="'PPG'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'powerplayAssists'"
            [page]="page"
            [amount]="amount"
            [title]="'PowerPlay Assist'"
            [statTag]="'PPA'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'points'"
            [page]="page"
            [amount]="amount"
            [title]="'Points'"
            [statTag]="'Pts'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'scoring'" 
            [statField]="'gameWinningGoals'"
            [page]="page"
            [amount]="amount"
            [title]="'Game Winning Goals'"
            [statTag]="'GWG'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'skating'" 
            [statField]="'shots'"
            [page]="page"
            [amount]="amount"
            [title]="'Shots'"
            [statTag]="'Shots'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!nhlSkaterloading && nhlSkaters != null" 
            [data]="nhlSkaters" 
            [statType]="'skating'" 
            [statField]="'blockedShots'"
            [page]="page"
            [amount]="amount"
            [title]="'Blocks'"
            [statTag]="'Blk'"
            [sport]="'nhl'"
            [order]="'DESC'"
            [teams]="nhlTeams"
            (open)="authorize($event)"></app-stat-card>
        </section>

        <section [ngClass]="{'dn' : !mlbSection}">
            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'pitcherStrikeouts'"
            [page]="page"
            [amount]="amount"
            [title]="'Strikeouts'"
            [statTag]="'Ks'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'wins'"
            [page]="page"
            [amount]="amount"
            [title]="'Wins'"
            [statTag]="'W'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'earnedRunAvg'"
            [page]="page"
            [amount]="amount"
            [title]="'ERA'"
            [statTag]="'ERA'"
            [order]="'ASC'"
            [sport]="'mlb'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'saves'"
            [page]="page"
            [amount]="amount"
            [title]="'Saves'"
            [statTag]="'SV'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'hitsAllowed'"
            [page]="page"
            [amount]="amount"
            [title]="'Hits Given Up'"
            [statTag]="'HA'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbPitchingLoading && mlbPitchingData != null" 
            [data]="mlbPitchingData" 
            [statType]="'pitching'" 
            [statField]="'walksAllowedPer9Innings'"
            [page]="page"
            [amount]="amount"
            [title]="'Walk Avg'"
            [statTag]="'WA'"
            [order]="'ASC'"
            [sport]="'mlb'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>
        </section>

        <section [ngClass]="{'dn' : !mlbHittingSection}">
            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'battingAvg'"
            [page]="page"
            [amount]="amount"
            [title]="'Batting Avg'"
            [statTag]="'BA'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'runsBattedIn'"
            [page]="page"
            [amount]="amount"
            [title]="'RBI'"
            [statTag]="'RBI'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'homeruns'"
            [page]="page"
            [amount]="amount"
            [title]="'HomeRuns'"
            [statTag]="'HR'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'hits'"
            [page]="page"
            [amount]="amount"
            [title]="'Hits'"
            [statTag]="'Hits'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'runs'"
            [page]="page"
            [amount]="amount"
            [title]="'Runs'"
            [statTag]="'Runs'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'secondBaseHits'"
            [page]="page"
            [amount]="amount"
            [title]="'Doubles'"
            [statTag]="'Dbls'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'stolenBases'"
            [page]="page"
            [amount]="amount"
            [title]="'Stolen Bases'"
            [statTag]="'SB'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>

            <app-stat-card *ngIf="!mlbHittingLoading && mlbHittingData != null" 
            [data]="mlbHittingData" 
            [statType]="'batting'" 
            [statField]="'plateAppearances'"
            [page]="page"
            [amount]="amount"
            [title]="'Plate Appearances'"
            [statTag]="'PA'"
            [sport]="'mlb'"
            [order]="'DESC'"
            [teams]="mlbTeams"
            (open)="authorize($event)"></app-stat-card>
          </section>

          <section [ngClass]="{'dn' : !nflSection}">
              <app-stat-card *ngIf="!nflOffenseLoading && nflQBData != null" 
              [data]="nflQBData" 
              [statType]="'passing'" 
              [statField]="'passYards'"
              [page]="page"
              [amount]="amount"
              [title]="'Passing Yards'"
              [statTag]="'PY'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRushData != null" 
              [data]="nflRushData" 
              [statType]="'rushing'" 
              [statField]="'rushYards'"
              [page]="page"
              [amount]="amount"
              [title]="'Rushing Yards'"
              [statTag]="'RY'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRecData != null" 
              [data]="nflRecData" 
              [statType]="'receiving'" 
              [statField]="'recYards'"
              [page]="page"
              [amount]="amount"
              [title]="'Reception Yards'"
              [statTag]="'Rec Yds'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"></app-stat-card>

              <app-stat-card *ngIf="!nflOffenseLoading && nflRecData != null" 
              [data]="nflRecData" 
              [statType]="'receiving'" 
              [statField]="'receptions'"
              [page]="page"
              [amount]="amount"
              [title]="'Receptions'"
              [statTag]="'Rec'"
              [sport]="'nfl'"
              [order]="'DESC'"
              [teams]="nflTeams"
              (open)="authorize($event)"></app-stat-card>

              <app-team-rank *ngIf="!nflTeamLoading" 
                [data]="nflTeamStats" 
                [teams]="nflTeams"
                [title]="'Offense'">
              </app-team-rank>
            </section>

             <section [ngClass]="{'dn' : !nflDefenseSection}">
                <app-stat-card *ngIf="!nflDefenseLoading && nflDefenseData != null" 
                [data]="nflDefenseData" 
                [statType]="'tackles'" 
                [statField]="'tackleTotal'"
                [page]="page"
                [amount]="amount"
                [title]="'Tackles'"
                [statTag]="'Tkls'"
                [sport]="'nfl'"
                [order]="'DESC'"
                [teams]="nflTeams"
                (open)="authorize($event)"></app-stat-card>

                <app-stat-card *ngIf="!nflDefenseLoading && nflDefenseData != null" 
                [data]="nflDefenseData" 
                [statType]="'tackles'" 
                [statField]="'sacks'"
                [page]="page"
                [amount]="amount"
                [title]="'Sacks'"
                [statTag]="'Sacks'"
                [sport]="'nfl'"
                [order]="'DESC'"
                [teams]="nflTeams"
                (open)="authorize($event)"></app-stat-card>

                <app-stat-card *ngIf="!nflDefenseLoading && nflDefenseData != null" 
                [data]="nflDefenseData" 
                [statType]="'interceptions'" 
                [statField]="'interceptions'"
                [page]="page"
                [amount]="amount"
                [title]="'Interceptions'"
                [statTag]="'INT'"
                [sport]="'nfl'"
                [order]="'DESC'"
                [teams]="nflTeams"
                (open)="authorize($event)"></app-stat-card>

                <app-stat-card *ngIf="!nflDefenseLoading && nflDefenseData != null" 
                [data]="nflDefenseData" 
                [statType]="'interceptions'" 
                [statField]="'passesDefended'"
                [page]="page"
                [amount]="amount"
                [title]="'Pass Defended'"
                [statTag]="'PD'"
                [sport]="'nfl'"
                [order]="'DESC'"
                [teams]="nflTeams"
                (open)="authorize($event)"></app-stat-card>

                <app-team-rank *ngIf="!nflTeamLoading" 
                [data]="nflTeamStats" 
                [teams]="nflTeams"
                [title]="'Defense'">
                </app-team-rank>
              </section>
<!--       
                    <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                        <div>
                            <button (click)="twitter = !twitter">Twitter</button>
                        </div>
                    </div> -->
                    <!-- <div *ngIf="twitter">
                       
                      <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                        <h2>Points</h2>
                          <div>
                              <div class="content-wrapper">
                                  <div class="row">
                                      <div class="w100">
                                          #NBA {{ gameDate | date:'fullDate' }}
                                      </div>
                                      <div class="w100">
                                          #Top5 Points
                                      </div>
                                    <div *ngFor="let item of myData | orderBy: 'nbaleaders'; let i=index" class="w100">
                                            <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                                              <span class="player-infos">
                                                  <span class="names" *ngIf="!mobile">
                                                      <span *ngIf="item.player.firstName != 'Shai'"> 
                                                          {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}}
                                                        </span>
                                                        <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                                          {{ teams[item.player['currentTeam'].abbreviation].twitter }} S. {{item.player.lastName}}  
                                                        </span>
                                                  </span>
          
                                                  <span class="names" *ngIf="mobile">
                                                      <span> 
                                                        {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}} 
                                                      </span>
                                                  </span>
                                                  <span class="lg"> {{item?.stats?.offense?.pts}} Pts</span>
                                                
                                                  </span>
                                              
                                            </span>
                                          </div>
                                          <div class="w100">
                                              #NBATwitter #Stats
                                          </div>
                                
                                  </div>
                                </div>
                      
                          </div>
                      </div>

                      <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                          <h2>Point Avg</h2>
                            <div>
                                <div class="content-wrapper">
                                    <div class="row">
                                        <div class="w100">
                                            #NBA {{ gameDate | date:'fullDate' }}
                                        </div>
                                        <div class="w100">
                                            #Top5 Points Per Game
                                        </div>
                                      <div *ngFor="let item of myData | orderBy: 'nbaleadersavg'; let i=index" class="w100">
                                              <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                                                <span class="player-infos">
                                                    <span class="names" *ngIf="!mobile">
                                                        <span *ngIf="item.player.firstName != 'Shai'"> 
                                                            {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}}
                                                          </span>
                                                          <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                                            {{ teams[item.player['currentTeam'].abbreviation].twitter }} S. {{item.player.lastName}}  
                                                          </span>
                                                    </span>
            
                                                    <span class="names" *ngIf="mobile">
                                                        <span> 
                                                          {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}} 
                                                        </span>
                                                    </span>
                                                    <span class="lg"> {{item?.stats?.offense?.ptsPerGame}} Pts Avg</span>
                                                  
                                                    </span>
                                                
                                              </span>
                                            </div>
                                            <div class="w100">
                                                #NBATwitter #Stats
                                            </div>
                                  
                                    </div>
                                  </div>
                        
                            </div>
                        </div>

                        <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                            <h2>Rebounds</h2>
                              <div>
                                  <div class="content-wrapper">
                                      <div class="row">
                                          <div class="w100">
                                              #NBA {{ gameDate | date:'fullDate' }}
                                          </div>
                                          <div class="w100">
                                              #Top5 Rebounds
                                          </div>
                                        <div *ngFor="let item of myData | orderBy: 'nbaleadersreb'; let i=index" class="w100">
                                                <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                                                  <span class="player-infos">
                                                      <span class="names" *ngIf="!mobile">
                                                          <span *ngIf="item.player.firstName != 'Shai'"> 
                                                              {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}}
                                                            </span>
                                                            <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                                              {{ teams[item.player['currentTeam'].abbreviation].twitter }} S. {{item.player.lastName}}  
                                                            </span>
                                                      </span>
              
                                                      <span class="names" *ngIf="mobile">
                                                          <span> 
                                                            {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}} 
                                                          </span>
                                                      </span>
                                                      <span class="lg"> {{item?.stats?.rebounds?.reb}} Reb</span>
                                                    
                                                      </span>
                                                  
                                                </span>
                                              </div>
                                              <div class="w100">
                                                  #NBATwitter #Stats
                                              </div>
                                    
                                      </div>
                                    </div>
                          
                              </div>
                          </div>
                          <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                              <h2>Assists</h2>
                                <div>
                                    <div class="content-wrapper">
                                        <div class="row">
                                            <div class="w100">
                                                #NBA {{ gameDate | date:'fullDate' }}
                                            </div>
                                            <div class="w100">
                                                #Top5 Assists
                                            </div>
                                          <div *ngFor="let item of myData | orderBy: 'nbaleadersast'; let i=index" class="w100">
                                                  <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                                                    <span class="player-infos">
                                                        <span class="names" *ngIf="!mobile">
                                                            <span *ngIf="item.player.firstName != 'Shai'"> 
                                                                {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}}
                                                              </span>
                                                              <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                                                {{ teams[item.player['currentTeam'].abbreviation].twitter }} S. {{item.player.lastName}}  
                                                              </span>
                                                        </span>
                
                                                        <span class="names" *ngIf="mobile">
                                                            <span> 
                                                              {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}} 
                                                            </span>
                                                        </span>
                                                        <span class="lg"> {{item?.stats?.offense?.ast}} Ast</span>
                                                      
                                                        </span>
                                                    
                                                  </span>
                                                </div>
                                                <div class="w100">
                                                    #NBATwitter #Stats
                                                </div>
                                      
                                        </div>
                                      </div>
                            
                                </div>
                            </div>
                            <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                                <h2>Steals</h2>
                                  <div>
                                      <div class="content-wrapper">
                                          <div class="row">
                                              <div class="w100">
                                                  #NBA {{ gameDate | date:'fullDate' }}
                                              </div>
                                              <div class="w100">
                                                  #Top5 Steals
                                              </div>
                                            <div *ngFor="let item of myData | orderBy: 'nbaleadersstl'; let i=index" class="w100">
                                                    <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                                                      <span class="player-infos">
                                                          <span class="names" *ngIf="!mobile">
                                                              <span *ngIf="item.player.firstName != 'Shai'"> 
                                                                  {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}}
                                                                </span>
                                                                <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                                                  {{ teams[item.player['currentTeam'].abbreviation].twitter }} S. {{item.player.lastName}}  
                                                                </span>
                                                          </span>
                  
                                                          <span class="names" *ngIf="mobile">
                                                              <span> 
                                                                {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}} 
                                                              </span>
                                                          </span>
                                                          <span class="lg"> {{item?.stats?.defense?.stl}} Stl</span>
                                                        
                                                          </span>
                                                      
                                                    </span>
                                                  </div>
                                                  <div class="w100">
                                                      #NBATwitter #Stats
                                                  </div>
                                        
                                          </div>
                                        </div>
                              
                                  </div>
                              </div>
                              <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                                  <h2>Blocks</h2>
                                    <div>
                                        <div class="content-wrapper">
                                            <div class="row">
                                                <div class="w100">
                                                    #NBA {{ gameDate | date:'fullDate' }}
                                                </div>
                                                <div class="w100">
                                                    #Top5 Blocks
                                                </div>
                                              <div *ngFor="let item of myData | orderBy: 'nbaleadersblk'; let i=index" class="w100">
                                                      <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                                                        <span class="player-infos">
                                                            <span class="names" *ngIf="!mobile">
                                                                <span *ngIf="item.player.firstName != 'Shai'"> 
                                                                    {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}}
                                                                  </span>
                                                                  <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                                                    {{ teams[item.player['currentTeam'].abbreviation].twitter }} S. {{item.player.lastName}}  
                                                                  </span>
                                                            </span>
                    
                                                            <span class="names" *ngIf="mobile">
                                                                <span> 
                                                                  {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}} 
                                                                </span>
                                                            </span>
                                                            <span class="lg"> {{item?.stats?.defense?.blk}} blk</span>
                                                          
                                                            </span>
                                                        
                                                      </span>
                                                    </div>
                                                    <div class="w100">
                                                        #NBATwitter #Stats
                                                    </div>
                                          
                                            </div>
                                          </div>
                                
                                    </div>
                                </div>
                                <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                                    <h2>Three Pointers</h2>
                                      <div>
                                          <div class="content-wrapper">
                                              <div class="row">
                                                  <div class="w100">
                                                      #NBA {{ gameDate | date:'fullDate' }}
                                                  </div>
                                                  <div class="w100">
                                                      #Top5 Three Pointers
                                                  </div>
                                                <div *ngFor="let item of myData | orderBy: 'nbaleadersthree'; let i=index" class="w100">
                                                        <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                                                          <span class="player-infos">
                                                              <span class="names" *ngIf="!mobile">
                                                                  <span *ngIf="item.player.firstName != 'Shai'"> 
                                                                      {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}}
                                                                    </span>
                                                                    <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                                                      {{ teams[item.player['currentTeam'].abbreviation].twitter }} S. {{item.player.lastName}}  
                                                                    </span>
                                                              </span>
                      
                                                              <span class="names" *ngIf="mobile">
                                                                  <span> 
                                                                    {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}} 
                                                                  </span>
                                                              </span>
                                                              <span class="lg"> 3PM {{item?.stats?.fieldGoals?.fg3PtMade}} </span>
                                                            
                                                              </span>
                                                          
                                                        </span>
                                                      </div>
                                                      <div class="w100">
                                                          #NBATwitter #Stats
                                                      </div>
                                            
                                              </div>
                                            </div>
                                  
                                      </div>
                                  </div>
                                <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                                    <h2>Shots</h2>
                                      <div>
                                          <div class="content-wrapper">
                                              <div class="row">
                                                  <div class="w100">
                                                      #NBA {{ gameDate | date:'fullDate' }}
                                                  </div>
                                                  <div class="w100">
                                                      #Top5 Shots
                                                  </div>
                                                <div *ngFor="let item of myData | orderBy: 'nbaleadersshots'; let i=index" class="w100">
                                                        <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                                                          <span class="player-infos">
                                                              <span class="names" *ngIf="!mobile">
                                                                  <span *ngIf="item.player.firstName != 'Shai'"> 
                                                                      {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}}
                                                                    </span>
                                                                    <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                                                      {{ teams[item.player['currentTeam'].abbreviation].twitter }} S. {{item.player.lastName}}  
                                                                    </span>
                                                              </span>
                      
                                                              <span class="names" *ngIf="mobile">
                                                                  <span> 
                                                                    {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}} 
                                                                  </span>
                                                              </span>
                                                              <span class="lg"> {{item?.stats?.fieldGoals?.fgAtt}} Shots</span>
                                                            
                                                              </span>
                                                          
                                                        </span>
                                                      </div>
                                                      <div class="w100">
                                                          #NBATwitter #Stats
                                                      </div>
                                            
                                              </div>
                                            </div>
                                  
                                      </div>
                                  </div>
                                  <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                                      <h2>FG %</h2>
                                        <div>
                                            <div class="content-wrapper">
                                                <div class="row">
                                                    <div class="w100">
                                                        #NBA {{ gameDate | date:'fullDate' }}
                                                    </div>
                                                    <div class="w100">
                                                        #Top5 FG %
                                                    </div>
                                                  <div *ngFor="let item of myData | orderBy: 'nbaleadersfgpct'; let i=index" class="w100">
                                                          <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                                                            <span class="player-infos">
                                                                <span class="names" *ngIf="!mobile">
                                                                    <span *ngIf="item.player.firstName != 'Shai'"> 
                                                                        {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}}
                                                                      </span>
                                                                      <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                                                        {{ teams[item.player['currentTeam'].abbreviation].twitter }} S. {{item.player.lastName}}  
                                                                      </span>
                                                                </span>
                        
                                                                <span class="names" *ngIf="mobile">
                                                                    <span> 
                                                                      {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}} 
                                                                    </span>
                                                                </span>
                                                                <span class="lg"> {{item?.stats?.fieldGoals?.fgPct}} FG%</span>
                                                              
                                                                </span>
                                                            
                                                          </span>
                                                        </div>
                                                        <div class="w100">
                                                            #NBATwitter #Stats
                                                        </div>
                                              
                                                </div>
                                              </div>
                                    
                                        </div>
                                    </div>
                                    <div class="card-wrap-sp mat-elevation-z6 position-box" *ngIf="!loading">
                                        <h2>Turn Over</h2>
                                          <div>
                                              <div class="content-wrapper">
                                                  <div class="row">
                                                      <div class="w100">
                                                          #NBA {{ gameDate | date:'fullDate' }}
                                                      </div>
                                                      <div class="w100">
                                                          #Top5 Turn Over
                                                      </div>
                                                    <div *ngFor="let item of myData | orderBy: 'nbaleaderstov'; let i=index" class="w100">
                                                            <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                                                              <span class="player-infos">
                                                                  <span class="names" *ngIf="!mobile">
                                                                      <span *ngIf="item.player.firstName != 'Shai'"> 
                                                                          {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}}
                                                                        </span>
                                                                        <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                                                          {{ teams[item.player['currentTeam'].abbreviation].twitter }} S. {{item.player.lastName}}  
                                                                        </span>
                                                                  </span>
                          
                                                                  <span class="names" *ngIf="mobile">
                                                                      <span> 
                                                                        {{ teams[item.player['currentTeam'].abbreviation].twitter + ' ' + item.player.lastName}} 
                                                                      </span>
                                                                  </span>
                                                                  <span class="lg"> {{item?.stats?.defense?.tov}} TO</span>
                                                                
                                                                  </span>
                                                              
                                                            </span>
                                                          </div>
                                                          <div class="w100">
                                                              #NBATwitter #Stats
                                                          </div>
                                                
                                                  </div>
                                                </div>
                                      
                                          </div>
                                      </div>
                                  
                     
                    </div> -->
  <div class="top-arrow">
      <span (click)="goAnchor('top')">TOP &uarr;</span>
  </div>
</div>