.fixed-button {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 8;
}

.stat-block {
  background: #6740B4;
  color: #fff;
  border-radius: 10px;
  padding: 6px 1px 6px 1px;
  margin-left: 2px;
}

.no-game-header {
  font-weight: 300;
  color: #555;
}

.date-header {
  color: #fff;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  color: #fff;
  justify-content: center;
  .col {
    // display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0 0 45%;
    color: #fff;
    margin: 20px;
  }
}

.shed-row {
  // .schedule-box:hover {
  //   cursor: pointer;
  //   color: #ccc;
  //   border: 2px solid #ccc;
  // }
  .col {
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 100%;
    background: #333;
    color: #fff;
    font-size: 14px;
    border: 2px solid #000;
    border-radius: 5px;
    // padding: 5px;
    margin-bottom: 5px;
    
    .sched-item {
      margin-left: 20px;
    }

    .score {
      font-size: 14px;
    }

    .week-rank {
      text-align: center;
      display: block;
      font-size: 20px;
      font-weight: 200;
      padding: 4px 0 10px 0;
    }

    .abb {
      vertical-align: bottom;
      width: 178px;
      display: inline-block;
    }

    .abb-single {
      vertical-align: bottom;
      width: 100%;
      display: inline-block;
    }

    .abb.r {
      text-align: right;
    }

    .at {
      width: 110px;
      display: inline-block;
      text-align: center;
    }

    .rank-num {
      width: 40px;
      display: inline-block;
      text-align: center;
    }
  
    img {
      // width: 20%!important;
      margin: 0!important;
      vertical-align: bottom;
      height: 28px!important;
      width: 28px!important;
    }
   
    // .abb:hover,
    // .abb-single:hover {
    //   cursor: pointer;
    //   color: #ccc;
    // }

    .live {
      color: #2ecc71;
    }

  }

  // .showLink {
  //   color: #fff;
  //   background:  #d35400;
  //   top: 100%;
  //   position: absolute;
  //   transition: all .3s ease-out;
  //   height: 100%;
  //   width: 100%;
  //   padding: 10px;
  //   h2:hover {
  //     color:#ccc;
  //     cursor: pointer;
  //   }
  // }

  // .col:hover > .showLink {
  //   top: 0;
  // }
}

@media only screen and (max-width: 750px) {
  .row {
    .col {
      flex: 0 0 99%;
      margin: 0 0 20px 0;
    }
  }
  
  // .shed-row {
  //   .col{
  //     .abb {
  //       width: 117px;
  //     }
  //     .at {
  //       width: 100px;
  //     }
  //   }
  //   .showLink {
  //     height: 50%;
  //   }
  //   .col:hover > .showLink {
  //     top: 50%;
  //   }
  // }  
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media only screen and (max-width: 600px) {
  .material-icons.md-48 { 
    font-size: 38px; 
  }
}