<!-- <div id="top">
  <h1 class="center date-header baseball-header"> NHL Starting Goalies</h1>
</div>
<h1 class="center no-game-header" *ngIf="noGamesToday === true">{{noGamesMsg}}</h1> -->
<h1 class="center date-header">{{ nbaGameDate | date: "fullDate" }}</h1>
<h1 class="center date-header">Games</h1>
<!-- <div class="nhl-playoff"> -->
<!--   <h3 class="center date-header"><img src="../assets/nhl-logos/nhl-playoff.jpg" alt="nhl playoff image"></h3> -->
<!-- </div> -->
<div class="button-wrapper" *ngIf="!nbaLoading">
  <div class="schedule-box row">
    <div
      [ngClass]="{ active: nbaSched }"
      class="col"
      (click)="nbaSched = true; nhlSched = false; mlbSched = false; nflSched = false;"
    >
      <span class="sched-item">
        NBA
      </span>
    </div>
    <div
      [ngClass]="{ active: nhlSched }"
      class="col"
      (click)="nbaSched = false; nhlSched = true; mlbSched = false; nflSched = false;"
    >
      <span class="sched-item">
        NHL
      </span>
    </div>
    <div
      [ngClass]="{ active: mlbSched }"
      class="col"
      (click)="nbaSched = false; nhlSched = false; mlbSched = true; nflSched = false;"
    >
      <span class="sched-item">
        MLB
      </span>
    </div>
    <!-- <div 
      [ngClass]="{ active: nflSched }"
      class="col"
      (click)="nbaSched = false; nhlSched = false; mlbSched = false; nflSched = true;"
      >
            <span class="sched-item">
              NFL
            </span> 
        </div> -->
  </div>
</div>
<app-spinner *ngIf="nbaLoading" [size]="'lg'" [color]="'white'" [title]="'Games'"></app-spinner>
<!-- <div class="center loading-msg">
      Fetching games...
</div>
<div class="spinner-msg" *ngIf="nbaLoading">
   <div class="lds-ring white">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
   </div>
</div> -->
<div class="row home-row" *ngIf="!nbaLoading">
  <!-- <div class="schedule-box col card-wrap-sp mat-elevation-z6 tp-wrap"> -->
  <div *ngIf="nbaSched" class="row schedule">
    <!-- <span class="week-rank">NBA<br> </span>  -->
    <span *ngIf="noNbaGamesMsg">{{ noNbaGamesMsg }}</span>
    <div *ngFor="let item of nbaSchedule; let i = index" class="col">
      <div class="teams-container" [ngStyle]="{ background: '#303030' }">
        <span
          class="score-container"
          *ngIf="
            item?.schedule?.awayTeam?.abbreviation &&
            compareDate(item?.schedule?.startTime)
          "
          [ngStyle]="{
            background:
              'linear-gradient(-225deg, rgba(0,0,0,0.7) 50%, rgba(25, 28, 46,1.0) 80%), url(' +
              item?.schedule?.homeTeam?.logo +
              ')'
          }"
        >
          <div class="vertical" *ngIf="item?.score?.homeScoreTotal != null">
            <span class="lg"
              >{{ item?.schedule?.homeTeam?.abbreviation }}
            </span>
            <br />
            <span class="lg">{{ item?.score?.homeScoreTotal }}</span>
          </div>
        </span>

        <span
          class="score-container"
          *ngIf="
            item?.schedule?.awayTeam?.abbreviation &&
            compareDate(item?.schedule?.startTime)
          "
          [ngStyle]="{
            background:
              'linear-gradient(-225deg, rgba(0,0,0,0.7) 50%, rgba(25, 28, 46,1.0) 80%), url(' +
              item?.schedule?.awayTeam?.logo +
              ')'
          }"
        >
          <div class="vertical" *ngIf="item?.score?.homeScoreTotal != null">
            <span class="lg">
              {{ item?.schedule?.awayTeam?.abbreviation }}
            </span>
            <br />
            <span class="lg"> {{ item?.score?.awayScoreTotal }} </span>
          </div>
        </span>
      </div>

      <span
        class="ab-center"
        *ngIf="item?.score?.homeScoreTotal == null && item?.schedule?.startTime"
      >
        {{ item?.schedule?.homeTeam?.abbreviation }} vs
        {{ item?.schedule?.awayTeam?.abbreviation }} <br />
        Game: PPD @ {{ item.schedule?.venue?.name }}
        <!-- {{item?.schedule?.startTime | date: 'shortTime'}} PST -->
      </span>
      <div class="score-footer">
        <span *ngIf="item.schedule?.playedStatus === 'UNPLAYED'">
          Home Team:
          <span
            class="accent"
            [ngStyle]="{ color: item?.schedule?.homeTeam?.color }"
            >{{ item?.schedule?.homeTeam?.name }}</span
          >
        </span>

        <span *ngIf="item.schedule?.playedStatus === 'LIVE'">
          <span class="live">LIVE</span>
          <span *ngIf="item?.score?.currentIntermission === 1">
            Intermission 1st Quarter
          </span>
          <span *ngIf="item?.score?.currentIntermission === 2">
            HALFTIME
          </span>
          <span *ngIf="item?.score?.currentIntermission === 3">
            Intermission 3rd Quarter
          </span>
          <span *ngIf="item?.score?.currentIntermission === 4">
            Game Over
          </span>
          <span *ngIf="item?.score?.currentIntermission == null">
            {{ item?.score?.currentQuarterSecondsRemaining | minuteSeconds }}
            {{ item?.score?.currentQuarter
            }}<span *ngIf="item?.score?.currentQuarter === 1">st</span>
            <span *ngIf="item?.score?.currentQuarter === 4">th</span>
            <span *ngIf="item?.score?.currentQuarter === 3">rd</span>
            <span *ngIf="item?.score?.currentQuarter === 2">nd</span> Quarter
          </span>
        </span>
        <span
          *ngIf="
            item.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW' ||
            item.schedule?.playedStatus === 'COMPLETED'
          "
        >
          <span
            *ngIf="item?.score?.homeScoreTotal &gt; item?.score?.awayScoreTotal"
          >
            <span
              class="accent"
              [ngStyle]="{ color: item?.schedule?.homeTeam?.color }"
              >{{ item?.schedule?.homeTeam?.name }} Win!</span
            >
          </span>
          <span
            *ngIf="item?.score?.awayScoreTotal &gt; item?.score?.homeScoreTotal"
          >
            <span
              class="accent"
              [ngStyle]="{ color: item?.schedule?.awayTeam?.color }"
              >{{ item?.schedule?.awayTeam?.name }} Win!</span
            >
          </span>
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="nflSched" class="row schedule">
    <!-- <span class="week-rank">NFL<br> </span>  -->
    <span *ngIf="noNflGamesMsg">{{ noNflGamesMsg }}</span>
    <div *ngFor="let item of nflSchedule; let i = index">
      <div class="teams-container" [ngStyle]="{ background: '#303030' }">
        <span
          class="score-container"
          *ngIf="
            item?.schedule?.awayTeam?.abbreviation &&
            compareDate(item?.schedule?.startTime)
          "
          [ngStyle]="{
            background:
              'linear-gradient(-225deg, rgba(0,0,0,0.7) 50%, rgba(25, 28, 46,1.0) 80%), url(' +
              item?.schedule?.homeTeam?.logo +
              ')'
          }"
        >
          <div class="vertical" *ngIf="item?.score?.homeScoreTotal != null">
            <span class="lg"
              >{{ item?.schedule?.homeTeam?.abbreviation }}
            </span>
            <br />
            <span class="lg">{{ item?.score?.homeScoreTotal }}</span>
          </div>
        </span>

        <span
          class="score-container"
          *ngIf="
            item?.schedule?.awayTeam?.abbreviation &&
            compareDate(item?.schedule?.startTime)
          "
          [ngStyle]="{
            background:
              'linear-gradient(-225deg, rgba(0,0,0,0.7) 50%, rgba(25, 28, 46,1.0) 80%), url(' +
              item?.schedule?.awayTeam?.logo +
              ')'
          }"
        >
          <div class="vertical" *ngIf="item?.score?.homeScoreTotal != null">
            <span class="lg">
              {{ item?.schedule?.awayTeam?.abbreviation }}
            </span>
            <br />
            <span class="lg"> {{ item?.score?.awayScoreTotal }} </span>
          </div>
        </span>
      </div>

      <span
        class="ab-center"
        *ngIf="item?.score?.homeScoreTotal == null && item?.schedule?.startTime"
      >
        {{ item?.schedule?.homeTeam?.abbreviation }} vs
        {{ item?.schedule?.awayTeam?.abbreviation }} <br />
        Game: PPD @ {{ item.schedule?.venue?.name }}
        <!-- {{item?.schedule?.startTime | date: 'shortTime'}} PST -->
      </span>
      <div class="score-footer">
        <span *ngIf="item.schedule?.playedStatus === 'UNPLAYED'">
          Home Team:
          <span
            class="accent"
            [ngStyle]="{ color: item?.schedule?.homeTeam?.color }"
            >{{ item?.schedule?.homeTeam?.name }}</span
          >
        </span>

        <span *ngIf="item.schedule?.playedStatus === 'LIVE'">
          <span class="live">LIVE</span>
          <span *ngIf="item?.score?.currentIntermission === 1">
            Intermission 1st Quarter
          </span>
          <span *ngIf="item?.score?.currentIntermission === 2">
            HALFTIME
          </span>
          <span *ngIf="item?.score?.currentIntermission === 3">
            Intermission 3rd Quarter
          </span>
          <span *ngIf="item?.score?.currentIntermission === 4">
            Game Over
          </span>
          <span *ngIf="item?.score?.currentIntermission == null">
            {{ item?.score?.currentQuarterSecondsRemaining | minuteSeconds }}
            {{ item?.score?.currentQuarter
            }}<span *ngIf="item?.score?.currentQuarter === 1">st</span>
            <span *ngIf="item?.score?.currentQuarter === 4">th</span>
            <span *ngIf="item?.score?.currentQuarter === 3">rd</span>
            <span *ngIf="item?.score?.currentQuarter === 2">nd</span> Quarter
          </span>
        </span>
        <span
          *ngIf="
            item.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW' ||
            item.schedule?.playedStatus === 'COMPLETED'
          "
        >
          <span
            *ngIf="item?.score?.homeScoreTotal &gt; item?.score?.awayScoreTotal"
          >
            <span
              class="accent"
              [ngStyle]="{ color: item?.schedule?.homeTeam?.color }"
              >{{ item?.schedule?.homeTeam?.name }} Win!</span
            >
          </span>
          <span
            *ngIf="item?.score?.awayScoreTotal &gt; item?.score?.homeScoreTotal"
          >
            <span
              class="accent"
              [ngStyle]="{ color: item?.schedule?.awayTeam?.color }"
              >{{ item?.schedule?.awayTeam?.name }} Win!</span
            >
          </span>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="nhlSched" class="row schedule">
    <!-- <span class="week-rank">NHL<br> </span>  -->
    <span *ngIf="noNhlGamesMsg">{{ noNhlGamesMsg }}</span>
    <div *ngFor="let item of nhlSchedule; let i = index" class="col">
      <div class="teams-container" [ngStyle]="{ background: '#303030' }">
        <span
          class="score-container"
          *ngIf="
            item?.schedule?.awayTeam?.abbreviation &&
            compareDate(item?.schedule?.startTime)
          "
          [ngStyle]="{
            background:
              'linear-gradient(-225deg, rgba(0,0,0,0.7) 50%, rgba(25, 28, 46,1.0) 80%), url(' +
              item?.schedule?.homeTeam?.logo +
              ')'
          }"
        >
          <div class="vertical" *ngIf="item?.score?.homeScoreTotal != null">
            <span class="lg"
              >{{ item?.schedule?.homeTeam?.abbreviation }}
            </span>
            <br />
            <span class="lg">{{ item?.score?.homeScoreTotal }}</span>
          </div>
        </span>

        <span
          class="score-container"
          [ngStyle]="{
            background:
              'linear-gradient(-225deg, rgba(0,0,0,0.7) 50%, rgba(25, 28, 46,1.0) 80%), url(' +
              item?.schedule?.awayTeam?.logo +
              ')'
          }"
        >
          <div class="vertical" *ngIf="item?.score?.homeScoreTotal != null">
            <span class="lg">
              {{ item?.schedule?.awayTeam?.abbreviation }}
            </span>
            <br />
            <span class="lg"> {{ item?.score?.awayScoreTotal }} </span>
          </div>
        </span>
      </div>
      <span
        class="ab-center"
        *ngIf="item?.score?.homeScoreTotal == null && item?.schedule?.startTime"
      >
        {{ item?.schedule?.homeTeam?.abbreviation }} vs
        {{ item?.schedule?.awayTeam?.abbreviation }} <br />
        Game: PPD @ {{ item.schedule?.venue?.name }}
        <!-- {{item?.schedule?.startTime | date: 'shortTime'}} PST -->
      </span>
      <div class="score-footer">
        <span *ngIf="item.schedule?.playedStatus === 'UNPLAYED'">
          Home Team:
          <span
            class="accent"
            [ngStyle]="{ color: item?.schedule?.homeTeam?.color }"
            >{{ item?.schedule?.homeTeam?.name }}</span
          >
        </span>
        <!-- if currentIntermission: 2 half time or intermission -->
        <span *ngIf="item.schedule?.playedStatus === 'LIVE'">
          <span *ngIf="item?.score?.currentIntermission === 1">
            Intermission 1st Period
          </span>
          <span *ngIf="item?.score?.currentIntermission === 2">
            Intermission 2nd Period
          </span>
          <span *ngIf="item?.score?.currentIntermission === 3">
            Game Over
          </span>
          <span class="live">LIVE</span>
          <span *ngIf="item?.score?.currentIntermission == null">
            {{ item?.score?.currentPeriodSecondsRemaining | minuteSeconds }}
            {{ item?.score?.currentPeriod
            }}<span *ngIf="item?.score?.currentPeriod === 1">st</span>
            <span *ngIf="item?.score?.currentPeriod === 3">rd</span>
            <span *ngIf="item?.score?.currentPeriod === 2">nd</span> Period
          </span>
        </span>
        <span
          *ngIf="
            item.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW' ||
            item.schedule?.playedStatus === 'COMPLETED'
          "
        >
          <span
            *ngIf="item?.score?.homeScoreTotal &gt; item?.score?.awayScoreTotal"
          >
            <span
              class="accent"
              [ngStyle]="{ color: item?.schedule?.homeTeam?.color }"
              >{{ item?.schedule?.homeTeam?.name }} Win!</span
            >
          </span>
          <span
            *ngIf="item?.score?.awayScoreTotal &gt; item?.score?.homeScoreTotal"
          >
            <span
              class="accent"
              [ngStyle]="{ color: item?.schedule?.awayTeam?.color }"
              >{{ item?.schedule?.awayTeam?.name }} Win!</span
            >
          </span>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="mlbSched" class="row schedule">
    <!-- <span class="week-rank">MLB<br> </span>  -->
    <span *ngIf="noMlbGamesMsg">{{ noMlbGamesMsg }}</span>
    <div *ngFor="let item of mlbSchedule; let i = index" class="col">
      <div class="teams-container" [ngStyle]="{ background: '#303030' }">
            <!-- *ngIf="item?.schedule?.awayTeam?.abbreviation && compareDate(item?.schedule?.startTime)" -->
        <span class="score-container mlb"
        [ngStyle]="{background:'linear-gradient(-225deg, rgba(0,0,0,0.5) 50%, rgba(0,0, 0,0.6) 80%), url(' + item?.schedule?.homeTeam?.logo + ')'}">
          <div class="vertical" *ngIf="item?.score?.homeScoreTotal != null">
            <span class="lg"
              >{{ item?.schedule?.homeTeam?.abbreviation }}
            </span>
            <br />
            <span class="lg">{{ item?.score?.homeScoreTotal }}</span>
          </div>
        </span>

        <span
          class="score-container mlb"
          [ngStyle]="{
            background:
              'linear-gradient(-225deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.6) 80%), url(' +
              item?.schedule?.awayTeam?.logo +
              ')'
          }"
        >
          <div class="vertical" *ngIf="item?.score?.homeScoreTotal != null">
            <span class="lg">
              {{ item?.schedule?.awayTeam?.abbreviation }}
            </span>
            <br />
            <span class="lg"> {{ item?.score?.awayScoreTotal }} </span>
          </div>
        </span>
      </div>
      <span
        class="ab-center"
        *ngIf="item?.score?.homeScoreTotal == null && item?.schedule?.startTime"
      >
        {{ item?.schedule?.homeTeam?.abbreviation }} vs
        {{ item?.schedule?.awayTeam?.abbreviation }} <br />
        Game: PPD @ {{ item.schedule?.venue?.name }}
        <!-- {{item?.schedule?.startTime | date: 'shortTime'}} PST -->
      </span>
      <div class="score-footer">
        <span *ngIf="item.schedule?.playedStatus === 'UNPLAYED'">
          Home Team:
          <span
            class="accent"
            [ngStyle]="{ color: item?.schedule?.homeTeam?.color }"
            >{{ item?.schedule?.homeTeam?.name }}</span
          >
        </span>
        <!-- if currentIntermission: 2 half time or intermission -->
        <span *ngIf="item.schedule?.playedStatus === 'LIVE'">
          <span *ngIf="item?.score?.currentIntermission === 1">
            Intermission 1st Period
          </span>
          <span *ngIf="item?.score?.currentIntermission === 2">
            Intermission 2nd Period
          </span>
          <span *ngIf="item?.score?.currentIntermission === 3">
            Game Over
          </span>
          <span class="live">LIVE</span>
          <span *ngIf="item?.score?.currentIntermission == null">
            {{ item?.score?.currentPeriodSecondsRemaining | minuteSeconds }}
            {{ item?.score?.currentPeriod
            }}<span *ngIf="item?.score?.currentPeriod === 1">st</span>
            <span *ngIf="item?.score?.currentPeriod === 3">rd</span>
            <span *ngIf="item?.score?.currentPeriod === 2">nd</span> Period
          </span>
        </span>
        <span
          *ngIf="
            item.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW' ||
            item.schedule?.playedStatus === 'COMPLETED'
          "
        >
          <span
            *ngIf="item?.score?.homeScoreTotal &gt; item?.score?.awayScoreTotal"
          >
            <span
              class="accent"
              [ngStyle]="{ color: item?.schedule?.homeTeam?.color }"
              >{{ item?.schedule?.homeTeam?.name }} Win!</span
            >
          </span>
          <span
            *ngIf="item?.score?.awayScoreTotal &gt; item?.score?.homeScoreTotal"
          >
            <span
              class="accent"
              [ngStyle]="{ color: item?.schedule?.awayTeam?.color }"
              >{{ item?.schedule?.awayTeam?.name }} Win!</span
            >
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
