<div class="card-wrap-sp mat-elevation-z6 position-box">
  <span class="title">{{ title }}</span> 
  <span>
      <span title="Easy Matchup" class="green pcard-btn" [ngClass]="{'dn': end === 21}" (click)="begin = 0; end = 21; page = 39; amount = -1;"> &nbsp;</span> <span title="Good Matchup" class="orange pcard-btn" [ngClass]="{'dn': end === 32}" (click)="begin = 21; end = 32; page = 39; amount = -1;"> &nbsp;</span> <span title="Hard Matchup" class="red pcard-btn" [ngClass]="{'dn': end === 32}" (click)="begin = 10; end = 32; page = 39; amount = -1;"> &nbsp;</span> <span title="Show All Matchups" class="pcard-btn all-btn" [ngClass]="{'dn': end === 0 && begin === 0 || end == null}" (click)="begin = 0; end = 0; page = 19; amount = -1;"> All </span>  <span title="31-60" class="page-arrow" [ngClass]="{'dn': amount &gt; -1}" (click)="page = 59; amount = 29">&#8594;</span> <span title="1-30" class="page-arrow" [ngClass]="{'dn': amount === -1}" (click)="page = 29; amount = -1">&#8592;</span>
  </span>
  <div>
    <div class="content-wrapper">
      <div class="row">
        <div *ngFor="let item of sortStats(data, statType, statField, order, ndk, seasonLength, eliteStat ? eliteStat : 0); let i = index" 
        [ngStyle]="{width: item?.spanOpponents != null || title === 'Favorites' ? '100%' : '100%'}">
           
          <span
            [ngClass]="{
              'left-content': i <= page,
              'dn': i > page || i <= amount || ndk && item.player.unsigned,
              'dn2': (!ndk && statType != 'tackles' && statType != 'interceptions' && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.dRank > begin : !ndk && (statType == 'tackles' || statType == 'interceptions') && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.oRank > begin : item?.team[seasonLength] > begin) && (!ndk && statType != 'tackles' && statType != 'interceptions' && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.dRank <= end : !ndk && (statType == 'tackles' || statType == 'interceptions') && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.oRank <= end : item?.team[seasonLength] <= end),
              'dn3': begin === 21 && !ndk && statType != 'tackles' && statType != 'interceptions' && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.dRank <= 10 : begin === 21 && !ndk && (statType == 'tackles' || statType == 'interceptions') && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.oRank <= 10 : begin === 21 && item?.team[seasonLength] <= 10,
              'sm' : item?.spanOpponents != null || title === 'Favorites',
              'fav' : title === 'Favorites'
            }"
            [ngStyle]="{background: item?.spanOpponents != null || title === 'Favorites' ? 'linear-gradient(-225deg, rgba(0,0,0,0.7) 50%, rgba(0,0, 0,0.6) 80%), url(' + item?.team?.logo +')' : null,
            backgroundSize: item?.spanOpponents != null || title === 'Favorites' ? '414px' : null, backgroundPosition: item?.spanOpponents != null || title === 'Favorites' ? '0% 32%' : null}"
            >
            <span class="tw">

            
            <span class="index-rank" [ngClass]="{'dn' : sport === 'nfl' && ndk || sport === 'nfl' && title === 'Favorites'}">{{ i + 1 }}</span>
            <span (click)="authorize(item, sport)" class="point" (mouseover)="$event.stopPropagation()" (mouseout)="$event.stopPropagation()">
              <img
                src="{{ item?.player?.officialImageSrc }}"
                alt="{{sport}} player"
                onError="this.src='https://www.nba.com/.element/img/2.0/sect/statscube/players/large/default_nba_headshot_v2.png'"
                loading="lazy"/>
            <span class="sched-rank sched-opp" *ngIf="sport === 'mlb' && item?.mlbSpanOpponents?.length > 0">
              <span class="weekopp-top">
                <span *ngFor="let team of item?.mlbSpanOpponents; let i = index;"> {{team.print}} </span> 
              </span>
            </span>
            <span class="sched-rank {{hoveredItem}}" (mouseover)="hoveredItem = 'hovered'; $event.stopPropagation()" (mouseout)="hoveredItem = ''; $event.stopPropagation()">
                  <span class="weekopp-top" *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && statType != 'tackles' && statType != 'interceptions'" [ngClass]="{'red' : item?.team?.weekOpponent[0]?.dRank &lt;= 10, 'orange' : item?.team?.weekOpponent[0]?.dRank > 10 && item?.team?.weekOpponent[0]?.dRank &lt;= 21, 'green' : item?.team?.weekOpponent[0]?.dRank > 21}">
                    {{item?.team?.weekOpponent[0]?.printName}} <br>
                  </span>
                  <span class="weekopp-bot" *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && statType != 'tackles' && statType != 'interceptions'" [ngClass]="{'red' : item?.team?.weekOpponent[0]?.dRank &lt;= 10, 'orange' : item?.team?.weekOpponent[0]?.dRank > 10 && item?.team?.weekOpponent[0]?.dRank &lt;= 21, 'green' : item?.team?.weekOpponent[0]?.dRank > 21}">
                    {{item?.team?.weekOpponent[0]?.dRank}}
                  </span>
                  <span class="weekopp-top" *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && (statType === 'tackles' || statType === 'interceptions')" [ngClass]="{'red' : item?.team?.weekOpponent[0]?.oRank &lt;= 10, 'orange' : item?.team?.weekOpponent[0]?.oRank > 10 && item?.team?.weekOpponent[0]?.oRank &lt;= 21, 'green' : item?.team?.weekOpponent[0]?.oRank > 21}">
                      {{item?.team?.weekOpponent[0]?.printName}} <br>
                  </span>
                  <span class="weekopp-bot" *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && (statType === 'tackles' || statType === 'interceptions')" [ngClass]="{'red' : item?.team?.weekOpponent[0]?.oRank &lt;= 10, 'orange' : item?.team?.weekOpponent[0]?.oRank > 10 && item?.team?.weekOpponent[0]?.oRank &lt;= 21, 'green' : item?.team?.weekOpponent[0]?.oRank > 21}">
                    {{item?.team?.weekOpponent[0]?.oRank}}
                  </span>
                  <span *ngIf="sport === 'nfl' && item?.team[seasonLength] != null && ndk" [ngClass]="{'red' : item?.team[seasonLength] &lt;= 10, 'orange' : item?.team[seasonLength] > 10 && item?.team[seasonLength] &lt;= 21, 'green' : item?.team[seasonLength] > 21}">
                    {{item?.team[seasonLength]}}
                  </span>
                  <span *ngIf="sport === 'nfl' && item?.team[seasonLength] != null && ndk" class="tooltip"> 
                    <span *ngIf="item?.team[seasonLength] > 21">Easy</span> 
                    <span *ngIf="item?.team[seasonLength] &lt;= 21 && item?.team[seasonLength] > 10">Good</span>
                    <span *ngIf="item?.team[seasonLength] &lt;= 10">Hard</span>
                      Schedule
                  </span> 
                  <span *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && statType != 'tackles' && statType != 'interceptions'" class="tooltip"> 
                      <span *ngIf="item?.team?.weekOpponent[0]?.dRank > 21">Great</span> 
                      <span *ngIf="item?.team?.weekOpponent[0]?.dRank &lt;= 21 && item?.team?.weekOpponent[0]?.dRank > 10">Good</span>
                      <span *ngIf="item?.team?.weekOpponent[0]?.dRank &lt;= 10">Bad</span>
                        Matchup
                  </span> 
                  <span *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && (statType === 'tackles' || statType === 'interceptions')" class="tooltip"> 
                      <span *ngIf="item?.team?.weekOpponent[0]?.oRank > 21">Great</span> 
                      <span *ngIf="item?.team?.weekOpponent[0]?.oRank &lt;= 21 && item?.team?.weekOpponent[0]?.oRank > 10">Good</span>
                      <span *ngIf="item?.team?.weekOpponent[0]?.oRank &lt;= 10">Bad</span>
                        Matchup
                  </span>    
            </span>    
          </span>
            <span class="player-infos" [ngClass]="{'sm' : item?.spanOpponents != null || title === 'Favorites'}">
              <span *ngIf="item.player?.rookie === true && !ndk" class="rookie">R</span>
              <span class="names" *ngIf="item?.spanOpponents == null && title != 'Favorites'">
                  {{ !mobile && !ndk && item?.spanOpponents == null && title != 'Favorites' ? item.player.firstName + " " + item.player.lastName : item.player.lastName}} 
                   <span> - {{ item?.player?.primaryPosition }}</span>  
              </span>
              <span class="names" *ngIf="item?.spanOpponents != null || title === 'Favorites'">
                <span *ngIf="!mobile" class="fn">{{item.player.firstName}} </span>  <span class="ln"> {{item.player.lastName}}</span>
                 <span> - {{ item?.player?.primaryPosition }}</span>  
               </span>

              <span *ngIf="!item?.spanOpponents && title != 'Favorites'" class="team-image {{sport}}">
                <img src="{{ item?.team?.logo }}" alt="{{ item?.team?.name }} logo" loading="lazy" />
              </span>

              <span class="point">
                <span class="lg" *ngIf="!ndk" [ngClass]="{'sm' : item?.spanOpponents != null || title === 'Favorites'}">
                  {{ (item?.stats)[statType][statField] }} {{ statTag }}
                  <span *ngIf="sport === 'nfl' && title != 'Rookie Total Yds'">
                    <span *ngIf="statField === 'sacks'" [ngStyle]="{color: item?.stats[statType]?.tackleTotal &gt; 40 ? 'gold' : 'white'}"> {{ item?.stats[statType]?.tackleTotal }} Tkls</span>
                    <span *ngIf="statField === 'tackleTotal'" [ngStyle]="{color: item?.stats[statType]?.sacks &gt; 1 ? 'gold' : 'white'}"> {{ item?.stats[statType]?.sacks }} Sacks</span>
                    <span *ngIf="statType === 'interceptions' && item?.stats[statType]?.intTD &gt; 0">{{ item?.stats[statType]?.intTD }} TD</span>
                    <span *ngIf="statType === 'passing' && statField != 'ydsPerGame' && statField != 'offSnapPct'" [ngStyle]="{color: item?.stats[statType]?.passTD &gt; 10 ? 'gold' : 'white'}">{{ item?.stats[statType]?.passTD }} TD</span>
                    <span *ngIf="statType === 'passing' && statField != 'ydsPerGame' && statField == 'offSnapPct'" [ngStyle]="{color: (item?.stats.rushing?.rushYards + item?.stats?.receiving?.recYards) &gt; (item?.player?.primaryPosition == 'rb' ? 500 : 700) ? 'gold' : 'white'}">{{ item?.stats.rushing?.rushYards + item?.stats?.receiving?.recYards }} Yds </span> 
                    <span *ngIf="statType === 'passing' && statField != 'ydsPerGame' && statField == 'offSnapPct'" [ngStyle]="{color: item?.stats?.receiving?.receptions &gt; (item?.player?.primaryPosition == 'rb' ? 25 : 45) ? 'gold' : 'white'}"> {{ item?.stats?.receiving?.receptions }} Rec</span>
                    <span *ngIf="statType === 'passing' && statField == 'ydsPerGame'">{{ item?.stats[statType]?.passTD + item?.stats?.rushing?.rushTD }} TD</span>
                    <span *ngIf="statType === 'rushing' && statField != 'ydsPerGame'" [ngStyle]="{color: item?.stats[statType]?.rushTD &gt; 5 ? 'gold' : 'white'}">{{ item?.stats[statType]?.rushTD }} TD</span>
                    <span *ngIf="statType === 'rushing' && statField == 'ydsPerGame'">{{ item?.stats[statType]?.rushTD + item?.stats?.receiving?.recTD }} TD</span>
                    <span *ngIf="statType === 'receiving' && statField != 'totalTouchPct' && statField != 'fanDuelFP' && statField != 'fanDuelFPA'" [ngStyle]="{color: item?.stats[statType]?.recTD &gt; 5 ? 'gold' : 'white'}">{{ item?.stats[statType]?.recTD }} TD</span>
                    <span *ngIf="statField === 'totalTouchPct'" [ngStyle]="{color: (item?.stats?.receiving?.recTD + item?.stats?.rushing?.rushTD) &gt; 5 ? 'gold' : 'white'}">{{ item?.stats?.receiving?.recTD + item?.stats?.rushing?.rushTD }} TD</span>
                    <span *ngIf="statField == 'fanDuelFPA'">{{ item?.stats.gamesPlayed }} GP</span>
                  </span>
                  <span *ngIf="sport === 'nfl' && title == 'Rookie Total Yds'">
                    <span *ngIf="statType === 'passing'">{{ item?.stats[statType]?.totalPassTd }} TD</span>
                    <span *ngIf="statType === 'receiving'">{{ item?.stats[statType]?.totalTd }} TD</span>
                  </span>
                  <span *ngIf="sport === 'mlb'">
                    <span *ngIf="statField === 'pitcherStrikeouts'" [ngStyle]="{color: item?.stats[statType]?.earnedRunAvg &lt; 3.35 ? 'gold' : 'white'}">{{ item?.stats[statType]?.earnedRunAvg }} ERA</span>
                    <span *ngIf="statField === 'earnedRunAvg'" [ngStyle]="{color: item?.stats[statType]?.pca &gt; 84 ? 'gold' : 'white'}">{{ item?.stats[statType]?.pca }} PCA</span>
                    <span *ngIf="statField === 'fanDuelFP' && statType === 'pitching'" [ngStyle]="{color: item?.stats[statType]?.pitcherStrikeouts &gt; (item?.stats?.sl === 'last-week' ? 9 : item?.stats?.sl === 'two-weeks' ? 17 : 119) ? 'gold' : 'white'}">{{ item?.stats[statType]?.pitcherStrikeouts }} Ks</span>
                    <span *ngIf="statField === 'saves' && statType === 'pitching'" [ngStyle]="{color: item?.stats[statType]?.pitcherStrikeouts &gt; (item?.stats?.sl === 'last-week' ? 4 : item?.stats?.sl === 'two-weeks' ? 7 : 39) ? 'gold' : 'white'}">{{ item?.stats[statType]?.pitcherStrikeouts }} Ks </span> 
                    <span *ngIf="statField === 'wins' && item?.stats[statType]?.qs != null || statField === 'fanDuelFP' && statType === 'pitching' && item?.stats[statType]?.qs != null"> {{ item?.stats[statType]?.qs }} QS</span>
                    <span *ngIf="statField === 'runsBattedIn'" [ngStyle]="{color: item?.stats[statType]?.homeruns &gt; (item?.stats?.sl === 'last-week' ? 2 : item?.stats?.sl === 'two-weeks' ? 3 : 14) ? 'gold' : 'white'}">{{ item?.stats[statType]?.homeruns }} HR</span>
                    <span *ngIf="statField === 'battingAvg' || statField === 'plateAppearances'" [ngStyle]="{color: item?.stats[statType]?.hits &gt; (item?.stats?.sl === 'last-week' ? 6 : item?.stats?.sl === 'two-weeks' ? 10 : 49) ? 'gold' : 'white'}">{{ item?.stats[statType]?.hits }} H</span>
                    <span *ngIf="statField === 'homeruns' || statField === 'secondBaseHits' || statField === 'fanDuelFP' && statType === 'batting'" [ngStyle]="{color: item?.stats[statType]?.runsBattedIn &gt; (item?.stats?.sl === 'last-week' ? 6 : item?.stats?.sl === 'two-weeks' ? 10 : 49) ? 'gold' : 'white'}">{{ item?.stats[statType]?.runsBattedIn }} RBI</span>
                    <span *ngIf="statField === 'hits'" [ngStyle]="{color: item?.stats[statType]?.battingAvg &gt; 0.274 ? 'gold' : 'white'}">{{ item?.stats[statType]?.battingAvg }} BA</span>
                    <span *ngIf="statField === 'runs'" [ngStyle]="{color: item?.stats[statType]?.stolenBases &gt; (item?.stats?.sl === 'last-week' ? 2 : item?.stats?.sl === 'two-weeks' ? 3 : 9) ? 'gold' : 'white'}">{{ item?.stats[statType]?.stolenBases }} SB</span>
                    <span *ngIf="statField === 'stolenBases'" [ngStyle]="{color: item?.stats[statType]?.runs &gt; (item?.stats?.sl === 'last-week' ? 3 : item?.stats?.sl === 'two-weeks' ? 5 : 49) ? 'gold' : 'white'}">{{ item?.stats[statType]?.runs }} R</span>
                  </span>

                  <span *ngIf="sport === 'nhl'">
                    <span *ngIf="statField === 'iceTimeAvg'" [ngStyle]="{color: item?.stats[statType]?.fanDuelFP &gt; (item?.stats?.sl === 'last-week' ? 34 : item?.stats?.sl === 'two-weeks' ? 68 : 250) ? 'gold' : 'white'}">{{ item?.stats[statType]?.fanDuelFP }} FP</span>     
                    <span *ngIf="statField === 'shots'" [ngStyle]="{color: item?.stats['scoring']?.goals &gt; (item?.stats?.sl === 'last-week' ? 2 : item?.stats?.sl === 'two-weeks' ? 4 : 20) ? 'gold' : 'white'}">{{ item?.stats['scoring']?.goals }} G</span> 
                    <span *ngIf="statField === 'goals'" [ngStyle]="{color: item?.stats[statType]?.assists &gt; (item?.stats?.sl === 'last-week' ? 2 : item?.stats?.sl === 'two-weeks' ? 4 : 20) ? 'gold' : 'white'}">{{ item?.stats[statType]?.assists }} A</span> 
                    <span *ngIf="statField === 'blockedShots'" [ngStyle]="{color: item?.stats[statType]?.hits &gt; (item?.stats?.sl === 'last-week' ? 4 : item?.stats?.sl === 'two-weeks' ? 8 : 48) ? 'gold' : 'white'}">{{ item?.stats[statType]?.hits }} H</span>        
                    <span *ngIf="statField === 'saves'" [ngStyle]="{color: item?.stats[statType]?.goalsAgainstAverage &lt; 3.00 ? 'gold' : 'white'}">{{ item?.stats[statType]?.goalsAgainstAverage }} GAA</span>   
                    <span *ngIf="statField === 'fanDuelFP'" [ngStyle]="{color: item?.stats[statType]?.goalsAgainst &lt; (item?.stats?.sl === 'last-week' ? 5 : item?.stats?.sl === 'two-weeks' ? 9 : 70) ? 'gold' : 'white'}">{{ item?.stats[statType]?.goalsAgainst }} GA</span> 
                  </span>

                  <span *ngIf="sport === 'nba'">
                    <span *ngIf="statField === 'ptsPerGame'" [ngStyle]="{color: item?.stats['rebounds']?.rebPerGame &gt; (item?.stats?.sl === 'last-week' ? 6 : item?.stats?.sl === 'two-weeks' ? 6 : 6) ? 'gold' : 'white'}">{{ item?.stats['rebounds']?.rebPerGame }} Reb</span>     
                    <span *ngIf="statField === 'fgAtt' || statField === 'fgPct'" [ngStyle]="{color: item?.stats['offense']?.pts &gt; (item?.stats?.sl === 'last-week' ? 75 : item?.stats?.sl === 'two-weeks' ? 150 : 760) ? 'gold' : 'white'}">{{ item?.stats['offense']?.pts }} Pts</span> 
                    <span *ngIf="statField === 'reb'" [ngStyle]="{color: item?.stats['defense']?.blk &gt; (item?.stats?.sl === 'last-week' ? 3 : item?.stats?.sl === 'two-weeks' ? 6 : 45) ? 'gold' : 'white'}">{{ item?.stats['defense']?.blk }} Blk</span> 
                    <span *ngIf="statField === 'ast'" [ngStyle]="{color: item?.stats['fieldGoals']?.fg3PtMade &gt; (item?.stats?.sl === 'last-week' ? 4 : item?.stats?.sl === 'two-weeks' ? 8 : 90) ? 'gold' : 'white'}">{{ item?.stats['fieldGoals']?.fg3PtMade }} 3PM</span>        
                  </span>
                </span>
                <span class="three-week" *ngIf="item?.spanOpponents != null && sport === 'nfl' && !ndk && statType != 'tackles' && statType != 'interceptions'">
                    <span *ngIf="item?.spanOpponents.length &gt; 0">
                      <span class="sm" *ngFor="let team of item?.spanOpponents; let i = index;" 
                      [ngClass]="{'red' : team?.dRank &lt;= 10, 'orange' : team?.dRank > 10 && team?.dRank &lt;= 21, 'green' : team?.dRank > 21}">
                      WEEK {{team?.week}}<br> {{team?.printName}} {{team?.dRank}} <br> 
                         
                          <span *ngIf="statType === 'passing' && statField != 'ydsPerGame' && statField != 'totalPassPct' && statField != 'totalPassYards' && statField != 'offSnapPct'">PY: {{team?.gamePY}} <br>
                          Int: {{team?.gamePI}}</span>
                          <span *ngIf="statField == 'totalPassPct'">PY: {{team?.gamePY}} <br>
                            PA: {{team?.gamePA}}</span>
                          <span *ngIf="statType === 'passing' && statField === 'ydsPerGame'">TY: {{team?.gamePY + team?.gameRY}}<br>
                            Int: {{team?.gamePI}}</span>
                          <span *ngIf="statType === 'passing' && statField === 'totalPassYards'">TY: {{team?.gamePY + team?.gameRY}}<br>
                              TD: {{team?.gamePTD}}</span>
                          <span *ngIf="statType === 'rushing' && statField === 'ydsPerGame'">TY: {{team?.gameRecY + team?.gameRY}}<br>
                            RA: {{team?.gameRA}}</span>
                          <span *ngIf="statType === 'receiving' && statField === 'ydsPerGame' || statType === 'receiving' && statField === 'totalYards'">TY: {{team?.gameRecY + team?.gameRY}} <br>
                            TD: {{team?.gameRTD + team?.gameRecTD}}
                          </span>
                          <span *ngIf="statType === 'rushing' && statField != 'ydsPerGame'">RY: {{team?.gameRY}}<br>
                            FUM: {{team?.gameFUM + team?.gameRecF}}</span>

                          <span *ngIf="statType === 'passing' && statField == 'offSnapPct'">Yds: {{team?.gameRecY + team?.gameRY}}<br>
                                TD: {{team?.gameRTD + team?.gameRecTD}}</span>
                          
                          <span *ngIf="statField === 'recYards'">RY: {{team?.gameRecY}} <br>
                            TD: {{team?.gameRecTD}}</span>
                          <span *ngIf="statField === 'touchCatchPct'">Rec: {{team?.gameRecR}} <br>
                            TD: {{team?.gameRecTD}}</span>
                          <span *ngIf="statField === 'receptions'">Rec: {{team?.gameRecR}}  <br>
                            TD: {{team?.gameRecTD}}</span>
                          <span *ngIf="statField === 'fgMade'">FG: {{team?.gameFGM}}</span>
                          <span *ngIf="statField === 'longFgMade'">FG+: {{team?.gameLFGM}}</span>
                          <span *ngIf="statField === 'fanDuelFP' || statField === 'fanDuelFPA'">FP: {{team?.gameFP}}</span>
                      </span>
                  </span>
                </span>
                <span class="three-week" *ngIf="item?.spanOpponents != null && sport === 'nfl' && !ndk && (statType === 'tackles' || statType === 'interceptions')">
                    <span *ngIf="item?.spanOpponents.length &gt; 0">
                      <span class="sm" *ngFor="let team of item?.spanOpponents; let i = index;" 
                      [ngClass]="{'red' : team?.oRank &lt;= 10, 'orange' : team?.oRank > 10 && team?.oRank &lt;= 21, 'green' : team?.oRank > 21}">
                      WEEK {{team?.week}} <br> {{team?.printName}} {{team?.oRank}} <br> OY: {{team?.opponentYds}} <br>
                          <span *ngIf="team?.gameTD === 0 && team?.gameSacks === 0 && team?.gameInt &gt; 0">Int: {{team?.gameInt}}</span> 
                          <span *ngIf="team?.gameTD === 0 && team?.gameSacks === 0 && team?.gameInt === 0">Tkl: {{team?.gameTackles}}</span> 
                          <span *ngIf="team?.gameSacks &gt; 0 && team?.gameTD === 0">Sack: {{team?.gameSacks}}</span> 
                          <span *ngIf="team?.gameTD &gt; 0">TD: {{team?.gameTD}}</span>
                      </span>
                  </span>
                </span>
                <span class="three-week" *ngIf="title === 'Favorites' && sport === 'nfl'">
                  <!-- Favorites stats in here -->
                  <span class="stats" *ngIf="item?.player?.primaryPosition === 'QB'">
                    <span class="inner">
                      <span>
                        {{ item?.stats.passing?.passTD + item?.stats.rushing?.rushTD}} TD
                      </span>
                    </span>
                  </span>

                  <span class="stats" *ngIf="item?.player?.primaryPosition === 'QB'">
                    <span class="inner">
                      <span>
                        {{ item?.stats.passing?.passYards + item?.stats.rushing?.rushYards}} Yds
                      </span>
                    </span>
                  </span>

                  <span class="stats" *ngIf="item?.player?.primaryPosition === 'QB'">
                    <span class="inner">
                      <span>
                        {{item?.stats?.twoPointAttempts?.twoPtPassMade &gt; 0 ? item?.stats?.twoPointAttempts?.twoPtPassMade + ' 2pt' : item?.stats?.passing?.passInt + ' Int'}} 
                      </span>
                    </span>
                  </span>

                  <span class="stats" *ngIf="item?.player?.primaryPosition === 'RB' || item?.player?.primaryPosition === 'WR' || item?.player?.primaryPosition === 'TE'">
                    <span class="inner">
                      <span>
                        {{ item?.stats?.receiving?.recTD + item?.stats.rushing?.rushTD}} TD
                      </span>
                    </span>
                  </span>

                  <span class="stats" *ngIf="item?.player?.primaryPosition === 'RB' || item?.player?.primaryPosition === 'WR' || item?.player?.primaryPosition === 'TE'">
                    <span class="inner">
                      <span>
                        {{ item?.stats?.receiving?.recYards + item?.stats.rushing?.rushYards}} Yds
                      </span>
                    </span>
                  </span>

                  <span class="stats" *ngIf="item?.player?.primaryPosition === 'RB' || item?.player?.primaryPosition === 'WR' || item?.player?.primaryPosition === 'TE'">
                    <span class="inner">
                      <span>
                        {{item?.stats?.receiving?.receptions}} Rec
                      </span>
                    </span>
                  </span>
                  

                </span>
                <span class="lg" *ngIf="ndk && sport === 'nfl'">
                    <span class="ticker" *ngIf="item?.team?.dtr != null && item?.team?.scheduleTicker != null">
                      <span *ngFor="let game of item?.team?.scheduleTicker; let i = index;">
                          <span class="game {{hoveredItem2}}" (mouseover)="hoveredItem2 = 'hovered'; $event.stopPropagation()" (mouseout)="hoveredItem2 = ''; $event.stopPropagation()">
                            <span [ngClass]="{'white' : game?.dRank === 'BYE', 'red' : game?.dRank &lt;= 10, 'orange' : game?.dRank > 10 && game?.dRank &lt;= 21, 'green' : game?.dRank > 21, 'dn' : seasonLength === 'dfh' && i > 8 || seasonLength === 'dsh' && i &lt;= 8 }">{{game?.printName}}</span>
                            <span class="tooltip">{{ game?.dRank === 'BYE' ? 'Week '+game?.name : 'D Rank '+ game?.dRank}}</span>
                          </span> 
                      </span>
                  </span>
                  <span class="ticker" *ngIf="item?.team?.otr != null && item?.team?.scheduleTicker != null">
                      <span *ngFor="let game of item?.team?.scheduleTicker; let i = index;">
                          <span class="game {{hoveredItem2}}" (mouseover)="hoveredItem2 = 'hovered'; $event.stopPropagation()" (mouseout)="hoveredItem2 = ''; $event.stopPropagation()">
                            <span [ngClass]="{'white' : game?.oRank === 'BYE', 'red' : game?.oRank &lt;= 10, 'orange' : game?.oRank > 10 && game?.oRank &lt;= 21, 'green' : game?.oRank > 21, 'dn' : seasonLength === 'ofh' && i > 8 || seasonLength === 'osh' && i &lt;= 8 }">{{game?.printName}}</span>
                            <span class="tooltip">{{ game?.oRank === 'BYE' ? 'Week '+game?.name : 'O Rank '+ game?.oRank}}</span>
                          </span> 
                      </span>
                  </span>
                </span>
              </span>
            </span>
          </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="twitter">
  <div class="card-wrap-sp mat-elevation-z6 position-box">
    <h2>{{title}}</h2>
      <div>
          <div class="content-wrapper">
            <div class="row">
              <div class="w100">
                  #{{sport}} 2020
              </div>
              <div class="w100">
                  #Top5 {{title}}
              </div>
              <div *ngFor="let item of data | sortBy: statType:statField:order; let i = index" class="w100">
                      <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                        <span class="player-infos">
                            <span class="names">
                                
                                    {{ (sport === 'nba' || sport === 'nhl' ? teams[item.player['currentTeam'].abbreviation]?.twitter : item?.team?.twitter) + ' ' + item?.player?.lastName}}
                                  
                            </span>

                            
                            <span class="lg">
                                {{ (item?.stats)[statType][statField] }} {{ statTag }}
                                <span *ngIf="sport === 'nfl' && title != 'Rookie Total Yds'">
                                  <span *ngIf="statType === 'passing'">{{ item?.stats[statType]?.passTD }} TD</span>
                                  <span *ngIf="statType === 'rushing'">{{ item?.stats[statType]?.rushTD }} TD</span>
                                  <span *ngIf="statType === 'receiving'">{{ item?.stats[statType]?.recTD }} TD</span>
                                </span>
                                <span *ngIf="sport === 'nfl' && title === 'Rookie Total Yds'">
                                  <span *ngIf="statType === 'passing'">{{ item?.stats[statType]?.totalPassTd }} TD</span>
                                  <span *ngIf="statType === 'receiving'">{{ item?.stats[statType]?.totalTd }} TD</span>
                                </span>
                              </span>
                        </span>     
                      </span>
                    </div>
                    <div class="w100">
                        #{{sport}}Twitter #Stats
                    </div>
            </div>
            </div>
      </div>
  </div>
</div>
