<div class="card-wrap-sp mat-elevation-z6 position-box">
  <span class="title">{{ title }}</span> 
  <span *ngIf="sport === 'nfl' && ndk">
      <button [ngClass]="{'dn': end === 21}" (click)="begin = 0; end = 21;">Easy</button> <button [ngClass]="{'dn': end === 32}" (click)="begin = 21; end = 32;">Good</button> <button [ngClass]="{'dn': end === 32}" (click)="begin = 10; end = 32;">Hard</button>
  </span>
  <div>
    <div class="content-wrapper">
      <div class="row">
        <div *ngFor="let item of sortStats(data, statType, statField, order, ndk, seasonLength, eliteStat ? eliteStat : 0); let i = index">
            <!-- let item of data | sortBy: statType:statField:order;let i = index -->
          <span
            [ngClass]="{
              'left-content': i <= page,
              'dn': i > page || i <= amount,
              'dn2': item?.team[seasonLength] > begin && item?.team[seasonLength] <= end,
              'dn3': begin === 21 &&   item?.team[seasonLength] <= 10
            }"
            >
            {{ i + 1 }}
            <span (click)="authorize(item, sport)" class="point" (mouseover)="$event.stopPropagation()" (mouseout)="$event.stopPropagation()">
              <img
                src="{{ item?.player?.officialImageSrc }}"
                alt="{{sport}} player"
                onError="this.src='https://www.nba.com/.element/img/2.0/sect/statscube/players/large/default_nba_headshot_v2.png'"
                
            />
            <span class="sched-rank {{hoveredItem}}" (mouseover)="hoveredItem = 'hovered'; $event.stopPropagation()" (mouseout)="hoveredItem = ''; $event.stopPropagation()">
                  <span *ngIf="sport === 'nfl' && item?.team[seasonLength] != null && ndk" [ngClass]="{'red' : item?.team[seasonLength] &lt;= 10, 'orange' : item?.team[seasonLength] > 10 && item?.team[seasonLength] &lt;= 21, 'green' : item?.team[seasonLength] > 21}">
                    {{item?.team[seasonLength]}}
                  </span>
                  <span class="tooltip"> 
                    <span *ngIf="item?.team[seasonLength] > 21">Easy</span> 
                    <span *ngIf="item?.team[seasonLength] &lt;= 21 && item?.team[seasonLength] > 10">Good</span>
                    <span *ngIf="item?.team[seasonLength] &lt;= 10">Hard</span>
                      Schedule
                  </span>    
            </span>    
          </span>
            <span class="player-infos">
              <span *ngIf="item.player?.rookie === true && !ndk" class="rookie">R</span>
              <span class="names" *ngIf="!mobile">
                <span *ngIf="item.player.firstName != 'Shai'">
                  {{ item.player.firstName + " " + item.player.lastName }} -
                  {{ item?.player?.primaryPosition }} | #{{
                    item.player.jerseyNumber
                  }}
                </span>
                <span *ngIf="item?.player?.firstName === 'Shai'">
                  S. {{ item.player.lastName }} -
                  {{ item?.player?.primaryPosition }} | #{{
                    item?.player?.jerseyNumber
                  }}
                </span>
              </span>

              <span class="names" *ngIf="mobile">
                <span>
                  {{ item.player.lastName }} -
                  {{ item?.player?.primaryPosition }} | #{{
                    item.player.jerseyNumber
                  }}
                </span>
              </span>

              <span class="team-image {{ sport }}">
                <img
                  src="{{ item?.team?.logo }}"
                  alt="{{ item?.team?.name }} logo"
              /></span>

              <span class="point">
                <span class="lg" *ngIf="!ndk">
                  {{ (item?.stats)[statType][statField] }} {{ statTag }}
                  <span *ngIf="sport === 'nfl'">
                    <span *ngIf="statType === 'passing'">{{ item?.stats[statType]?.passTD }} TD</span>
                    <span *ngIf="statType === 'rushing'">{{ item?.stats[statType]?.rushTD }} TD</span>
                    <span *ngIf="statType === 'receiving'">{{ item?.stats[statType]?.recTD }} TD</span>
                  </span>
                </span>
                <span class="lg" *ngIf="ndk && sport === 'nfl'">
                    <span *ngIf="item?.team?.dtr != null && item?.team?.scheduleTicker != null">
                      <span *ngFor="let game of item?.team?.scheduleTicker; let i = index;">
                          <span class="game {{hoveredItem2}}" (mouseover)="hoveredItem2 = 'hovered'" (mouseout)="hoveredItem2 = ''">
                            <span [ngClass]="{'white' : game?.dRank === 'BYE', 'red' : game?.dRank &lt;= 10, 'orange' : game?.dRank > 10 && game?.dRank &lt;= 21, 'green' : game?.dRank > 21, 'dn' : seasonLength === 'fh' && i > 8 || seasonLength === 'sh' && i &lt;= 8 }">{{game?.printName}}</span>
                            <span class="tooltip">{{ game?.dRank === 'BYE' ? 'Week '+game?.name : 'D Rank '+ game?.dRank}}</span>
                          </span> 
                      </span>
                  </span>
                  <span *ngIf="item?.team?.otr != null && item?.team?.scheduleTicker != null">
                      <span *ngFor="let game of item?.team?.scheduleTicker; let i = index;">
                          <span class="game {{hoveredItem2}}" (mouseover)="hoveredItem2 = 'hovered'" (mouseout)="hoveredItem2 = ''">
                            <span [ngClass]="{'white' : game?.oRank === 'BYE', 'red' : game?.oRank &lt;= 10, 'orange' : game?.oRank > 10 && game?.oRank &lt;= 21, 'green' : game?.oRank > 21, 'dn' : seasonLength === 'fh' && i > 8 || seasonLength === 'sh' && i &lt;= 8 }">{{game?.printName}}</span>
                            <span class="tooltip">{{ game?.oRank === 'BYE' ? 'Week '+game?.name : 'D Rank '+ game?.oRank}}</span>
                          </span> 
                      </span>
                  </span>
                </span>
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="twitter">
  <div class="card-wrap-sp mat-elevation-z6 position-box">
    <h2>{{title}}</h2>
      <div>
          <div class="content-wrapper">
            <div class="row">
              <div class="w100">
                  #{{sport}} 2020
              </div>
              <div class="w100">
                  #Top5 {{title}}
              </div>
              <div *ngFor="let item of data | sortBy: statType:statField:order; let i = index" class="w100">
                      <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                        <span class="player-infos">
                            <span class="names" *ngIf="!mobile">
                                <span *ngIf="item.player.firstName != 'Shai'"> 
                                    {{ (sport === 'nba' || 'nhl' ? teams[item.player['currentTeam'].abbreviation]?.twitter : item.team?.twitter) + ' ' + item?.player?.lastName}}
                                  </span>
                                  <span *ngIf="item?.player?.firstName === 'Shai'"> 
                                    {{ (sport === 'nba' || 'nhl' ? teams[item.player['currentTeam'].abbreviation]?.twitter : item.team?.twitter) }} S. {{item?.player?.lastName}}  
                                  </span>
                            </span>

                            <span class="names" *ngIf="mobile">
                                <span> 
                                  {{ (sport === 'nba' || 'nhl' ? teams[item.player['currentTeam'].abbreviation]?.twitter : item.team?.twitter) + ' ' + item?.player?.lastName}} 
                                </span>
                            </span>
                            <span class="lg">
                                {{ (item?.stats)[statType][statField] }} {{ statTag }}
                                <span *ngIf="sport === 'nfl'">
                                  <span *ngIf="statType === 'passing'">{{ item?.stats[statType]?.passTD }} TD</span>
                                  <span *ngIf="statType === 'rushing'">{{ item?.stats[statType]?.rushTD }} TD</span>
                                  <span *ngIf="statType === 'receiving'">{{ item?.stats[statType]?.recTD }} TD</span>
                                </span>
                              </span>
                        </span>     
                      </span>
                    </div>
                    <div class="w100">
                        #{{sport}}Twitter #Stats
                    </div>
            </div>
            </div>
      </div>
  </div>
</div>
