<div class="card-wrap-sp mat-elevation-z6 position-box">
  <span class="title">{{ title }}</span> 
  <span *ngIf="sport === 'nfl'">
      <button [ngClass]="{'dn': end === 21}" (click)="begin = 0; end = 21; page = 39; amount = -1;">Easy</button> <button [ngClass]="{'dn': end === 32}" (click)="begin = 21; end = 32; page = 39; amount = -1;">Good</button> <button [ngClass]="{'dn': end === 32}" (click)="begin = 10; end = 32; page = 39; amount = -1;">Hard</button> <button (click)="begin = 0; end = 0; page = 19; amount = -1;">All</button>
  </span>
  <div>
    <div class="content-wrapper">
      <div class="row">
        <div *ngFor="let item of sortStats(data, statType, statField, order, ndk, seasonLength, eliteStat ? eliteStat : 0); let i = index">
            <!-- let item of data | sortBy: statType:statField:order;let i = index -->
          <span
            [ngClass]="{
              'left-content': i <= page,
              'dn': i > page || i <= amount || ndk && item.player.unsigned,
              'dn2': (!ndk && statType != 'tackles' && statType != 'interceptions' && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.dRank > begin : !ndk && (statType == 'tackles' || statType == 'interceptions') && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.oRank > begin : item?.team[seasonLength] > begin) && (!ndk && statType != 'tackles' && statType != 'interceptions' && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.dRank <= end : !ndk && (statType == 'tackles' || statType == 'interceptions') && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.oRank <= end : item?.team[seasonLength] <= end),
              'dn3': begin === 21 && !ndk && statType != 'tackles' && statType != 'interceptions' && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.dRank <= 10 : begin === 21 && !ndk && (statType == 'tackles' || statType == 'interceptions') && item?.team?.weekOpponent ? item?.team?.weekOpponent[0]?.oRank <= 10 : begin === 21 && item?.team[seasonLength] <= 10,
              'sm' : item?.spanOpponents != null
            }"
            >
            <span class="index-rank" [ngClass]="{'dn' : sport === 'nfl' && ndk}">{{ i + 1 }}</span>
            <span (click)="authorize(item, sport)" class="point" (mouseover)="$event.stopPropagation()" (mouseout)="$event.stopPropagation()">
              <img
                src="{{ item?.player?.officialImageSrc }}"
                alt="{{sport}} player"
                onError="this.src='https://www.nba.com/.element/img/2.0/sect/statscube/players/large/default_nba_headshot_v2.png'"
                loading="lazy"
            />
            <span class="sched-rank sched-opp" *ngIf="sport === 'mlb' && item?.mlbSpanOpponents?.length > 0">
              <span class="weekopp-top">
                <span *ngFor="let team of item?.mlbSpanOpponents; let i = index;"> {{team.print}} </span> 
              </span>
            </span>
            <span class="sched-rank {{hoveredItem}}" (mouseover)="hoveredItem = 'hovered'; $event.stopPropagation()" (mouseout)="hoveredItem = ''; $event.stopPropagation()">
                  <span class="weekopp-top" *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && statType != 'tackles' && statType != 'interceptions'" [ngClass]="{'red' : item?.team?.weekOpponent[0]?.dRank &lt;= 10, 'orange' : item?.team?.weekOpponent[0]?.dRank > 10 && item?.team?.weekOpponent[0]?.dRank &lt;= 21, 'green' : item?.team?.weekOpponent[0]?.dRank > 21}">
                    {{item?.team?.weekOpponent[0]?.printName}} <br>
                  </span>
                  <span class="weekopp-bot" *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && statType != 'tackles' && statType != 'interceptions'" [ngClass]="{'red' : item?.team?.weekOpponent[0]?.dRank &lt;= 10, 'orange' : item?.team?.weekOpponent[0]?.dRank > 10 && item?.team?.weekOpponent[0]?.dRank &lt;= 21, 'green' : item?.team?.weekOpponent[0]?.dRank > 21}">
                    {{item?.team?.weekOpponent[0]?.dRank}}
                  </span>
                  <span class="weekopp-top" *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && (statType === 'tackles' || statType === 'interceptions')" [ngClass]="{'red' : item?.team?.weekOpponent[0]?.oRank &lt;= 10, 'orange' : item?.team?.weekOpponent[0]?.oRank > 10 && item?.team?.weekOpponent[0]?.oRank &lt;= 21, 'green' : item?.team?.weekOpponent[0]?.oRank > 21}">
                      {{item?.team?.weekOpponent[0]?.printName}} <br>
                  </span>
                  <span class="weekopp-bot" *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && (statType === 'tackles' || statType === 'interceptions')" [ngClass]="{'red' : item?.team?.weekOpponent[0]?.oRank &lt;= 10, 'orange' : item?.team?.weekOpponent[0]?.oRank > 10 && item?.team?.weekOpponent[0]?.oRank &lt;= 21, 'green' : item?.team?.weekOpponent[0]?.oRank > 21}">
                    {{item?.team?.weekOpponent[0]?.oRank}}
                  </span>
                  <span *ngIf="sport === 'nfl' && item?.team[seasonLength] != null && ndk" [ngClass]="{'red' : item?.team[seasonLength] &lt;= 10, 'orange' : item?.team[seasonLength] > 10 && item?.team[seasonLength] &lt;= 21, 'green' : item?.team[seasonLength] > 21}">
                    {{item?.team[seasonLength]}}
                  </span>
                  <span *ngIf="sport === 'nfl' && item?.team[seasonLength] != null && ndk" class="tooltip"> 
                    <span *ngIf="item?.team[seasonLength] > 21">Easy</span> 
                    <span *ngIf="item?.team[seasonLength] &lt;= 21 && item?.team[seasonLength] > 10">Good</span>
                    <span *ngIf="item?.team[seasonLength] &lt;= 10">Hard</span>
                      Schedule
                  </span> 
                  <span *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && statType != 'tackles' && statType != 'interceptions'" class="tooltip"> 
                      <span *ngIf="item?.team?.weekOpponent[0]?.dRank > 21">Great</span> 
                      <span *ngIf="item?.team?.weekOpponent[0]?.dRank &lt;= 21 && item?.team?.weekOpponent[0]?.dRank > 10">Good</span>
                      <span *ngIf="item?.team?.weekOpponent[0]?.dRank &lt;= 10">Bad</span>
                        Matchup
                  </span> 
                  <span *ngIf="sport === 'nfl' && item?.team?.weekOpponent?.length > 0 && !ndk && (statType === 'tackles' || statType === 'interceptions')" class="tooltip"> 
                      <span *ngIf="item?.team?.weekOpponent[0]?.oRank > 21">Great</span> 
                      <span *ngIf="item?.team?.weekOpponent[0]?.oRank &lt;= 21 && item?.team?.weekOpponent[0]?.oRank > 10">Good</span>
                      <span *ngIf="item?.team?.weekOpponent[0]?.oRank &lt;= 10">Bad</span>
                        Matchup
                  </span>    
            </span>    
          </span>
            <span class="player-infos" [ngClass]="{'sm' : item?.spanOpponents != null}">
              <span *ngIf="item.player?.rookie === true && !ndk" class="rookie">R</span>
              <span class="names">
                  {{ !mobile && !ndk && item?.spanOpponents == null ? item.player.firstName + " " + item.player.lastName : item.player.lastName}} 
                   <span> - {{ item?.player?.primaryPosition }}</span> 
                  
              </span>

              <span class="team-image {{sport}}">
                <img src="{{ item?.team?.logo }}" alt="{{ item?.team?.name }} logo" loading="lazy" />
              </span>

              <span class="point">
                <span class="lg" *ngIf="!ndk" [ngClass]="{'sm' : item?.spanOpponents != null}">
                  {{ (item?.stats)[statType][statField] }} {{ statTag }}
                  <span *ngIf="sport === 'nfl'">
                    <span *ngIf="statType === 'interceptions' && item?.stats[statType]?.intTD &gt; 0">{{ item?.stats[statType]?.intTD }} TD</span>
                    <span *ngIf="statType === 'passing' && statField != 'ydsPerGame'">{{ item?.stats[statType]?.passTD }} TD</span>
                    <span *ngIf="statType === 'passing' && statField == 'ydsPerGame'">{{ item?.stats[statType]?.passTD + item?.stats?.rushing?.rushTD }} TD</span>
                    <span *ngIf="statType === 'rushing' && statField != 'ydsPerGame'">{{ item?.stats[statType]?.rushTD }} TD</span>
                    <span *ngIf="statType === 'rushing' && statField == 'ydsPerGame'">{{ item?.stats[statType]?.rushTD + item?.stats?.receiving?.recTD }} TD</span>
                    <span *ngIf="statType === 'receiving' && statField != 'totalTouchPct'">{{ item?.stats[statType]?.recTD }} TD</span>
                    <span *ngIf="statField === 'totalTouchPct'">{{ item?.stats?.receiving?.recTD + item?.stats?.rushing?.rushTD }} TD</span>
                  </span>
                  <span *ngIf="sport === 'mlb'">
                    <span *ngIf="statField === 'pitcherStrikeouts'">{{ item?.stats[statType]?.earnedRunAvg }} ERA</span>
                    <span *ngIf="statField === 'earnedRunAvg'">{{ item?.stats[statType]?.pca }} PCA</span>
                    <span *ngIf="statField === 'saves'">{{ item?.stats[statType]?.pitcherStrikeouts }} Ks</span>
                    <span *ngIf="statField === 'wins' && item?.stats[statType]?.qs != null">{{ item?.stats[statType]?.qs }} QS</span>
                    <span *ngIf="statField === 'runsBattedIn'">{{ item?.stats[statType]?.homeruns }} HR</span>
                    <span *ngIf="statField === 'battingAvg' || statField === 'plateAppearances'">{{ item?.stats[statType]?.hits }} H</span>
                    <span *ngIf="statField === 'homeruns' || statField === 'secondBaseHits'">{{ item?.stats[statType]?.runsBattedIn }} RBI</span>
                    <span *ngIf="statField === 'hits'">{{ item?.stats[statType]?.battingAvg }} BA</span>
                    <span *ngIf="statField === 'runs'">{{ item?.stats[statType]?.stolenBases }} SB</span>
                    <span *ngIf="statField === 'stolenBases'">{{ item?.stats[statType]?.runs }} R</span>
                    
                  </span>
                </span>
                <span *ngIf="item?.spanOpponents != null && sport === 'nfl' && !ndk && statType != 'tackles' && statType != 'interceptions'">
                    <span *ngIf="item?.spanOpponents.length &gt; 0">
                      <span class="sm" *ngFor="let team of item?.spanOpponents; let i = index;" 
                      [ngClass]="{'red' : team?.dRank &lt;= 10, 'orange' : team?.dRank > 10 && team?.dRank &lt;= 21, 'green' : team?.dRank > 21}">
                          {{team?.printName}} <br> {{team?.dRank}} <br> 
                          <span *ngIf="statType === 'passing' && statField != 'ydsPerGame' && statField != 'totalPassPct'">PY: {{team?.gamePY}} <br>
                          Int: {{team?.gamePI}}</span>
                          <span *ngIf="statField == 'totalPassPct'">PY: {{team?.gamePY}} <br>
                            PA: {{team?.gamePA}}</span>
                          <span *ngIf="statType === 'passing' && statField === 'ydsPerGame'">TY: {{team?.gamePY + team?.gameRY}}<br>
                            PA: {{team?.gamePA}}</span>
                          <span *ngIf="statType === 'rushing' && statField === 'ydsPerGame'">TY: {{team?.gameRecY + team?.gameRY}}<br>
                            RA: {{team?.gameRA}}</span>
                          <span *ngIf="statType === 'receiving' && statField === 'ydsPerGame'">TY: {{team?.gameRecY + team?.gameRY}}</span>
                          <span *ngIf="statType === 'rushing' && statField != 'ydsPerGame'">RY: {{team?.gameRY}}<br>
                            RA: {{team?.gameRA}}</span>
                          
                          <span *ngIf="statField === 'recYards'">RY: {{team?.gameRecY}}</span>
                          <span *ngIf="statField === 'touchCatchPct'">Rec: {{team?.gameRecR}}</span>
                          <span *ngIf="statField === 'receptions'">Rec: {{team?.gameRecR}}</span>
                          <span *ngIf="statField === 'fgMade'">FG: {{team?.gameFGM}}</span>
                          <span *ngIf="statField === 'longFgMade'">FG+: {{team?.gameLFGM}}</span>
                      </span>
                  </span>
                </span>
                <span *ngIf="item?.spanOpponents != null && sport === 'nfl' && !ndk && (statType === 'tackles' || statType === 'interceptions')">
                    <span *ngIf="item?.spanOpponents.length &gt; 0">
                      <span class="sm" *ngFor="let team of item?.spanOpponents; let i = index;" 
                      [ngClass]="{'red' : team?.oRank &lt;= 10, 'orange' : team?.oRank > 10 && team?.oRank &lt;= 21, 'green' : team?.oRank > 21}">
                          {{team?.printName}} <br> {{team?.oRank}} <br> OY: {{team?.opponentYds}} <br>
                          <span *ngIf="team?.gameTD === 0 && team?.gameSacks === 0 && team?.gameInt &gt; 0">Int: {{team?.gameInt}}</span> 
                          <span *ngIf="team?.gameTD === 0 && team?.gameSacks === 0 && team?.gameInt === 0">Tkl: {{team?.gameTackles}}</span> 
                          <span *ngIf="team?.gameSacks &gt; 0 && team?.gameTD === 0">Sack: {{team?.gameSacks}}</span> 
                          <span *ngIf="team?.gameTD &gt; 0">TD: {{team?.gameTD}}</span>
                      </span>
                  </span>
                </span>
                <span class="lg" *ngIf="ndk && sport === 'nfl'">
                    <span *ngIf="item?.team?.dtr != null && item?.team?.scheduleTicker != null">
                      <span *ngFor="let game of item?.team?.scheduleTicker; let i = index;">
                          <span class="game {{hoveredItem2}}" (mouseover)="hoveredItem2 = 'hovered'" (mouseout)="hoveredItem2 = ''">
                            <span [ngClass]="{'white' : game?.dRank === 'BYE', 'red' : game?.dRank &lt;= 10, 'orange' : game?.dRank > 10 && game?.dRank &lt;= 21, 'green' : game?.dRank > 21, 'dn' : seasonLength === 'dfh' && i > 8 || seasonLength === 'dsh' && i &lt;= 8 }">{{game?.printName}}</span>
                            <span class="tooltip">{{ game?.dRank === 'BYE' ? 'Week '+game?.name : 'D Rank '+ game?.dRank}}</span>
                          </span> 
                      </span>
                  </span>
                  <span *ngIf="item?.team?.otr != null && item?.team?.scheduleTicker != null">
                      <span *ngFor="let game of item?.team?.scheduleTicker; let i = index;">
                          <span class="game {{hoveredItem2}}" (mouseover)="hoveredItem2 = 'hovered'" (mouseout)="hoveredItem2 = ''">
                            <span [ngClass]="{'white' : game?.oRank === 'BYE', 'red' : game?.oRank &lt;= 10, 'orange' : game?.oRank > 10 && game?.oRank &lt;= 21, 'green' : game?.oRank > 21, 'dn' : seasonLength === 'ofh' && i > 8 || seasonLength === 'osh' && i &lt;= 8 }">{{game?.printName}}</span>
                            <span class="tooltip">{{ game?.oRank === 'BYE' ? 'Week '+game?.name : 'O Rank '+ game?.oRank}}</span>
                          </span> 
                      </span>
                  </span>
                </span>
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="twitter">
  <div class="card-wrap-sp mat-elevation-z6 position-box">
    <h2>{{title}}</h2>
      <div>
          <div class="content-wrapper">
            <div class="row">
              <div class="w100">
                  #{{sport}} 2020
              </div>
              <div class="w100">
                  #Top5 {{title}}
              </div>
              <div *ngFor="let item of data | sortBy: statType:statField:order; let i = index" class="w100">
                      <span [ngClass]="{'left-content' : i<=page, 'dn' : i>page || i<=amount}">
                        <span class="player-infos">
                            <span class="names">
                                
                                    {{ (sport === 'nba' || sport === 'nhl' ? teams[item.player['currentTeam'].abbreviation]?.twitter : item?.team?.twitter) + ' ' + item?.player?.lastName}}
                                  
                            </span>

                            
                            <span class="lg">
                                {{ (item?.stats)[statType][statField] }} {{ statTag }}
                                <span *ngIf="sport === 'nfl'">
                                  <span *ngIf="statType === 'passing'">{{ item?.stats[statType]?.passTD }} TD</span>
                                  <span *ngIf="statType === 'rushing'">{{ item?.stats[statType]?.rushTD }} TD</span>
                                  <span *ngIf="statType === 'receiving'">{{ item?.stats[statType]?.recTD }} TD</span>
                                </span>
                              </span>
                        </span>     
                      </span>
                    </div>
                    <div class="w100">
                        #{{sport}}Twitter #Stats
                    </div>
            </div>
            </div>
      </div>
  </div>
</div>
