<app-spinner *ngIf="nflTeamStatsLoading && !teamSchedules.length && !loading" [size]="'lg'" [color]="'white'" [title]="'Loading NFL Teams'"></app-spinner>
<div class="main-row" *ngIf="!nflTeamStatsLoading">
    <span class="hollow-btn" *ngIf="!showMatchup" (click)="nflDraftKit = !nflDraftKit">{{nflDraftKit ? 'Team Stats' : 'Draft Kit'}}</span>
    <span class="hollow-btn" *ngIf="!showMatchup && nflDraftKit" (click)="sortToughest(showDef)">{{showDef ? 'Toughest O' : 'Toughest D'}}</span>
    <span class="hollow-btn" (click)="showMatchup = !showMatchup; loadData()">{{showMatchup ? 'Teams' : 'Matchups'}}</span>
    <span class="hollow-btn" (click)="fantasyPoints = !fantasyPoints">{{fantasyPoints ? 'Stats' : 'Fantasy Points'}}</span>
</div>

<div class="main-row stat-leaders" *ngIf="!showMatchup">   
<section>
    <app-team-rank *ngIf="!nflTeamStatsLoading && !nflDraftKit && teamSchedules.length > 0 && showDef" 
        [data]="nflTeamStats" 
        [teams]="teams"
        [title]="'Offense Team Rank'"
        [week]="selectedWeek">
    </app-team-rank>

      <app-team-rank *ngIf="!nflTeamStatsLoading && nflDraftKit && teamSchedules.length > 0 && showDef" 
        [data]="nflTeamStats" 
        [teams]="teams"
        [title]="'Toughest Defense Schedule 2022'"
        (seasonChange)="seasonLength = $event"
        [seasonLength]="seasonLength"
        [week]="selectedWeek">
      </app-team-rank>

      <app-team-rank *ngIf="!nflTeamStatsLoading && !nflDraftKit && teamSchedules.length > 0 && !showDef" 
          [data]="nflTeamStats" 
          [teams]="teams"
          [title]="'Defense Team Rank'">
      </app-team-rank>

      <app-team-rank *ngIf="!nflTeamStatsLoading && nflDraftKit && teamSchedules.length > 0 && !showDef" 
          [data]="nflTeamStats" 
          [teams]="teams"
          [title]="'Toughest Offense Schedule 2022'"
          [seasonLength]="seasonLengthD"
          (seasonChangeD)="seasonLengthD = $event">
      </app-team-rank>
</section>
</div>
<section *ngIf="showMatchup">
  <h1 class="center date-header"> NFL Starter Matchups</h1>
  <h1 class="center date-header"> Week {{selectedWeek}}</h1>
  <app-dialog
  [isOpen]="isOpen"
  [submitting]="submitting"
  [type]="type"
  [area]="'lineup'"
  [noPosts]="noPosts"
  [tweetsData]="tweetsData"
  [name]="name"
  [sport]="'nfl'"
  [selectedPlayer]="selectedPlayer"
  [image]="image"
  (close)="isOpen = false"
  [modalType]="'twitter'"
  ></app-dialog>


  <div class="center nfl-select">
      <label for="week">Week:</label>
      <select name="week" id="week" (change)="onChange($event.target.value)">
        <option value="1"> - </option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <!-- <option value="19">wildcard</option>
        <option value="20">division round</option>
        <option value="21">conf championship</option>
        <option value="23">super bowl</option> -->
      </select>
    </div>
    <!-- <div class="center">
      <span *ngIf="typeToHideAway === 'd'"><button (click)="typeToHideAway = 'o'">AWAY D</button></span>
      <span *ngIf="typeToHideAway === 'o'"><button (click)="typeToHideAway = 'd'">AWAY O</button></span> 
      <span *ngIf="typeToHideHome === 'd'"><button (click)="typeToHideHome = 'o'">HOME D</button></span>
      <span *ngIf="typeToHideHome === 'o'"><button (click)="typeToHideHome = 'd'">HOME O</button></span>
    </div> -->

  <h1 class="center no-game-header date-header" *ngIf="noGamesToday === true && !loading">{{noGamesMsg}}</h1>
  <app-spinner *ngIf="loading" [size]="'lg'" [color]="'white'" [title]="spinTitle"></app-spinner>
  <div *ngIf="errMessage" class="err center">
      <h1><strong>Error: </strong> {{ errMessage }}</h1>
  </div>

  <div *ngIf="showData != null" class="mlb-page nfl-page">
    <div class="card-wrap-sp mat-elevation-z6" *ngFor="let data of showData">
        <div class="mat-card-sp">
              <div class="content-wrapper">
                <div class="left-content"
                [ngStyle]="{background:'linear-gradient(-225deg, rgba(0,0,0,0.7) 50%, rgba(0,0, 0,0.6) 80%), url(' + data['oPlayers'][0]?.playerObj?.team?.logo +')'}">
                
                    <span class="team-record">
                        <span class="rank-circle" title="Offense Rank" [ngClass]="{'red' : data['oPlayers'][0]?.playerObj?.teamORank &lt;= 10, 'orange' : data['oPlayers'][0]?.playerObj?.teamORank > 10 && data['oPlayers'][0]?.playerObj?.teamORank &lt;= 21, 'green' : data['oPlayers'][0]?.playerObj?.teamORank > 21}">{{data['oPlayers'][0]?.playerObj?.teamORank}} </span> &nbsp;
                        <span class="rank-circle" title="Defense Rank" [ngClass]="{'red' : data['oPlayers'][0]?.playerObj?.teamDRank &lt;= 10, 'orange' : data['oPlayers'][0]?.playerObj?.teamDRank > 10 && data['oPlayers'][0]?.playerObj?.teamDRank &lt;= 21, 'green' : data['oPlayers'][0]?.playerObj?.teamDRank > 21}">{{data['oPlayers'][0]?.playerObj?.teamDRank}}</span>    
                        <!-- + data['oPlayers'][0]?.playerObj?.winToday + data['oPlayers'][0]?.playerObj?.lossToday + data['oPlayers'][0]?.playerObj?.tieToday -->
                   <span title="{{data['oPlayers'][0]?.playerObj?.team.conference}}">{{data['oPlayers'][0]?.playerObj?.team.name}}</span>  
                    {{data['oPlayers'][0]?.playerObj?.teamStats?.stats?.standings?.wins }} - 
                    {{data['oPlayers'][0]?.playerObj?.teamStats?.stats?.standings?.losses }} - 
                    {{data['oPlayers'][0]?.playerObj?.teamStats?.stats?.standings?.ties }}
                    </span> <br>
                  <span [ngClass]="{'dn' : item?.playerObj?.player.gameLocation === 'home' || item?.playerObj?.playerType === 'n', 'dn2' : item?.playerObj?.playerType === typeToHideAway, 'player-item' : item?.playerObj?.player.gameLocation === 'away'}"  *ngFor="let item of data['oPlayers']; let i = index">
                    
               
                    <span class="pointer" (click)="authorize(item?.playerObj)">
                      <img src="{{item?.playerObj?.player.officialImageSrc}}" alt="football player" onError="this.src='./assets/fb-player.png'">
                    </span> <br>
                    <span class="pname" [ngClass]="{'sm' : longNames[item?.playerObj?.player.lastName] != null}">{{item?.playerObj?.player.lastName}} {{item?.playerObj.player?.primaryPosition}}</span> <br>
                    <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED'" class="stats">
                      <span class="inner" *ngIf="!fantasyPoints">
                          <span *ngIf="item?.playerObj.player?.primaryPosition === 'WR' || item?.playerObj.player?.primaryPosition === 'TE'">
                            <span>
                              {{item?.playerObj?.stats?.receiving?.receptions}} Rec
                              <br>
                              <span class="sml-stat"> {{item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD &gt; 0 ? item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD + ' TD' : item?.playerObj?.stats?.receiving?.recYards + ' Yds'}}</span>
                            </span> 
                          </span>
                          <span *ngIf="item?.playerObj.player?.primaryPosition === 'RB'">
                              <span>
                                  {{item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD &gt; 0 ? item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD + ' TD' : item?.playerObj?.stats?.receiving?.receptions + ' Rec'}}    
                                  <br>
                                  <span class="sml-stat"> {{item?.playerObj?.stats?.receiving?.recYards + item?.playerObj?.stats?.rushing?.rushYards}} Yds </span>
                              </span> 
                          </span>
                          <span *ngIf="item?.playerObj.player?.primaryPosition === 'QB'">
                              <span>
                                  {{item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD}} TD
                                  <br>
                                  <span class="sml-stat"> {{(item?.playerObj?.stats?.passing?.passYards + item?.playerObj?.stats?.rushing?.rushYards) + ' Yds'}}</span>
                              </span> 
                          </span>
                        </span>

                        <span class="inner" *ngIf="fantasyPoints">
                          <span>
                            <span>
                              {{item?.playerObj?.stats?.receiving?.fanDuelFP}}
                            </span> 
                          </span>
                        </span>

                      </span>
                      <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus != 'UNPLAYED'" class="stats">
                        <span class="inner" *ngIf="!fantasyPoints">
                          <span *ngIf="item?.playerObj.player?.primaryPosition === 'WR' && item?.playerObj?.stats?.recToday != null || 
                        item?.playerObj.player?.primaryPosition === 'TE' && item?.playerObj?.stats?.recToday != null">
                            <span>
                                {{item?.playerObj?.stats?.recToday}} Rec <br>
                                <span class="sml-stat"> {{item?.playerObj?.stats?.ttdToday &gt; 0 ? item?.playerObj?.stats?.ttdToday + ' TD' : item?.playerObj?.stats?.tyToday + ' Yds'}}</span>
                            </span> 
                          </span>
                          <span *ngIf="item?.playerObj.player?.primaryPosition === 'RB' && item?.playerObj?.stats?.tyToday != null">
                              <span>
                                  {{item?.playerObj?.stats?.tyToday}} Yds
                                  <br>
                                <span class="sml-stat"> {{item?.playerObj?.stats?.ttdToday &gt; 0 ? item?.playerObj?.stats?.ttdToday + ' TD' : item?.playerObj?.stats?.recToday + ' Rec'}}</span>
                              </span> 
                          </span>
                          <span *ngIf="item?.playerObj.player?.primaryPosition === 'QB' && item?.playerObj?.stats?.ttdToday != null">
                              <span>
                                  {{item?.playerObj?.stats?.ttdToday}} TD
                                  <br>
                                <span class="sml-stat"> {{item?.playerObj?.stats?.tqbyToday + ' Yds'}}</span>
                              </span> 
                          </span>
                        </span>

                        <span class="inner" *ngIf="fantasyPoints">
                          <span>
                            <span>
                              {{item?.playerObj?.stats?.fanDuelDFP}}
                            </span> 
                          </span>
                        </span>

                      </span>
                  </span> 
                  
                </div>
                <div class="center-content">
                    <span class="matchup-text">
                      {{data['oPlayers'][0]?.playerObj?.team.abbreviation}} <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'LIVE' || data['oPlayers'][0]?.playerObj?.gameStatus === 'COMPLETED' || data['oPlayers'][0]?.playerObj?.gameStatus === 'COMPLETED_PENDING_REVIEW'"> {{data['oPlayers'][0]?.playerObj?.team?.teamScore}} </span> <span class="sml">@</span>  
                      {{data['oPlayers'][6]?.playerObj?.team.abbreviation}} <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'LIVE' || data['oPlayers'][0]?.playerObj?.gameStatus === 'COMPLETED' || data['oPlayers'][0]?.playerObj?.gameStatus === 'COMPLETED_PENDING_REVIEW'"> {{data['oPlayers'][0]?.playerObj?.team?.opponentScore}} </span>
                    </span>
                    <span class="game-text">
                      <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'LIVE'">
                        <span class="live"> LIVE</span> 
                        <span class="inning">
                             {{data['oPlayers'][0]?.playerObj?.team?.currentQ}} <span *ngIf="data['oPlayers'][0]?.playerObj?.team?.currentQ != 'HALFTIME'"> QTR</span> 
                        </span>
                        <!-- <span class="score-box">
                            {{data['oPlayers'][0]?.playerObj?.team?.teamScore}} - 
                            {{data['oPlayers'][0]?.playerObj?.team?.opponentScore}}
                        </span> -->
                      </span>  
                      <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED'">{{data['oPlayers'][0]?.playerObj?.player.gameTime | date: 'shortTime'}} PST</span> 
                      <span class="postponed" *ngIf="data['oPlayers'][0]?.playerObj?.sStatus === 'POSTPONED' && 
                      data['oPlayers'][0]?.playerObj?.gameStatus != 'LIVE' && 
                      data['oPlayers'][0]?.playerObj?.gameStatus != 'COMPLETED' && 
                      data['oPlayers'][0]?.playerObj?.gameStatus != 'COMPLETED_PENDING_REVIEW'"></span>
                      <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'COMPLETED_PENDING_REVIEW'"> GAME OVER</span> 
                      <span class="final" *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'COMPLETED'"> 
                        FINAL 
                        <!-- <span class="score-box">
                            {{data['oPlayers'][0]?.playerObj?.team?.teamScore}} - 
                            {{data['oPlayers'][0]?.playerObj?.team?.opponentScore}}
                        </span> -->
                        
                        {{data['oPlayers'][0]?.playerObj?.team?.teamScore > data['oPlayers'][0]?.playerObj?.team?.opponentScore ? data['oPlayers'][0]?.playerObj?.team?.abbreviation +' Wins!' : data['oPlayers'][6]?.playerObj?.team?.abbreviation +' Wins!'}}
                        
                      </span> 
                      <span class="run-pct">
                        <br>
                        <b>Run / Pass Pct</b> &nbsp; {{data['oPlayers'][0]?.playerObj?.team.abbreviation}} - {{data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED' ? data['oPlayers'][0]?.playerObj?.stats.teamSRPct : data['oPlayers'][0]?.playerObj?.stats.teamDRPct}}% / 
                        {{data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED' ? data['oPlayers'][0]?.playerObj?.stats.teamSPPct : data['oPlayers'][0]?.playerObj?.stats.teamDPPct}}% 
                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          {{data['oPlayers'][6]?.playerObj?.team.abbreviation}} - {{data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED' ? data['oPlayers'][6]?.playerObj?.stats.teamSRPct : data['oPlayers'][6]?.playerObj?.stats.teamDRPct}}%   / 
                          {{data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED' ? data['oPlayers'][6]?.playerObj?.stats.teamSPPct : data['oPlayers'][6]?.playerObj?.stats.teamDPPct}}% <br>

                          <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED'">
                            {{data['oPlayers'][0]?.playerObj?.stats?.seasonRun ? data['oPlayers'][0]?.playerObj?.stats?.teamSRPlays + ' Run Plays / '+ data['oPlayers'][0]?.playerObj?.stats?.teamSRYards + ' Yds' :  data['oPlayers'][0]?.playerObj?.stats?.teamSPPlays + ' Pass Plays / '+ data['oPlayers'][0]?.playerObj?.stats?.teamSPYards + ' Yds'}}
                          </span>
                          <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus != 'UNPLAYED'">
                            {{data['oPlayers'][0]?.playerObj?.stats?.dailyRun ? data['oPlayers'][0]?.playerObj?.stats?.teamDRPlays + ' Run Plays / '+ data['oPlayers'][0]?.playerObj?.stats?.teamDRYards + ' Yds' : data['oPlayers'][0]?.playerObj?.stats?.teamDPPlays + ' Pass Plays / ' + data['oPlayers'][0]?.playerObj?.stats?.teamDPYards + ' Yds'}}
                          </span>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span *ngIf="data['oPlayers'][6]?.playerObj?.gameStatus === 'UNPLAYED'">
                            {{data['oPlayers'][6]?.playerObj?.stats?.seasonRun ? data['oPlayers'][6]?.playerObj?.stats?.teamSRPlays + ' Run Plays / '+ data['oPlayers'][6]?.playerObj?.stats?.teamSRYards + ' Yds' :  data['oPlayers'][6]?.playerObj?.stats?.teamSPPlays + ' Pass Plays / '+ data['oPlayers'][6]?.playerObj?.stats?.teamSPYards + ' Yds'}}
                        </span>
                        <span *ngIf="data['oPlayers'][6]?.playerObj?.gameStatus != 'UNPLAYED'">
                            {{data['oPlayers'][6]?.playerObj?.stats.dailyRun ? data['oPlayers'][6]?.playerObj?.stats?.teamDRPlays + ' Run Plays / '+ data['oPlayers'][6]?.playerObj?.stats?.teamDRYards + ' Yds' : data['oPlayers'][6]?.playerObj?.stats?.teamDPPlays + ' Pass Plays / ' + data['oPlayers'][6]?.playerObj?.stats?.teamDPYards + ' Yds'}}
                        </span>
                      </span>
                    </span>
                </div>
                <div class="right-content" [ngStyle]="{background:'linear-gradient(-225deg, rgba(0,0,0,0.7) 50%, rgba(0,0, 0,0.6) 80%), url(' + data['oPlayers'][0]?.playerObj?.team?.opponentLogo +')'}">
                    <span class="team-record">
                        <span class="rank-circle" title="Offense Rank" [ngClass]="{'red' : data['oPlayers'][6]?.playerObj?.teamORank &lt;= 10, 'orange' : data['oPlayers'][6]?.playerObj?.teamORank > 10 && data['oPlayers'][6]?.playerObj?.teamORank &lt;= 21, 'green' : data['oPlayers'][6]?.playerObj?.teamORank > 21}">{{data['oPlayers'][6]?.playerObj?.teamORank}} </span> &nbsp;
                        <span class="rank-circle" title="Defense Rank" [ngClass]="{'red' : data['oPlayers'][6]?.playerObj?.teamDRank &lt;= 10, 'orange' : data['oPlayers'][6]?.playerObj?.teamDRank > 10 && data['oPlayers'][6]?.playerObj?.teamDRank &lt;= 21, 'green' : data['oPlayers'][6]?.playerObj?.teamDRank > 21}">{{data['oPlayers'][6]?.playerObj?.teamDRank}}</span> 
                        <span title="{{data['oPlayers'][6]?.playerObj?.team.conference}}">{{data['oPlayers'][6]?.playerObj?.team.name}} </span>
                        {{data['oPlayers'][6]?.playerObj?.teamStats?.stats?.standings?.wins }} - 
                        {{data['oPlayers'][6]?.playerObj?.teamStats?.stats?.standings?.losses }} - 
                        {{data['oPlayers'][6]?.playerObj?.teamStats?.stats?.standings?.ties }}
                    </span> <br>
                  <span [ngClass]="{'dn' : item?.playerObj?.player.gameLocation === 'away' || item?.playerObj?.playerType === 'n', 'dn2' : item?.playerObj?.playerType === typeToHideHome, 'player-item' : item?.playerObj?.player.gameLocation === 'home'}"  *ngFor="let item of data['oPlayers']; let i = index">
                  

                    <span class="pointer" (click)="authorize(item?.playerObj)">
                      <img src="{{item?.playerObj?.player.officialImageSrc}}" alt="football player" onError="this.src='./assets/fb-player.png'">
                    </span> <br>
                  <span class="pname" [ngClass]="{'sm' : longNames[item?.playerObj?.player.lastName] != null }">{{item?.playerObj?.player.lastName}} {{item?.playerObj.player?.primaryPosition}}</span> <br>

                  <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED'" class="stats">
                    <span class="inner" *ngIf="!fantasyPoints">
                      <span *ngIf="item?.playerObj.player?.primaryPosition === 'WR' || item?.playerObj.player?.primaryPosition === 'TE'">
                        <span>
                          {{item?.playerObj?.stats?.receiving?.receptions}} Rec
                          <br>
                          <span class="sml-stat">  {{item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD &gt; 0 ? item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD + ' TD' : item?.playerObj?.stats?.receiving?.recYards + ' Yds'}}</span>
                        </span> 
                      </span>
                      <span *ngIf="item?.playerObj.player?.primaryPosition === 'RB'">
                          <span>
                              {{item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD &gt; 0 ? item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD + ' TD' : item?.playerObj?.stats?.receiving?.receptions + ' Rec'}}  
                              <br>
                              <span class="sml-stat">  {{item?.playerObj?.stats?.receiving?.recYards + item?.playerObj?.stats?.rushing?.rushYards}} Yds </span>
                          </span> 
                      </span>
                        <span *ngIf="item?.playerObj.player?.primaryPosition === 'QB'">
                          <span>
                              {{item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD}} TD
                              <br>
                              <span class="sml-stat">  {{(item?.playerObj?.stats?.passing?.passYards + item?.playerObj?.stats?.rushing?.rushYards) + ' Yds'}}</span>
                          </span> 
                        </span>
                      </span>

                      <span class="inner" *ngIf="fantasyPoints">
                        <span>
                          <span>
                            {{item?.playerObj?.stats?.receiving?.fanDuelFP}}
                          </span> 
                        </span>
                      </span>

                    </span>
                    <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus != 'UNPLAYED'" class="stats">
                      <span class="inner" *ngIf="!fantasyPoints">
                      <span *ngIf="item?.playerObj.player?.primaryPosition === 'WR' && item?.playerObj?.stats?.recToday != null || 
                      item?.playerObj.player?.primaryPosition === 'TE' && item?.playerObj?.stats?.recToday != null">
                          <span>
                              {{item?.playerObj?.stats?.recToday}} Rec <br>
                              <span class="sml-stat">  {{item?.playerObj?.stats?.ttdToday &gt; 0 ? item?.playerObj?.stats?.ttdToday + ' TD' : item?.playerObj?.stats?.tyToday + ' Yds'}}</span>
                          </span> 
                        </span>
                        <span *ngIf="item?.playerObj.player?.primaryPosition === 'RB' && item?.playerObj?.stats?.tyToday != null">
                            <span>
                                {{item?.playerObj?.stats?.tyToday}} Yds
                                <br>
                              <span class="sml-stat">  {{item?.playerObj?.stats?.ttdToday &gt; 0 ? item?.playerObj?.stats?.ttdToday + ' TD' : item?.playerObj?.stats?.recToday + ' Rec'}}</span>
                            </span> 
                        </span>
                        <span *ngIf="item?.playerObj.player?.primaryPosition === 'QB' && item?.playerObj?.stats?.ttdToday != null">
                            <span>
                                {{item?.playerObj?.stats?.ttdToday}} TD
                                <br>
                              <span class="sml-stat">  {{item?.playerObj?.stats?.tqbyToday + ' Yds'}}</span>
                            </span> 
                        </span>
                     </span>

                     <span class="inner" *ngIf="fantasyPoints">
                      <span>
                        <span>
                          {{item?.playerObj?.stats?.fanDuelDFP}}
                        </span> 
                      </span>
                    </span>
                    </span>
                  </span> 

                </div>
              </div>
              <div class="bottom-content">
              <!-- <span class="left-stats">

                <span *ngIf="typeToHideAway === 'd'"> 
                  <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED'">
                    {{data['oPlayers'][0]?.playerObj?.stats?.seasonRun ? data['oPlayers'][0]?.playerObj?.stats?.teamSRPlays + ' Run Plays / '+ data['oPlayers'][0]?.playerObj?.stats?.teamSRYards + ' Yds' :  data['oPlayers'][0]?.playerObj?.stats?.teamSPPlays + ' Pass Plays / '+ data['oPlayers'][0]?.playerObj?.stats?.teamSPYards + ' Yds'}}
                  </span>
                  <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus != 'UNPLAYED'">
                    {{data['oPlayers'][0]?.playerObj?.stats?.dailyRun ? data['oPlayers'][0]?.playerObj?.stats?.teamDRPlays + ' Run Plays / '+ data['oPlayers'][0]?.playerObj?.stats?.teamDRYards + ' Yds' : data['oPlayers'][0]?.playerObj?.stats?.teamDPPlays + ' Pass Plays / ' + data['oPlayers'][0]?.playerObj?.stats?.teamDPYards + ' Yds'}}
                  </span>
                </span>

                <span *ngIf="typeToHideAway === 'o'">    
                    <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED'">
                      {{data['oPlayers'][0]?.playerObj?.teamStats?.stats?.standings?.pointsAgainst}} pts against {{data['oPlayers'][0]?.playerObj?.teamStats?.stats?.tackles?.sacks}} sack {{data['oPlayers'][0]?.playerObj?.teamStats?.stats?.interceptions?.passesDefended}} pd
                    </span>
                    <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus != 'UNPLAYED'">
                      {{data['oPlayers'][0]?.playerObj?.dTeamStats?.stats?.standings?.pointsAgainst}} pts against {{data['oPlayers'][0]?.playerObj?.dTeamStats?.stats?.tackles?.sacks}} sack {{data['oPlayers'][0]?.playerObj?.dTeamStats?.stats?.interceptions?.passesDefended}} pd
                    </span>
                </span>

              </span>  
              <span class="right-stats"> 
                  
                  <span *ngIf="typeToHideHome === 'd'">
                    <span *ngIf="data['oPlayers'][6]?.playerObj?.gameStatus === 'UNPLAYED'">
                        {{data['oPlayers'][6]?.playerObj?.stats?.seasonRun ? data['oPlayers'][6]?.playerObj?.stats?.teamSRPlays + ' Run Plays / '+ data['oPlayers'][6]?.playerObj?.stats?.teamSRYards + ' Yds' :  data['oPlayers'][6]?.playerObj?.stats?.teamSPPlays + ' Pass Plays / '+ data['oPlayers'][6]?.playerObj?.stats?.teamSPYards + ' Yds'}}
                    </span>
                    <span *ngIf="data['oPlayers'][6]?.playerObj?.gameStatus != 'UNPLAYED'">
                        {{data['oPlayers'][6]?.playerObj?.stats.dailyRun ? data['oPlayers'][6]?.playerObj?.stats?.teamDRPlays + ' Run Plays / '+ data['oPlayers'][6]?.playerObj?.stats?.teamDRYards + ' Yds' : data['oPlayers'][6]?.playerObj?.stats?.teamDPPlays + ' Pass Plays / ' + data['oPlayers'][6]?.playerObj?.stats?.teamDPYards + ' Yds'}}
                    </span>
                  </span>

                  <span *ngIf="typeToHideHome === 'o'">    
                      <span *ngIf="data['oPlayers'][6]?.playerObj?.gameStatus === 'UNPLAYED'">
                        {{data['oPlayers'][6]?.playerObj?.teamStats?.stats?.standings?.pointsAgainst}} pts against {{data['oPlayers'][6]?.playerObj?.teamStats?.stats?.tackles?.sacks}} sack {{data['oPlayers'][6]?.playerObj?.teamStats?.stats?.interceptions?.passesDefended}} pd
                      </span>
                      <span *ngIf="data['oPlayers'][6]?.playerObj?.gameStatus != 'UNPLAYED'">
                        {{data['oPlayers'][6]?.playerObj?.dTeamStats?.stats?.standings?.pointsAgainst}} pts against {{data['oPlayers'][6]?.playerObj?.dTeamStats?.stats?.tackles?.sacks}} sack {{data['oPlayers'][6]?.playerObj?.dTeamStats?.stats?.interceptions?.passesDefended}} pd
                      </span>
                  </span>
                  
                </span> -->
                <!-- <span class="center block" *ngIf="mobile">
                  <br>
                    <span class="matchup-text">
                        {{data['oPlayers'][0]?.playerObj?.team.abbreviation}} <span class="sml">@</span>  
                        {{data['oPlayers'][6]?.playerObj?.team.abbreviation}} 
                      </span>
                      <span class="game-text">
                        <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'LIVE'">
                          <span class="live"> LIVE </span> 
                          <span class="inning">
                              {{data['oPlayers'][0]?.playerObj?.team?.currentQ}}  <span *ngIf="data['oPlayers'][0]?.playerObj?.team?.currentQ != 'HALFTIME'"> QTR</span>  &nbsp;
                          </span>
                          <span class="score-box"> 
                              {{data['oPlayers'][0]?.playerObj?.team?.teamScore}} - 
                              {{data['oPlayers'][0]?.playerObj?.team?.opponentScore}} 
                          </span>
                        </span>  
                        <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED' &&
                        data['oPlayers'][0]?.playerObj?.sStatus != 'POSTPONED'">{{data['oPlayers'][0]?.playerObj?.player.gameTime | date: 'shortTime'}} PST</span> 
                        <span class="postponed" *ngIf="data['oPlayers'][0]?.playerObj?.sStatus === 'POSTPONED' && 
                        data['oPlayers'][0]?.playerObj?.gameStatus != 'LIVE' && 
                        data['oPlayers'][0]?.playerObj?.gameStatus != 'COMPLETED' && 
                        data['oPlayers'][0]?.playerObj?.gameStatus != 'COMPLETED_PENDING_REVIEW'"></span>
                        <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'COMPLETED_PENDING_REVIEW'">GAME OVER</span> 
                        <span class="final" *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'COMPLETED'"> 
                          FINAL 
                          <span class="score-box"> 
                              {{data['oPlayers'][0]?.playerObj?.team?.teamScore}} - 
                              {{data['oPlayers'][0]?.playerObj?.team?.opponentScore}} 
                          </span> 
                          
                          {{data['oPlayers'][0]?.playerObj?.team?.teamScore > data['oPlayers'][0]?.playerObj?.team?.opponentScore ? data['oPlayers'][0]?.playerObj?.team?.abbreviation +' Wins!' : data['oPlayers'][6]?.playerObj?.team?.abbreviation +' Wins!'}}
                          
                        </span> 
                        
                      </span>
                </span> -->
                <div *ngIf="twitter">
                  <br>
                  #NFL Starters offense rank {{data['oPlayers'][0]?.playerObj?.teamORank}}  defense rank {{data['oPlayers'][0]?.playerObj?.teamDRank}} {{data['oPlayers'][0]?.playerObj?.team?.twitter}} 
                  offense rank {{data['oPlayers'][6]?.playerObj?.teamORank}}  defense rank {{data['oPlayers'][6]?.playerObj?.teamDRank}} {{data['oPlayers'][6]?.playerObj?.team?.twitter}}
                  <div  *ngFor="let item of data['oPlayers']" [ngClass]="{'dn' : item?.playerObj?.player.gameLocation === 'away' && item?.playerObj?.playerType === typeToHideAway, 'dn2' : item?.playerObj?.player.gameLocation === 'home' && item?.playerObj?.playerType === typeToHideHome}">                   
                    {{item?.playerObj?.player.lastName}} 

                    <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus === 'UNPLAYED'" class="stats">
                    

                    <span *ngIf="item?.playerObj?.playerType === 'd'">
                        <span [ngStyle]="{color: item?.playerObj?.stats?.tackles.tackleTotal &gt; 25 ? 'gold' : 'white'}">
                          {{item?.playerObj?.stats?.tackles.tackleTotal}} Tkl
                          
                          <span class="sml-stat">  
                            {{item?.playerObj?.stats?.interceptions?.intTD + item?.playerObj?.stats?.fumbles.fumTD &gt; 0 ? item?.playerObj?.stats?.interceptions?.intTD + item?.playerObj?.stats?.fumbles.fumTD + ' TD' : 
                              item?.playerObj?.stats?.tackles?.sacks &gt; 0 ? item?.playerObj?.stats?.tackles?.sacks + ' SACK' :
                              item?.playerObj?.stats?.interceptions?.interceptions &gt; 0 ? item?.playerObj?.stats?.interceptions?.interceptions + ' Int' :
                              item?.playerObj?.stats?.fumbles?.fumForced &gt; 0 ? item?.playerObj?.stats?.fumbles?.fumForced + ' FF' :
                              item?.playerObj?.stats?.fumbles?.fumOppRec &gt; 0 ? item?.playerObj?.stats?.fumbles?.fumOppRec + ' FR' :
                                item?.playerObj?.stats?.interceptions?.passesDefended + ' PD'}}
                          </span>
                        </span> 
                    </span>
  
                    <span *ngIf="item?.playerObj.player?.primaryPosition === 'WR' || item?.playerObj.player?.primaryPosition === 'TE'">
                        <span>
                          {{item?.playerObj?.stats?.receiving?.receptions}} Rec
                          
                          <span class="sml-stat">  {{item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD &gt; 0 ? item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD + ' TD' : item?.playerObj?.stats?.receiving?.recYards + ' Yds'}}</span>
                        </span> 
                      </span>
                      <span *ngIf="item?.playerObj.player?.primaryPosition === 'RB'">
                          <span>
                              {{item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD &gt; 0 ? item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD + ' TD' : item?.playerObj?.stats?.receiving?.receptions + ' Rec'}}  
                              
                              <span class="sml-stat">{{item?.playerObj?.stats?.receiving?.recYards + item?.playerObj?.stats?.rushing?.rushYards}} Yds </span>
                          </span> 
                      </span>
                      <span *ngIf="item?.playerObj.player?.primaryPosition === 'QB'">
                          <span>
                              {{item?.playerObj?.stats?.receiving?.recTD + item?.playerObj?.stats?.passing?.passTD + item?.playerObj?.stats?.rushing?.rushTD}} TD
                              
                              <span class="sml-stat"> {{(item?.playerObj?.stats?.passing?.passYards + item?.playerObj?.stats?.rushing?.rushYards) + ' Yds'}}</span>
                          </span> 
                      </span>
                    
                    </span>
  
  
                    <span *ngIf="data['oPlayers'][0]?.playerObj?.gameStatus != 'UNPLAYED'" class="stats">
                      
    
                        <span *ngIf="item?.playerObj?.playerType === 'd' && item?.playerObj?.stats?.tacklesToday != null">
                            <span [ngStyle]="{color: item?.playerObj?.stats?.tacklesToday &gt; 6 ? 'gold' : 'white'}">
                              {{item?.playerObj?.stats?.tacklesToday}} Tkl
                              
                              <span class="sml-stat"> 
                                  {{item?.playerObj?.stats?.intTdToday + item?.playerObj?.stats?.fumTdToday &gt; 0 ? item?.playerObj?.stats?.intTdToday + item?.playerObj?.stats?.fumTdToday + ' TD' : 
                                    item?.playerObj?.stats?.sacksToday &gt; 0 ? item?.playerObj?.stats?.sacksToday + ' SACK' :
                                    item?.playerObj?.stats?.intToday &gt; 0 ? item?.playerObj?.stats?.intToday + ' Int' :
                                    item?.playerObj?.stats?.ffToday &gt; 0 ? item?.playerObj?.stats?.ffToday + ' FF' :
                                    item?.playerObj?.stats?.frToday &gt; 0 ? item?.playerObj?.stats?.frToday + ' FR' :
                                    item?.playerObj?.stats?.pdToday + ' PD'}}
                              </span>
                              
                            </span> 
                        </span>
      
                        <span *ngIf="item?.playerObj.player?.primaryPosition === 'WR' && item?.playerObj?.stats?.recToday != null || 
                        item?.playerObj.player?.primaryPosition === 'TE' && item?.playerObj?.stats?.recToday != null">
                            <span>
                                {{item?.playerObj?.stats?.recToday}} Rec 
                                <span class="sml-stat"> {{item?.playerObj?.stats?.ttdToday &gt; 0 ? item?.playerObj?.stats?.ttdToday + ' TD' : item?.playerObj?.stats?.tyToday + ' Yds'}}</span>
                            </span> 
                          </span>
                          <span *ngIf="item?.playerObj.player?.primaryPosition === 'RB' && item?.playerObj?.stats?.tyToday != null">
                              <span>
                                  {{item?.playerObj?.stats?.tyToday}} Yds
                                  
                                <span class="sml-stat"> {{item?.playerObj?.stats?.ttdToday &gt; 0 ? item?.playerObj?.stats?.ttdToday + ' TD' : item?.playerObj?.stats?.recToday + ' Rec'}}</span>
                              </span> 
                          </span>
                          <span *ngIf="item?.playerObj.player?.primaryPosition === 'QB' && item?.playerObj?.stats?.ttdToday != null">
                              <span>
                                  {{item?.playerObj?.stats?.ttdToday}} TD
                                  
                                <span class="sml-stat"> {{item?.playerObj?.stats?.tqbyToday + ' Yds'}}</span>
                              </span> 
                          </span>
                        </span>
                    
                  </div>
                  #Stats #FantasyFootball #Football
                </div> 
              </div>
              
          </div>
    </div>
  </div>
  <div class="row" *ngIf="!loading && dailySchedule != null">
    <div class="center twitter-btn">
        <button (click)="twitter = !twitter">Twitter</button>
    </div>
  </div> 
</section>
