<span *ngIf="fbService.userDetails != null"><button class="mat-raised-button" color="warn" (click)="openLastweek($event, showData)">Hot List</button></span>
<span class="admin-box" *ngIf="fbService.userDetails != null">Admin</span>
<form>
  <input type="text" (keydown.shift.arrowdown)="openLogin($event)" #myInput />
</form>
<div id="top">
  <h1 class="center date-header baseball-header"> NHL Starting Goalies</h1>
</div>
<h1 class="center date-header"> {{ gameDate | date:'fullDate' }}</h1>
<div class="center">
    <app-date-picker (setDate)="getByDate($event)"></app-date-picker>
  </div>
<h1 class="center no-game-header" *ngIf="noGamesToday === true">{{noGamesMsg}}</h1>
<div class="matchup-layout goalie-layout" *ngIf="fbService.userDetails != null">
  <div class="edit-list-container" *ngIf="fullFirebaseResponse != null">
    
      <input type="text" class="form-control" [(ngModel)]="fullFirebaseResponse[0]['todayDate']">
    
    <ul>
      <li>Confirmed = <i class="material-icons md-18" style="color: #2ecc71; background: #fff; border-radius: 50%;">check_circle</i> Expected = <i class="material-icons md-18" style="color: orange; background: #fff; border-radius: 50%;">check_circle</i>
      </li>
      <li *ngFor="let group of myData">
        <ul>
          <li *ngFor="let goalie of allGoalies" class="goalie">
            <span *ngIf="goalie[group.player.id] != null && allGoalies[0][group.player.id].filterOutStarters == null" (click)="goalie[group.player.id].probable = !goalie[group.player.id].probable" [(ngModel)]="allGoalies[0][group.player.id].probable" ngDefaultControl>
      <img src="{{group.player.image}}" alt="" onError="this.src='https://nhl.bamcontent.com/images/headshots/current/168x168/goalie@2x.jpg'"> {{group.player.lastName}}
    </span>
            <span *ngIf="goalie[group.player.id] != null && allGoalies[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === false" style="color: red">X</span>

            <span *ngIf="goalie[group.player.id] != null && allGoalies[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === true && goalie[group.player.id].confirmed === false" (click)="goalie[group.player.id].confirmed = !goalie[group.player.id].confirmed" [(ngModel)]="allGoalies[0][group.player.id].confirmed" ngDefaultControl style="color: orange;"><i class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>

            <span *ngIf="goalie[group.player.id] != null && allGoalies[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === true && goalie[group.player.id].confirmed === true" style="color: #2ecc71;" (click)="goalie[group.player.id].confirmed = !goalie[group.player.id].confirmed" [(ngModel)]="allGoalies[0][group.player.id].confirmed" ngDefaultControl><i class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>

            <span *ngIf="goalie[group.player.id] != null && allGoalies[0][group.player.id].filterOutStarters == null && stats === true">
     ({{group.stats.goaltending.wins + '-' + group.stats.goaltending.losses + '-' + group.stats.goaltending.overtimeLosses}})
   </span>
          </li>
        </ul>
      </li>
    </ul>
    <div style="margin: 8px; padding: 8px;" *ngIf="stats === false">
      <button (click)="saveStarts()">Save Starts</button>
    </div>
    <div style="margin: 8px; padding: 8px;">
      <button (click)="showTodayStarters()">Show Today's Starters</button>
    </div>
    <!-- <div style="margin: 8px; padding: 8px;">
      <button (click)="addMoreData()">Add Data</button>
    </div> -->
  </div>
  <!-- edit-list-container -->
  <div class="edit-list-container" *ngIf="fullFirebaseResponse != null">
    
      <input type="text" class="form-control" [(ngModel)]="fullFirebaseResponse[2]['tomorrowDate']">
    
    <ul>
      <li>Confirmed = <i class="material-icons md-18" style="color: #2ecc71; background: #fff; border-radius: 50%;">check_circle</i> Expected = <i class="material-icons md-18" style="color: orange; background: #fff; border-radius: 50%;">check_circle</i> </li>
      <li></li>
      <li *ngFor="let group of myData">
        <ul>
          <li *ngFor="let goalie of allGoaliesTomorrow" class="goalie">
            <span *ngIf="goalie[group.player.id] != null && allGoaliesTomorrow[0][group.player.id].filterOutStarters == null" (click)="goalie[group.player.id].probable = !goalie[group.player.id].probable" [(ngModel)]="allGoalies[0][group.player.id].probable" ngDefaultControl>
      <img src="{{group.player.image}}" alt="" onError="this.src='https://nhl.bamcontent.com/images/headshots/current/168x168/goalie@2x.jpg'"> {{group.player.lastName}} 
    </span>
            <span *ngIf="goalie[group.player.id] != null && allGoaliesTomorrow[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === false" style="color: red">X</span>
            <span *ngIf="goalie[group.player.id] != null && allGoaliesTomorrow[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === true && goalie[group.player.id].confirmed === false" (click)="goalie[group.player.id].confirmed = !goalie[group.player.id].confirmed" [(ngModel)]="allGoalies[0][group.player.id].confirmed" ngDefaultControl style="color: orange;"><i class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>
            <span *ngIf="goalie[group.player.id] != null && allGoaliesTomorrow[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === true && goalie[group.player.id].confirmed === true" style="color: #2ecc71;" (click)="goalie[group.player.id].confirmed = !goalie[group.player.id].confirmed" [(ngModel)]="allGoalies[0][group.player.id].confirmed" ngDefaultControl><i class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>
            <span *ngIf="goalie[group.player.id] != null && allGoaliesTomorrow[0][group.player.id].filterOutStarters == null && stats === true">
     ({{group.stats.goaltending.wins + '-' + group.stats.goaltending.losses + '-' + group.stats.goaltending.overtimeLosses}})
   </span>
          </li>
        </ul>
      </li>
    </ul>
    <div style="margin: 8px; padding: 8px;">
      <button (click)="selectAll()">Reset to False</button>
    </div>
    <div style="margin: 8px; padding: 8px;">
      <button (click)="updateTodayStarters()">Tomorrow Starts to Today Starts</button>
    </div>


  </div>
  <!-- edit-list-container -->
   <div class="edit-list-container">
   <ul>
      <li *ngFor="let data of showData" class="goalie">
        <span *ngFor="let g of data.goalies['away']"><img src="{{ g.playerObj?.player?.officialImageSrc }}" onError="this.src='https://nhl.bamcontent.com/images/headshots/current/168x168/goalie@2x.jpg'"> 
          
                  <span *ngIf="g.playerObj?.player.saves == null">({{ g.playerObj?.stats.goaltending.wins + '-' + g.playerObj?.stats.goaltending.losses + '-' + g.playerObj?.stats.goaltending.overtimeLosses }})</span>
        <span *ngIf="g.playerObj?.player.saves != null && g.playerObj?.player.wins == '0' && g.playerObj?.player.Shutouts == '0' && g.playerObj?.player.losses == '0' && g.playerObj?.player.OvertimeLosses == '0'">
                    SV: {{g.playerObj?.player.saves}} SA: {{g.playerObj?.player.shotsFaced}}
                  </span>
        <span *ngIf="g.playerObj?.player.wins == '1' && g.playerObj?.player.Shutouts != '1'" style="color: gold;">
              W
            </span>
        <span *ngIf="g.playerObj?.player.Shutouts == '1'" style="color: gold;">
              W ({{g.playerObj?.player.saves}} save shutout)
            </span>
        <span *ngIf="g.playerObj?.player.losses == '1'">
             L
            </span>
        <span *ngIf="g.playerObj?.player.OvertimeLosses == '1'">
              L
            </span>
        </span>
        <span *ngFor="let g of data.goalies['home']"><img src="{{ g.playerObj?.player?.officialImageSrc }}" onError="this.src='https://nhl.bamcontent.com/images/headshots/current/168x168/goalie@2x.jpg'"> 
          
                              <span *ngIf="g.playerObj?.player.saves == null">({{ g.playerObj?.stats.goaltending.wins + '-' + g.playerObj?.stats.goaltending.losses + '-' + g.playerObj?.stats.goaltending.overtimeLosses }})</span>
        <span *ngIf="g.playerObj?.player.saves != null && g.playerObj?.player.wins == '0' && g.playerObj?.player.Shutouts == '0' && g.playerObj?.player.losses == '0' && g.playerObj?.player.OvertimeLosses == '0'">
                    SV: {{g.playerObj?.player.saves}} SA: {{g.playerObj?.player.shotsFaced}}
                  </span>
        <span *ngIf="g.playerObj?.player.wins == '1' && g.playerObj?.player.Shutouts != '1'" style="color: gold;">
              W
            </span>
        <span *ngIf="g.playerObj?.player.Shutouts == '1'" style="color: gold;">
              W ({{g.playerObj?.player.saves}} save shutout)
            </span>
        <span *ngIf="g.playerObj?.player.losses == '1'">
             L
            </span>
        <span *ngIf="g.playerObj?.player.OvertimeLosses == '1'">
              L
            </span>
        </span>
      </li>
    </ul>
    <ul>
      <li>#NHL Expected #Goalies {{ gameDate | date:'fullDate' }}</li>
      <li *ngFor="let data of showData" class="goalie">
        <span *ngFor="let g of data.goalies['away']">
          {{g.playerObj?.player.twitterHandle}}
        </span>
        <span *ngFor="let g of data.goalies['home']">
          {{g.playerObj?.player.twitterHandle}}
        </span>
      </li>
      <li>#HockeyTwitter #FantasyHockey</li>
    </ul>
     <ul>
      <li>#NHL #Goalies <br> {{ gameDate | date:'fullDate' }}</li>
      <li *ngFor="let data of showData" class="goalie">
          <span *ngFor="let g of data.goalies['away']">
              {{g.playerObj?.player.twitterHandle}} {{g.playerObj?.player.lastName}} <br>
            </span>
            <span *ngFor="let g of data.goalies['home']">
              {{g.playerObj?.player.twitterHandle}} {{g.playerObj?.player.lastName}} <br>
            </span>
      </li>
      <li>#HockeyTwitter #FantasyHockey</li>
    </ul>
    
    <ul>
      <li>#NHL Expected #Goalies {{ tomorrowDate | date:'fullDate' }}</li>
      <li *ngFor="let data of showTomorrow" class="goalie">
          <span *ngFor="let g of data.goalies['away']">
              {{g.playerObj?.player.twitterHandle}}
            </span>
            <span *ngFor="let g of data.goalies['home']">
              {{g.playerObj?.player.twitterHandle}}
            </span>
      </li>
       <li>#HockeyTwitter #FantasyHockey</li>
    </ul>

    Add Goalie
    <br>
    <!-- MAKE AN OBJECT THEN ADD TO MODEL OR ADD DIRECTLY TO FB -->
    <div *ngIf="goalieIdSet === false">
      
        <input type="text" class="form-control" placeholder="Goalie ID" [(ngModel)]="goalieID">
      
      <button (click)="setGoalieId()">set id</button>
    </div>
   
    <div *ngIf="goalieIdSet === true">
      <input type="checkbox" [(ngModel)]="newGoalie[goalieID].confirmed" name="confirmed" value="false"> Confirmed
      <br>
      <input type="checkbox" [(ngModel)]="newGoalie[goalieID].probable" name="expected" value="false">Expected
      <br>
      
        <input type="text" class="form-control" placeholder="name" [(ngModel)]="newGoalie[goalieID].name">
      
      
        <input type="text" class="form-control" placeholder="image" [(ngModel)]="newGoalie[goalieID].image">
      
      
        <input type="text" class="form-control" placeholder="twitter name" [(ngModel)]="newGoalie[goalieID].atHandle">
      
      
        <input type="text" class="form-control" placeholder="twitter team name" [(ngModel)]="newGoalie[goalieID].twitterHandle">
      
      <div>
        <button (click)="addGoalie()">Add New Goalie</button>
      </div>
    </div>
  </div>
  <!-- edit-list-container number 3 -->
</div>
<!-- matchup-layout div -->
<app-spinner *ngIf="loading" [size]="'lg'" [color]="'white'" [title]="'Goalie Stats'"></app-spinner>
<br>
<div class="matchup-layout goalie-layout">
  <div *ngFor="let data of showData">
      <div class="card-wrap tp-wrapper">
              <div class="goalies row">
                
      

      <div class="column">
          <div class="{{g.side}} {{g.size}}" *ngFor="let g of data.goalies['away']">
          <span *ngIf="g.showBtb">
              <span *ngIf="g.playerObj?.team.haveGameToday === true && g.playerObj?.team.haveGameTomorrow === true;then y else n"></span>
              <ng-template #y><span style="color: #e74c3c;">back</span><span style="color: #ccc;"> to </span></ng-template>
              <ng-template #n><span style="color: #ccc;">back</span><span style="color: #ccc;"> to </span></ng-template><span *ngIf="g.playerObj?.team.hadGameYesterday === true && g.playerObj?.team.haveGameToday === true;then yes else no"></span>
              <ng-template #yes><span style="color: #e74c3c;">back</span></ng-template>
              <ng-template #no><span style="color: #ccc;">back</span></ng-template>
          </span>
              <br>
              <span>
                  <span (click)="authorize({player: g.playerObj, area: 'top'})" class="player-img"><img src="{{ g.playerObj?.player?.officialImageSrc }}" onError="this.src='https://nhl.bamcontent.com/images/headshots/current/168x168/goalie@2x.jpg'"></span>
                  <br> <span style="font-weight: bold;">{{ g.playerObj?.player.firstName + ' ' + g.playerObj?.player.lastName }}</span> <span >
                    ({{ g.playerObj.player?.currentTeam?.abbreviation + ' - ' + g.playerObj?.player.primaryPosition }})
                  </span>
                  <br> <span *ngIf="!mobile">Wins - Losses:</span> <span> {{ g.playerObj?.stats.goaltending.wins + ' - ' + g.playerObj?.stats.goaltending.losses + ' - ' + g.playerObj?.stats.goaltending.overtimeLosses }} </span>
                  <span *ngIf="g.playerObj?.player.saves == null"><br> {{g.playerObj?.stats.goaltending.goalsAgainst}} Goals given up <br>
                    Season GAA: {{g.playerObj?.stats.goaltending.goalsAgainstAverage}}</span>
                  <br>
                  <br>
                  <span *ngIf="startersDate === g.playerObj?.team?.today">
                      <span *ngIf="fullFirebaseResponse != null && allGoalies[0][g.playerObj?.player.id] && allGoalies[0][g.playerObj?.player.id].confirmed === true && g.playerObj?.player.saves == null" style="color: #2ecc71;"><i class="material-icons md-18">check_circle</i>confirmed</span>
                      <span *ngIf="fullFirebaseResponse != null && allGoalies[0][g.playerObj?.player.id] != null && allGoalies[0][g.playerObj?.player.id].confirmed === false && g.playerObj?.player.saves == null" style="color: orange;"><i class="material-icons md-18">check_circle</i>expected</span>
                  </span> 
                  <span *ngIf="startersDateTomorrow === g.playerObj?.team?.tomporrow">
                      <span *ngIf="fullFirebaseResponse != null && allGoaliesTomorrow[0][g.playerObj?.player.id] && allGoaliesTomorrow[0][g.playerObj?.player.id].confirmed === true && g.playerObj?.player.saves == null" style="color: #2ecc71;"><i class="material-icons md-18">check_circle</i>confirmed</span>
                      <span *ngIf="fullFirebaseResponse != null && allGoaliesTomorrow[0][g.playerObj?.player.id] != null && allGoaliesTomorrow[0][g.playerObj?.player.id].confirmed === false && g.playerObj?.player.saves == null" style="color: orange;"><i class="material-icons md-18">check_circle</i>expected</span>
                  </span>
                  
                  
                  <div *ngIf="g.playerObj?.player.saves != null" class="stat-block" [ngStyle]="{'backgroundColor': g.playerObj?.team?.color ? g.playerObj?.team?.color : 'black' }">
                    <span *ngIf="!mobile">Saves: </span> <span *ngIf="mobile">SV </span> {{g.playerObj?.player.saves}} <span *ngIf="!mobile">Shots Faced: </span> <span *ngIf="mobile">SA </span> {{g.playerObj?.player.shotsFaced}}
                    <br>
                    <span *ngIf="g.playerObj?.player.wins == '1' && g.playerObj?.player.Shutouts != '1'">
                    {{ g.playerObj?.player.lastName }} Wins!
                  </span>
                    <span *ngIf="g.playerObj?.player.Shutouts == '1'">
                    {{ g.playerObj?.player.lastName }} gets a SHUTOUT!
                  </span>
                    <span *ngIf="g.playerObj?.player.losses == '1'">
                    {{ g.playerObj?.player.lastName }} Lost!
                  </span>
                    <span *ngIf="g.playerObj?.player.OvertimeLosses == '1'">
                    {{ g.playerObj?.player.lastName }} lost in OT!
                  </span>
                  </div>
                  </span>
                </div>
                </div>

      <div class="column">
        <div class="{{g.side}} {{g.size}}" *ngFor="let g of data.goalies['home']">
          <span *ngIf="g.showBtb">
              <span *ngIf="g.playerObj?.team.haveGameToday === true && g.playerObj?.team.haveGameTomorrow === true;then y else n"></span>
              <ng-template #y><span style="color: #e74c3c;">back</span><span style="color: #ccc;"> to </span></ng-template>
              <ng-template #n><span style="color: #ccc;">back</span><span style="color: #ccc;"> to </span></ng-template><span *ngIf="g.playerObj?.team.hadGameYesterday === true && g.playerObj?.team.haveGameToday === true;then yes else no"></span>
              <ng-template #yes><span style="color: #e74c3c;">back</span></ng-template>
              <ng-template #no><span style="color: #ccc;">back</span></ng-template>
          </span>
              <br>
              <span>
                  <span (click)="authorize({player: g.playerObj, area: 'top'})" class="player-img"><img src="{{ g.playerObj?.player?.officialImageSrc }}" onError="this.src='https://nhl.bamcontent.com/images/headshots/current/168x168/goalie@2x.jpg'"></span>
                  <br> <span style="font-weight: bold;">{{ g.playerObj?.player.firstName + ' ' + g.playerObj?.player.lastName }}</span> <span >
                    ({{ g.playerObj.player?.currentTeam?.abbreviation + ' - ' + g.playerObj?.player.primaryPosition }})
                  </span>
                  <br> <span *ngIf="!mobile">Wins - Losses:</span> <span> {{ g.playerObj?.stats.goaltending.wins + ' - ' + g.playerObj?.stats.goaltending.losses + ' - ' + g.playerObj?.stats.goaltending.overtimeLosses }} </span>
                  <span *ngIf="g.playerObj?.player.saves == null"><br> {{g.playerObj?.stats.goaltending.goalsAgainst}} Goals given up <br>
                    Season GAA: {{g.playerObj?.stats.goaltending.goalsAgainstAverage}}</span>
                  <br>
                  <br>
                  <span *ngIf="startersDate === g.playerObj?.team?.today">
                      <span *ngIf="fullFirebaseResponse != null && allGoalies[0][g.playerObj?.player.id] && allGoalies[0][g.playerObj?.player.id].confirmed === true && g.playerObj?.player.saves == null" style="color: #2ecc71;"><i class="material-icons md-18">check_circle</i>confirmed</span>
                      <span *ngIf="fullFirebaseResponse != null && allGoalies[0][g.playerObj?.player.id] != null && allGoalies[0][g.playerObj?.player.id].confirmed === false && g.playerObj?.player.saves == null" style="color: orange;"><i class="material-icons md-18">check_circle</i>expected</span>
                  </span> 
                  <span *ngIf="startersDateTomorrow === g.playerObj?.team?.tomporrow">
                      <span *ngIf="fullFirebaseResponse != null && allGoaliesTomorrow[0][g.playerObj?.player.id] && allGoaliesTomorrow[0][g.playerObj?.player.id].confirmed === true && g.playerObj?.player.saves == null" style="color: #2ecc71;"><i class="material-icons md-18">check_circle</i>confirmed</span>
                      <span *ngIf="fullFirebaseResponse != null && allGoaliesTomorrow[0][g.playerObj?.player.id] != null && allGoaliesTomorrow[0][g.playerObj?.player.id].confirmed === false && g.playerObj?.player.saves == null" style="color: orange;"><i class="material-icons md-18">check_circle</i>expected</span>
                  </span>
                  
                  
                  
                  <div *ngIf="g.playerObj?.player.saves != null" class="stat-block" [ngStyle]="{'backgroundColor': g.playerObj?.team?.color ? g.playerObj?.team?.color : 'black' }">
                    <span *ngIf="!mobile">Saves: </span> <span *ngIf="mobile">SV </span> {{g.playerObj?.player.saves}} <span *ngIf="!mobile">Shots Faced: </span> <span *ngIf="mobile">SA </span> {{g.playerObj?.player.shotsFaced}}
                    <br>
                    <span *ngIf="g.playerObj?.player.wins == '1' && g.playerObj?.player.Shutouts != '1'">
                    {{ g.playerObj?.player.lastName }} Wins!
                  </span>
                    <span *ngIf="g.playerObj?.player.Shutouts == '1'">
                    {{ g.playerObj?.player.lastName }} gets a SHUTOUT!
                  </span>
                    <span *ngIf="g.playerObj?.player.losses == '1'">
                    {{ g.playerObj?.player.lastName }} Lost!
                  </span>
                    <span *ngIf="g.playerObj?.player.OvertimeLosses == '1'">
                    {{ g.playerObj?.player.lastName }} lost in OT!
                  </span>
                  </div>
                  </span>
                </div>
                </div>
      </div>
            <div class="center">
            <p class="game-info">
              <img src="{{ data['goalies']['home'][0]?.playerObj?.team.opponentLogo }}" alt=""> VS <img src="{{ data['goalies']['home'][0]?.playerObj?.team.logo }}" alt="">
              <br> {{data['goalies']['home'][0]?.playerObj?.team.opponent}} @ {{data['goalies']['home'][0]?.playerObj?.team.city +' '+ data['goalies']['home'][0]?.playerObj?.team.name}}
              <br>
              <span class="green-dot" *ngIf="data['goalies']['home'][0]?.playerObj?.status === 'LIVE'"></span> 
              <span *ngIf="data['goalies']['home'][0]?.playerObj?.status === 'UNPLAYED' && data['goalies']['home'][0]?.playerObj?.schedStatus != 'POSTPONED'">Puck drops: {{data['goalies']['home'][0]?.playerObj?.player?.gameTime | date: 'shortTime'}} PST @ {{ data['goalies']['home'][0]?.playerObj?.team.gameIce }}</span> 
              <span *ngIf="data['goalies']['home'][0]?.playerObj?.schedStatus === 'POSTPONED'">PPD</span> 
              <span *ngIf="data['goalies']['home'][0]?.playerObj?.status != 'UNPLAYED'">{{ data['goalies']['home'][0]?.playerObj?.opponentScore + ' - ' +  data['goalies']['home'][0]?.playerObj?.teamScore}}</span> 
              <span *ngIf="data['goalies']['home'][0]?.playerObj?.status === 'COMPLETED'"> 
                <span *ngIf="data['goalies']['home'][0]?.playerObj?.opponentScore &gt; data['goalies']['home'][0]?.playerObj?.teamScore"> {{data['goalies']['home'][0]?.playerObj?.team.opponent}} Win!</span>
                <span *ngIf="data['goalies']['home'][0]?.playerObj?.opponentScore &lt; data['goalies']['home'][0]?.playerObj?.teamScore"> {{data['goalies']['home'][0]?.playerObj?.team.name}} Win!</span>
              </span> 
             </p>
       
      </div>
    </div>
  </div>
<section *ngIf="fbService.userDetails != null">
    <div class="card-wrap-sp mat-elevation-z6 position-box full-box" *ngIf="!loading && dailySchedule != null">
        <h2>Weekly Team Schedule</h2>
          <div>
              Games This Week <button (click)="weekResults = !weekResults"> Team Results</button>
              <div class="content-wrapper">
                  <div class="row">
                    <div *ngFor="let item of teamSchedules" [ngClass]="{'dn' : item.schedule.length &lt; 4 }">
                            <span class="left-content" [ngClass]="{'results': weekResults}">
                                  <span class="player-infos">

                                 <span class="team-image"> <img src="{{item?.teamInfo?.officialLogoImageSrc}}" alt="{{item?.team}} logo"></span>
                           
                                 <!-- <span class="lg"> {{item.schedule.length}} </span> -->
                                 <span *ngFor="let g of item.schedule">
                                   <span *ngIf="item.team === g.schedule.homeTeam.abbreviation">
                                      <span *ngIf="weekResults && g.score?.homeScoreTotal != null && g.score?.homeScoreTotal &gt; g.score?.awayScoreTotal">(W <span class="plus">+{{(g.score?.homeScoreTotal) - (g.score?.awayScoreTotal)}}</span>) </span> 
                                      <span *ngIf="weekResults && g.score?.homeScoreTotal != null && g.score?.homeScoreTotal &lt; g.score?.awayScoreTotal">(L <span class="minus">-{{(g.score?.awayScoreTotal) - (g.score?.homeScoreTotal)}}</span>) </span> 
                                      vs {{g.schedule.awayTeam.abbreviation}}  
                                   </span>
                                   <span *ngIf="item.team === g.schedule.awayTeam.abbreviation">
                                      <span *ngIf="weekResults && g.score?.awayScoreTotal != null && g.score?.awayScoreTotal &gt; g.score?.homeScoreTotal">(W <span class="plus">+{{(g.score?.awayScoreTotal) - (g.score?.homeScoreTotal)}}</span>) </span>
                                      <span *ngIf="weekResults && g.score?.awayScoreTotal != null && g.score?.awayScoreTotal &lt; g.score?.homeScoreTotal">(L <span class="minus">-{{(g.score?.homeScoreTotal) - (g.score?.awayScoreTotal)}}</span>) </span>
                                      @ {{g.schedule.homeTeam.abbreviation}} 
                                   </span>,
                                 </span>
                                  </span>
                              
                            </span>
                          </div>
                          
                
                  </div>
                </div>
      
          </div>
         
      </div>
      <div class="card-wrap-sp mat-elevation-z6 position-box full-box" *ngIf="!loading && dailySchedule != null">
          <h2>Weekly Team Schedule</h2>
            <div>
                Games This Week <button (click)="weekResults = !weekResults"> Team Results</button>
                <div class="content-wrapper">
                    <div class="row">
                      <div *ngFor="let item of teamSchedules" [ngClass]="{'dn' : item.schedule.length > 3, 'dn2' : item.schedule.length === 0 }">
                              <span class="left-content" [ngClass]="{'results': weekResults}">

                                   <span class="player-infos">
                                   <span class="team-image"> <img src="{{item?.teamInfo?.officialLogoImageSrc}}" alt="{{item?.team}} logo"></span>
                             
                                   <!-- <span class="lg"> {{item.schedule.length}} </span> -->
                                   <span *ngFor="let g of item.schedule">
                                     <span *ngIf="item.team === g.schedule.homeTeam.abbreviation">
                                        <span *ngIf="weekResults && g.score?.homeScoreTotal != null && g.score?.homeScoreTotal &gt; g.score?.awayScoreTotal">(W <span class="plus">+{{(g.score?.homeScoreTotal) - (g.score?.awayScoreTotal)}}</span>) </span> 
                                        <span *ngIf="weekResults && g.score?.homeScoreTotal != null && g.score?.homeScoreTotal &lt; g.score?.awayScoreTotal">(L <span class="minus">-{{(g.score?.awayScoreTotal) - (g.score?.homeScoreTotal)}}</span>) </span> 
                                        vs {{g.schedule.awayTeam.abbreviation}}  
                                     </span>
                                     <span *ngIf="item.team === g.schedule.awayTeam.abbreviation">
                                        <span *ngIf="weekResults && g.score?.awayScoreTotal != null && g.score?.awayScoreTotal &gt; g.score?.homeScoreTotal">(W <span class="plus">+{{(g.score?.awayScoreTotal) - (g.score?.homeScoreTotal)}}</span>) </span>
                                        <span *ngIf="weekResults && g.score?.awayScoreTotal != null && g.score?.awayScoreTotal &lt; g.score?.homeScoreTotal">(L <span class="minus">-{{(g.score?.homeScoreTotal) - (g.score?.awayScoreTotal)}}</span>) </span>
                                         @ {{g.schedule.homeTeam.abbreviation}} 
                                     </span>,
                                   </span>
                                    </span>
                                
                              </span>
                            </div>
                    </div>
                  </div>
        
            </div>
           
        </div>
   </section>
<app-dialog
[isOpen]="isOpen"
[submitting]="submitting"
[type]="'nba'"
[area]="area"
[noPosts]="noPosts"
[tweetsData]="tweetsData"
[name]="name"
[image]="image"
(close)="isOpen = false"
[title]="title"
[modalType]="modalType"
></app-dialog>
