<span *ngIf="fbService.userDetails != null"><button class="mat-raised-button" color="warn" (click)="openLastweek($event, showData)">Hot List</button></span>
<span class="admin-box" *ngIf="fbService.userDetails != null">Admin</span>
<form>
  <input type="text" (keydown.shift.arrowdown)="openLogin($event)" #myInput />
</form>
<div id="top">
  <h1 class="center date-header baseball-header"> NHL Starting Goalies</h1>
</div>
<h1 class="center date-header"> {{ gameDate | date:'fullDate' }}</h1>
<div class="center">
    <app-date-picker (setDate)="getByDate($event)"></app-date-picker>
  </div>
<h1 class="center no-game-header" *ngIf="noGamesToday === true">{{noGamesMsg}}</h1>
<div class="matchup-layout goalie-layout" *ngIf="fbService.userDetails != null">
  <div class="edit-list-container" *ngIf="fullFirebaseResponse != null">
    
      <input type="text" class="form-control" [(ngModel)]="fullFirebaseResponse[0]['todayDate']">
    
    <ul>
      <li>Confirmed = <i class="material-icons md-18" style="color: #2ecc71; background: #fff; border-radius: 50%;">check_circle</i> Expected = <i class="material-icons md-18" style="color: orange; background: #fff; border-radius: 50%;">check_circle</i>
      </li>
      <li *ngFor="let group of myData">
        <ul>
          <li *ngFor="let goalie of allGoalies" class="goalie">
            <span *ngIf="goalie[group.player.id] != null && allGoalies[0][group.player.id].filterOutStarters == null" (click)="goalie[group.player.id].probable = !goalie[group.player.id].probable" [(ngModel)]="allGoalies[0][group.player.id].probable" ngDefaultControl>
      <img src="{{group.player.officialImageSrc}}" alt="" onError="this.src='https://cms.nhl.bamgrid.com/images/headshots/current/168x168/goalie.jpg'"> {{group.player.lastName}}
    </span>
            <span *ngIf="goalie[group.player.id] != null && allGoalies[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === false" style="color: red">X</span>

            <span *ngIf="goalie[group.player.id] != null && allGoalies[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === true && goalie[group.player.id].confirmed === false" (click)="goalie[group.player.id].confirmed = !goalie[group.player.id].confirmed" [(ngModel)]="allGoalies[0][group.player.id].confirmed" ngDefaultControl style="color: orange;"><i class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>

            <span *ngIf="goalie[group.player.id] != null && allGoalies[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === true && goalie[group.player.id].confirmed === true" style="color: #2ecc71;" (click)="goalie[group.player.id].confirmed = !goalie[group.player.id].confirmed" [(ngModel)]="allGoalies[0][group.player.id].confirmed" ngDefaultControl><i class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>

            <span *ngIf="goalie[group.player.id] != null && allGoalies[0][group.player.id].filterOutStarters == null && stats === true">
     ({{group.stats.goaltending.wins + '-' + group.stats.goaltending.losses + '-' + group.stats.goaltending.overtimeLosses}})
   </span>
          </li>
        </ul>
      </li>
    </ul>
    <div style="margin: 8px; padding: 8px;" *ngIf="stats === false">
      <button (click)="saveStarts()">Save Starts</button>
    </div>
    <div style="margin: 8px; padding: 8px;">
      <button (click)="showTodayStarters()">Show Today's Starters</button>
    </div>
    <!-- <div style="margin: 8px; padding: 8px;">
      <button (click)="addMoreData()">Add Data</button>
    </div> -->
  </div>
  <!-- edit-list-container -->
  <div class="edit-list-container" *ngIf="fullFirebaseResponse != null">
    
      <input type="text" class="form-control" [(ngModel)]="fullFirebaseResponse[2]['tomorrowDate']">
    
    <ul>
      <li>Confirmed = <i class="material-icons md-18" style="color: #2ecc71; background: #fff; border-radius: 50%;">check_circle</i> Expected = <i class="material-icons md-18" style="color: orange; background: #fff; border-radius: 50%;">check_circle</i> </li>
      <li></li>
      <li *ngFor="let group of myData">
        <ul>
          <li *ngFor="let goalie of allGoaliesTomorrow" class="goalie">
            <span *ngIf="goalie[group.player.id] != null && allGoaliesTomorrow[0][group.player.id].filterOutStarters == null" (click)="goalie[group.player.id].probable = !goalie[group.player.id].probable" [(ngModel)]="allGoalies[0][group.player.id].probable" ngDefaultControl>
      <img src="{{group.player.officialImageSrc}}" alt="" onError="this.src='https://cms.nhl.bamgrid.com/images/headshots/current/168x168/goalie.jpg'"> {{group.player.lastName}} 
    </span>
            <span *ngIf="goalie[group.player.id] != null && allGoaliesTomorrow[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === false" style="color: red">X</span>
            <span *ngIf="goalie[group.player.id] != null && allGoaliesTomorrow[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === true && goalie[group.player.id].confirmed === false" (click)="goalie[group.player.id].confirmed = !goalie[group.player.id].confirmed" [(ngModel)]="allGoalies[0][group.player.id].confirmed" ngDefaultControl style="color: orange;"><i class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>
            <span *ngIf="goalie[group.player.id] != null && allGoaliesTomorrow[0][group.player.id].filterOutStarters == null && goalie[group.player.id].probable === true && goalie[group.player.id].confirmed === true" style="color: #2ecc71;" (click)="goalie[group.player.id].confirmed = !goalie[group.player.id].confirmed" [(ngModel)]="allGoalies[0][group.player.id].confirmed" ngDefaultControl><i class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>
            <span *ngIf="goalie[group.player.id] != null && allGoaliesTomorrow[0][group.player.id].filterOutStarters == null && stats === true">
     ({{group.stats.goaltending.wins + '-' + group.stats.goaltending.losses + '-' + group.stats.goaltending.overtimeLosses}})
   </span>
          </li>
        </ul>
      </li>
    </ul>
    <div style="margin: 8px; padding: 8px;">
      <button (click)="selectAll()">Reset to False</button>
    </div>
    <div style="margin: 8px; padding: 8px;">
      <button (click)="updateTodayStarters()">Tomorrow Starts to Today Starts</button>
    </div>


  </div>
  <!-- edit-list-container -->
   <div class="edit-list-container">
   <ul>
      <li *ngFor="let data of showData" class="goalie">
        <span *ngFor="let g of data?.goalies?.away"><img src="{{ g.playerObj?.player?.officialImageSrc }}" onError="this.src='https://cms.nhl.bamgrid.com/images/headshots/current/168x168/goalie.jpg'"> 
          
                  <span *ngIf="g.playerObj?.player.saves == null">({{ g.playerObj?.stats.goaltending.wins + '-' + g.playerObj?.stats.goaltending.losses + '-' + g.playerObj?.stats.goaltending.overtimeLosses }})</span>
        <span *ngIf="g.playerObj?.player.saves != null && g.playerObj?.player.wins == '0' && g.playerObj?.player.Shutouts == '0' && g.playerObj?.player.losses == '0' && g.playerObj?.player.OvertimeLosses == '0'">
                    SV: {{g.playerObj?.player.saves}} SA: {{g.playerObj?.player.shotsFaced}}
                  </span>
        <span *ngIf="g.playerObj?.player.wins == '1' && g.playerObj?.player.Shutouts != '1'" style="color: gold;">
              W
            </span>
        <span *ngIf="g.playerObj?.player.Shutouts == '1'" style="color: gold;">
              W ({{g.playerObj?.player.saves}} save shutout)
            </span>
        <span *ngIf="g.playerObj?.player.losses == '1'">
             L
            </span>
        <span *ngIf="g.playerObj?.player.OvertimeLosses == '1'">
              L
            </span>
        </span>
        <span *ngFor="let g of data?.goalies?.home"><img src="{{ g.playerObj?.player?.officialImageSrc }}" onError="this.src='https://cms.nhl.bamgrid.com/images/headshots/current/168x168/goalie.jpg'"> 
          
                              <span *ngIf="g.playerObj?.player.saves == null">({{ g.playerObj?.stats.goaltending.wins + '-' + g.playerObj?.stats.goaltending.losses + '-' + g.playerObj?.stats.goaltending.overtimeLosses }})</span>
        <span *ngIf="g.playerObj?.player.saves != null && g.playerObj?.player.wins == '0' && g.playerObj?.player.Shutouts == '0' && g.playerObj?.player.losses == '0' && g.playerObj?.player.OvertimeLosses == '0'">
                    SV: {{g.playerObj?.player.saves}} SA: {{g.playerObj?.player.shotsFaced}}
                  </span>
        <span *ngIf="g.playerObj?.player.wins == '1' && g.playerObj?.player.Shutouts != '1'" style="color: gold;">
              W
            </span>
        <span *ngIf="g.playerObj?.player.Shutouts == '1'" style="color: gold;">
              W ({{g.playerObj?.player.saves}} save shutout)
            </span>
        <span *ngIf="g.playerObj?.player.losses == '1'">
             L
            </span>
        <span *ngIf="g.playerObj?.player.OvertimeLosses == '1'">
              L
            </span>
        </span>
      </li>
    </ul>
    <ul>
      <li>#NHL Expected #Goalies {{ gameDate | date:'fullDate' }}</li>
      <li *ngFor="let data of showData" class="goalie">
        <span *ngFor="let g of data?.goalies?.away">
          {{g.playerObj?.player.twitterHandle}}
        </span>
        <span *ngFor="let g of data?.goalies?.home">
          {{g.playerObj?.player.twitterHandle}}
        </span>
      </li>
      <li>#HockeyTwitter #FantasyHockey</li>
    </ul>
     <ul>
      <li>#NHL #Goalies <br> {{ gameDate | date:'fullDate' }}</li>
      <li *ngFor="let data of showData" class="goalie">
          <span *ngFor="let g of data?.goalies?.away">
              {{g.playerObj?.player.twitterHandle}} {{g.playerObj?.player.lastName}} <br>
            </span>
            <span *ngFor="let g of data?.goalies?.home">
              {{g.playerObj?.player.twitterHandle}} {{g.playerObj?.player.lastName}} <br>
            </span>
      </li>
      <li>#HockeyTwitter #StanleyCup #NHLPlayoffs</li>
    </ul>
    
    <ul>
      <li>#NHL Expected #Goalies {{ tomorrowDate | date:'fullDate' }}</li>
      <li *ngFor="let data of showTomorrow" class="goalie">
          <span *ngFor="let g of data?.goalies?.away">
              {{g.playerObj?.player.twitterHandle}}
            </span>
            <span *ngFor="let g of data?.goalies?.home">
              {{g.playerObj?.player.twitterHandle}}
            </span>
      </li>
       <li>#HockeyTwitter #StanleyCup #NHLPlayoffs</li>
    </ul>

    Add Goalie
    <br>
    <!-- MAKE AN OBJECT THEN ADD TO MODEL OR ADD DIRECTLY TO FB -->
    <div *ngIf="goalieIdSet === false">
      
        <input type="text" class="form-control" placeholder="Goalie ID" [(ngModel)]="goalieID">
      
      <button (click)="setGoalieId()">set id</button>
    </div>
   
    <div *ngIf="goalieIdSet === true">
      <input type="checkbox" [(ngModel)]="newGoalie[goalieID].confirmed" name="confirmed" value="false"> Confirmed
      <br>
      <input type="checkbox" [(ngModel)]="newGoalie[goalieID].probable" name="expected" value="false">Expected
      <br>
      
        <input type="text" class="form-control" placeholder="name" [(ngModel)]="newGoalie[goalieID].name">
      
      
        <input type="text" class="form-control" placeholder="image" [(ngModel)]="newGoalie[goalieID].image">
      
      
        <input type="text" class="form-control" placeholder="twitter name" [(ngModel)]="newGoalie[goalieID].atHandle">
      
      
        <input type="text" class="form-control" placeholder="twitter team name" [(ngModel)]="newGoalie[goalieID].twitterHandle">
      
      <div>
        <button (click)="addGoalie()">Add New Goalie</button>
      </div>
    </div>
  </div>
  <!-- edit-list-container number 3 -->
</div>
<!-- matchup-layout div -->
<app-spinner *ngIf="loading" [size]="'lg'" [color]="'white'" [title]="spinTitle"></app-spinner>
<br>

<div class="nba-button-wrapper" *ngIf="!loading && dailySchedule != null && starterIdData.length > 0">
    <div class="schedule-box row">
      <div [ngClass]="{'active': goalieSection}" class="col" (click)="goalieSection = true; lineSection = false; scheduleSection = false">
          <span class="sched-item">
            Goalies
          </span> 
      </div>
      <div [ngClass]="{'active': lineSection}" class="col" (click)="sortSkaters()">
          <span class="sched-item">
           Starting Line
          </span> 
      </div>
      <div [ngClass]="{'active': scheduleSection}" class="col" (click)="goalieSection = false; lineSection = false; scheduleSection = true">
          <span class="sched-item">
            Weekly Schedule
          </span> 
      </div>
    </div>
</div>

<div *ngIf="goalieSection" class="matchup-layout goalie-layout">
  <div *ngFor="let data of showData">
      <div class="card-wrap tp-wrapper">
              <div class="goalies row">
                
      

      <div class="column">
          <div class="{{g.side}} {{g.size}}" *ngFor="let g of data?.goalies?.away">
          <span *ngIf="g.showBtb">
              <span *ngIf="g.playerObj?.team.haveGameToday === true && g.playerObj?.team.haveGameTomorrow === true;then y else n"></span>
              <ng-template #y><span style="color: #e74c3c;">back</span><span style="color: #ccc;"> to </span></ng-template>
              <ng-template #n><span style="color: #ccc;">back</span><span style="color: #ccc;"> to </span></ng-template><span *ngIf="g.playerObj?.team.hadGameYesterday === true && g.playerObj?.team.haveGameToday === true;then yes else no"></span>
              <ng-template #yes><span style="color: #e74c3c;">back</span></ng-template>
              <ng-template #no><span style="color: #ccc;">back</span></ng-template>
          </span>
              <br>
              <span>
                  <span (click)="authorize({player: g.playerObj, area: 'top'})" class="player-img"><img src="{{ g.playerObj?.player?.officialImageSrc }}" onError="this.src='https://cms.nhl.bamgrid.com/images/headshots/current/168x168/goalie.jpg'"></span>
                  <br> <span style="font-weight: bold;">{{ g.playerObj?.player.firstName + ' ' + g.playerObj?.player.lastName }}</span> <span >
                    ({{ g.playerObj.player?.currentTeam?.abbreviation + ' - ' + g.playerObj?.player.primaryPosition }})
                  </span>
                  <br> <span *ngIf="!mobile">Wins - Losses:</span> <span> {{ g.playerObj?.stats.goaltending.wins + ' - ' + g.playerObj?.stats.goaltending.losses + ' - ' + g.playerObj?.stats.goaltending.overtimeLosses }} </span>
                 
                  <span *ngIf="g.playerObj?.player.saves == null"><br> {{g.playerObj?.stats.goaltending.goalsAgainst}} Goals given up <br>
                    GAA: {{g.playerObj?.stats.goaltending.goalsAgainstAverage}}</span>
                    <span *ngIf="data?.goalies?.home != null && data?.goalies?.home[0]?.playerObj?.status === 'COMPLETED'"> <br> FP: {{g.playerObj?.stats?.fpToday}}</span>
                    <span *ngIf="data?.goalies?.home != null && data?.goalies?.home[0]?.playerObj?.status === 'UNPLAYED'"> <br> FPA: {{g.playerObj?.stats?.fpa}}</span>
                  <br>
                  <br>
                  <span *ngIf="startersDate === g.playerObj?.team?.today && dataService.isToday">
                      <span *ngIf="fullFirebaseResponse != null && allGoalies[0][g.playerObj?.player.id] && allGoalies[0][g.playerObj?.player.id].confirmed === true && g.playerObj?.player.saves == null" style="color: #2ecc71;"><i class="material-icons md-18">check_circle</i>confirmed</span>
                      <span *ngIf="fullFirebaseResponse != null && allGoalies[0][g.playerObj?.player.id] != null && allGoalies[0][g.playerObj?.player.id].confirmed === false && g.playerObj?.player.saves == null" style="color: orange;"><i class="material-icons md-18">check_circle</i>expected</span>
                  </span> 
                  <span *ngIf="startersDateTomorrow === g.playerObj?.team?.today && dataService.isTomorrow">
                      <span *ngIf="fullFirebaseResponse != null && allGoaliesTomorrow[0][g.playerObj?.player.id] && allGoaliesTomorrow[0][g.playerObj?.player.id].confirmed === true && g.playerObj?.player.saves == null" style="color: #2ecc71;"><i class="material-icons md-18">check_circle</i>confirmed</span>
                      <span *ngIf="fullFirebaseResponse != null && allGoaliesTomorrow[0][g.playerObj?.player.id] != null && allGoaliesTomorrow[0][g.playerObj?.player.id].confirmed === false && g.playerObj?.player.saves == null" style="color: orange;"><i class="material-icons md-18">check_circle</i>expected</span>
                  </span>
                  
                  
                  <div *ngIf="g.playerObj?.player.saves != null" class="stat-block" [ngStyle]="{'backgroundColor': g.playerObj?.team?.color ? g.playerObj?.team?.color : 'black' }">
                    <span *ngIf="!mobile">Saves: </span> <span *ngIf="mobile">SV </span> {{g.playerObj?.player.saves}} <span *ngIf="!mobile">Shots Faced: </span> <span *ngIf="mobile">SA </span> {{g.playerObj?.player.shotsFaced}}
                    <br>
                    <span *ngIf="g.playerObj?.player.wins == '1' && g.playerObj?.player.Shutouts != '1'">
                    {{ g.playerObj?.player.lastName }} Wins!
                  </span>
                    <span *ngIf="g.playerObj?.player.Shutouts == '1'">
                    {{ g.playerObj?.player.lastName }} gets a SHUTOUT!
                  </span>
                    <span *ngIf="g.playerObj?.player.losses == '1'">
                    {{ g.playerObj?.player.lastName }} Lost!
                  </span>
                    <span *ngIf="g.playerObj?.player.OvertimeLosses == '1'">
                    {{ g.playerObj?.player.lastName }} lost in OT!
                  </span>
                  </div>
                  </span>
                </div>
                </div>

      <div class="column">
        <div class="{{g.side}} {{g.size}}" *ngFor="let g of data?.goalies?.home">
          <span *ngIf="g.showBtb">
              <span *ngIf="g.playerObj?.team.haveGameToday === true && g.playerObj?.team.haveGameTomorrow === true;then y else n"></span>
              <ng-template #y><span style="color: #e74c3c;">back</span><span style="color: #ccc;"> to </span></ng-template>
              <ng-template #n><span style="color: #ccc;">back</span><span style="color: #ccc;"> to </span></ng-template><span *ngIf="g.playerObj?.team.hadGameYesterday === true && g.playerObj?.team.haveGameToday === true;then yes else no"></span>
              <ng-template #yes><span style="color: #e74c3c;">back</span></ng-template>
              <ng-template #no><span style="color: #ccc;">back</span></ng-template>
          </span>
              <br>
              <span>
                  <span (click)="authorize({player: g.playerObj, area: 'top'})" class="player-img"><img src="{{ g.playerObj?.player?.officialImageSrc }}" onError="this.src='https://cms.nhl.bamgrid.com/images/headshots/current/168x168/goalie.jpg'"></span>
                  <br> <span style="font-weight: bold;">{{ g.playerObj?.player.firstName + ' ' + g.playerObj?.player.lastName }}</span> <span >
                    ({{ g.playerObj.player?.currentTeam?.abbreviation + ' - ' + g.playerObj?.player.primaryPosition }})
                  </span>
                  <br> <span *ngIf="!mobile">Wins - Losses:</span> <span> {{ g.playerObj?.stats.goaltending.wins + ' - ' + g.playerObj?.stats.goaltending.losses + ' - ' + g.playerObj?.stats.goaltending.overtimeLosses }} </span>
              
                  <span *ngIf="g.playerObj?.player.saves == null"><br> {{g.playerObj?.stats.goaltending.goalsAgainst}} Goals given up <br>
                    GAA: {{g.playerObj?.stats.goaltending.goalsAgainstAverage}}</span>
                    <span *ngIf="data?.goalies?.home != null && data?.goalies?.home[0]?.playerObj?.status === 'COMPLETED'"> <br> FP: {{g.playerObj?.stats?.fpToday}}</span>
                    <span *ngIf="data?.goalies?.home != null && data?.goalies?.home[0]?.playerObj?.status === 'UNPLAYED'"> <br> FPA: {{g.playerObj?.stats?.fpa}}</span>
                  <br>
                  <br>
                  <span *ngIf="startersDate === g.playerObj?.team?.today && dataService.isToday">
                      <span *ngIf="fullFirebaseResponse != null && allGoalies[0][g.playerObj?.player.id] && allGoalies[0][g.playerObj?.player.id].confirmed === true && g.playerObj?.player.saves == null" style="color: #2ecc71;"><i class="material-icons md-18">check_circle</i>confirmed</span>
                      <span *ngIf="fullFirebaseResponse != null && allGoalies[0][g.playerObj?.player.id] != null && allGoalies[0][g.playerObj?.player.id].confirmed === false && g.playerObj?.player.saves == null" style="color: orange;"><i class="material-icons md-18">check_circle</i>expected</span>
                  </span> 
                  <span *ngIf="startersDateTomorrow === g.playerObj?.team?.today && dataService.isTomorrow">
                      <span *ngIf="fullFirebaseResponse != null && allGoaliesTomorrow[0][g.playerObj?.player.id] && allGoaliesTomorrow[0][g.playerObj?.player.id].confirmed === true && g.playerObj?.player.saves == null" style="color: #2ecc71;"><i class="material-icons md-18">check_circle</i>confirmed</span>
                      <span *ngIf="fullFirebaseResponse != null && allGoaliesTomorrow[0][g.playerObj?.player.id] != null && allGoaliesTomorrow[0][g.playerObj?.player.id].confirmed === false && g.playerObj?.player.saves == null" style="color: orange;"><i class="material-icons md-18">check_circle</i>expected</span>
                  </span>
                  
                  
                  
                  <div *ngIf="g.playerObj?.player.saves != null" class="stat-block" [ngStyle]="{'backgroundColor': g.playerObj?.team?.color ? g.playerObj?.team?.color : 'black' }">
                    <span *ngIf="!mobile">Saves: </span> <span *ngIf="mobile">SV </span> {{g.playerObj?.player.saves}} <span *ngIf="!mobile">Shots Faced: </span> <span *ngIf="mobile">SA </span> {{g.playerObj?.player.shotsFaced}}
                    <br>
                    <span *ngIf="g.playerObj?.player.wins == '1' && g.playerObj?.player.Shutouts != '1'">
                    {{ g.playerObj?.player.lastName }} Wins!
                  </span>
                    <span *ngIf="g.playerObj?.player.Shutouts == '1'">
                    {{ g.playerObj?.player.lastName }} gets a SHUTOUT!
                  </span>
                    <span *ngIf="g.playerObj?.player.losses == '1'">
                    {{ g.playerObj?.player.lastName }} Lost!
                  </span>
                    <span *ngIf="g.playerObj?.player.OvertimeLosses == '1'">
                    {{ g.playerObj?.player.lastName }} lost in OT!
                  </span>
                  </div>
                  </span>
                </div>
                </div>
      </div>
            <div class="center">
            <p class="game-info" *ngIf="data?.goalies?.home != null">
              <img src="{{ data?.goalies?.home[0]?.playerObj?.team.opponentLogo }}" alt=""> VS <img src="{{ data?.goalies?.home[0]?.playerObj?.team.logo }}" alt="">
              <br> {{data?.goalies?.home[0]?.playerObj?.team.opponent}} @ {{data?.goalies?.home[0]?.playerObj?.team.city +' '+ data?.goalies?.home[0]?.playerObj?.team.name}}
              <br>
              <span class="green-dot" *ngIf="data?.goalies?.home[0]?.playerObj?.status === 'LIVE'"></span> 
              <span *ngIf="data?.goalies?.home[0]?.playerObj?.status === 'UNPLAYED'">Puck drops: {{data?.goalies?.home[0]?.playerObj?.player?.gameTime | date: 'shortTime'}} PST @ {{ data?.goalies?.home[0]?.playerObj?.team.gameIce }}</span> 
              <!-- <span *ngIf="data?.goalies?.home[0]?.playerObj?.schedStatus === 'POSTPONED' && data?.goalies?.home[0]?.playerObj?.status === 'UNPLAYED' 
              && data?.goalies?.home[0]?.playerObj?.status != 'COMPLETED' && 
               data?.goalies?.home[0]?.playerObj?.status != 'COMPLETED_PENDING_REVIEW'">PPD</span>  -->
              <span *ngIf="data?.goalies?.home[0]?.playerObj?.status != 'UNPLAYED'">{{ data?.goalies?.home[0]?.playerObj?.opponentScore + ' - ' +  data?.goalies?.home[0]?.playerObj?.teamScore}}</span> 
              <span *ngIf="data?.goalies?.home[0]?.playerObj?.status === 'COMPLETED' || data?.goalies?.home[0]?.playerObj?.status === 'COMPLETED_PENDING_REVIEW'"> 
                <span *ngIf="data?.goalies?.home[0]?.playerObj?.opponentScore &gt; data?.goalies?.home[0]?.playerObj?.teamScore"> {{data?.goalies?.home[0]?.playerObj?.team.opponent}} Win!</span>
                <span *ngIf="data?.goalies?.home[0]?.playerObj?.opponentScore &lt; data?.goalies?.home[0]?.playerObj?.teamScore"> {{data?.goalies?.home[0]?.playerObj?.team.name}} Win!</span>
              </span> 
             </p>
       
      </div>
    </div>
  </div>
</div>
<section *ngIf="showSkaterData != null && lineSection">
    <div class="mlb-page">
        <div class="card-wrap-sp mat-elevation-z6" *ngFor="let data of showSkaterData">
            
            <div class="mat-card-sp">
                  <div class="content-wrapper">      
                    <div class="batter-content"
                    [ngStyle]="{background: 'url(' + data['skaters'][0]?.playerObj?.team?.logo +')'}">
                    <div class="center" style="color:#000; text-transform: uppercase; letter-spacing: 2px;">
                        <span *ngIf="data['skaters'][0]?.playerObj?.team?.name">{{data['skaters'][0]?.playerObj?.team?.name}} <span *ngIf="data['skaters'][0]?.playerObj?.win != null">({{data['skaters'][0]?.playerObj?.win+'-'+data['skaters'][0]?.playerObj?.loss+'-'+data['skaters'][0]?.playerObj?.otl}})</span></span> <br>
                    </div>
                      <div  *ngFor="let item of data['skaters']; let i = index">
                          <span class="pointer" (click)="authorize({player: item?.playerObj, area: 'top'})">
                             <img src="{{item?.playerObj?.player.officialImageSrc}}" alt="hockey player" onError="this.src='https://cms.nhl.bamgrid.com/images/headshots/current/168x168/skater.jpg'">
                          </span>
                          {{item?.playerObj?.player.lastName}} - {{item?.playerObj.player?.primaryPosition}} | 
                          <span *ngIf="data['skaters'][0]?.playerObj?.gameStatus === 'UNPLAYED'" class="stats">
                          &nbsp; 
                          <span (click)="statToggle()" class="stat-toggle pointer">
                            <span [ngClass]="{'dn' : stat != 1}">{{makeMinutes(item?.playerObj?.stats?.shifts?.timeOnIceSeconds / item?.playerObj?.stats?.gamesPlayed)}} Min</span>
                            <span [ngClass]="{'dn' : stat != 2}">{{item?.playerObj?.stats?.sog}} SOG</span>
                            <span [ngClass]="{'dn' : stat != 3}">{{item?.playerObj?.stats?.fp}} FP</span>
                            <span [ngClass]="{'dn' : stat != 4}">{{item?.playerObj?.stats?.hits}} H</span>
                            <span [ngClass]="{'dn' : stat != 5}">{{item?.playerObj?.stats?.blocks}} B</span>
                            <span [ngClass]="{'dn' : stat != 6}">{{item?.playerObj?.stats?.fpa}} FPA</span>
                          </span>    {{item?.playerObj?.stats?.scoring?.assists}} A {{item?.playerObj?.stats?.scoring?.goals}} G&nbsp;
                          </span>
                          <span *ngIf="data['skaters'][0]?.playerObj?.gameStatus != 'UNPLAYED'" class="stats">
                          &nbsp;
                          <span (click)="statToggle()" class="stat-toggle pointer">
                              <span [ngClass]="{'dn' : stat != 1}">{{item?.playerObj?.stats?.iceTimeToday}} Min</span>
                              <span [ngClass]="{'dn' : stat != 2}">{{item?.playerObj?.stats?.sogToday}} SOG</span>
                              <span [ngClass]="{'dn' : stat != 3}">{{item?.playerObj?.stats?.fpToday}} FP</span>
                              <span [ngClass]="{'dn' : stat != 4}">{{item?.playerObj?.stats?.hitsToday}} H</span>
                              <span [ngClass]="{'dn' : stat != 5}">{{item?.playerObj?.stats?.blocksToday}} B</span>
                              <span [ngClass]="{'dn' : stat != 6}">{{item?.playerObj?.stats?.fpa}} FPA</span>
                          </span> 
                             {{item?.playerObj?.stats?.assistsToday}} A {{item?.playerObj?.stats?.goalsToday}} G&nbsp;
                          </span>
                      </div> 
                      
                    </div>
                   
                  </div>
                  <div class="bottom-content batter">
                      <span *ngIf="data['skaters'][0]?.playerObj?.gameStatus === 'LIVE'">
                        <span class="live"> LIVE </span> 
                          <span class="inning">

                                <span *ngIf="data['skaters'][0]?.playerObj?.team?.currentIntermission === 1">
                                  Intermission 1st Period
                                </span>
                                <span *ngIf="data['skaters'][0]?.playerObj?.team?.currentIntermission === 2">
                                  Intermission 2nd Period
                                </span>
                                <span *ngIf="data['skaters'][0]?.playerObj?.team?.currentIntermission === 3">
                                  Game Over
                                </span>
                              
                             <span *ngIf="data['skaters'][0]?.playerObj?.team?.currentIntermission == null">Period {{data['skaters'][0]?.playerObj?.team?.currentPeriod}} &nbsp; &nbsp;</span>
                              
                          </span>
                          <span class="score-box">
                              {{data['skaters'][0]?.playerObj?.team?.teamScore}} - 
                              {{data['skaters'][0]?.playerObj?.team?.opponentScore}}
                          </span>
                      </span>  
                      <span *ngIf="data['skaters'][0]?.playerObj?.gameStatus === 'UNPLAYED'">{{data['skaters'][0]?.playerObj?.player.gameTime | date: 'shortTime'}} PST </span> 
 
                      <span class="final" *ngIf="data['skaters'][0]?.playerObj?.gameStatus === 'COMPLETED' || 
                      data['skaters'][0]?.playerObj?.gameStatus === 'COMPLETED_PENDING_REVIEW'">
                          {{data['skaters'][0]?.playerObj?.team?.teamScore}} - 
                          {{data['skaters'][0]?.playerObj?.team?.opponentScore}} FINAL - <span>{{data['skaters'][0]?.playerObj?.team?.teamScore > data['skaters'][0]?.playerObj?.team?.opponentScore ? data['skaters'][0]?.playerObj?.team?.city +' Wins!' : data['skaters'][0]?.playerObj?.team?.city +' Lost!'}}</span>
                      </span>
                      <span> {{data['skaters'][0]?.playerObj?.player?.gameLocation === 'home' ? 'vs' : '@'}} {{data['skaters'][0]?.playerObj?.team?.opponent}}</span>
    
                      <span *ngIf="twitter">  
                        #NHL  
                         {{teams[data['skaters'][0]?.playerObj?.team?.abbreviation].twitter}} top line 
                        <div  *ngFor="let item of data['skaters']">
                          {{item?.playerObj?.player.lastName}} 
                          <span *ngIf="data['skaters'][0]?.playerObj?.gameStatus === 'UNPLAYED'" class="stats">
                         
                          <span (click)="statToggle()" class="stat-toggle pointer">
                              <span [ngClass]="{'dn' : stat != 1}">{{makeMinutes(item?.playerObj?.stats?.shifts?.timeOnIceSeconds / item?.playerObj?.stats?.gamesPlayed)}} Min</span>
                              <span [ngClass]="{'dn' : stat != 2}">{{item?.playerObj?.stats?.sog}} SOG</span>
                              <span [ngClass]="{'dn' : stat != 3}">{{item?.playerObj?.stats?.fp}} FP</span>
                              <span [ngClass]="{'dn' : stat != 4}">{{item?.playerObj?.stats?.hits}} H</span>
                              <span [ngClass]="{'dn' : stat != 5}">{{item?.playerObj?.stats?.blocks}} B</span>
                              <span [ngClass]="{'dn' : stat != 6}">{{item?.playerObj?.stats?.fpa}} FPA</span>
                            </span>  {{item?.playerObj?.stats?.scoring?.assists}} A {{item?.playerObj?.stats?.scoring?.goals}} G
                          </span>
                          <span *ngIf="data['skaters'][0]?.playerObj?.gameStatus != 'UNPLAYED'" class="stats">
                          
                          <span (click)="statToggle()" class="stat-toggle pointer">
                              <span [ngClass]="{'dn' : stat != 1}">{{item?.playerObj?.stats?.iceTimeToday}} Min</span>
                              <span [ngClass]="{'dn' : stat != 2}">{{item?.playerObj?.stats?.sogToday}} SOG</span>
                              <span [ngClass]="{'dn' : stat != 3}">{{item?.playerObj?.stats?.fpToday}} FP</span>
                              <span [ngClass]="{'dn' : stat != 4}">{{item?.playerObj?.stats?.hitsToday}} H</span>
                              <span [ngClass]="{'dn' : stat != 5}">{{item?.playerObj?.stats?.blocksToday}} B</span>
                              <span [ngClass]="{'dn' : stat != 6}">{{item?.playerObj?.stats?.fpa}} FPA</span>
                          </span>  {{item?.playerObj?.stats?.assistsToday}} A {{item?.playerObj?.stats?.goalsToday}} G
                          </span> 
                        </div> 
                        #Stats #HockeyTwitter
                      </span> 
    
                  </div>
              </div>
        </div>
    </div>
    <div class="row" *ngIf="!loading && dailySchedule != null">
      <div class="center twitter-btn">
          <button (click)="twitter = !twitter">Twitter</button>
      </div>
    </div> 
</section>
<section *ngIf="scheduleSection nhl-page">
  <app-team-schedule *ngIf="!loading && dailySchedule != null"
  [teamSchedules]="teamSchedules"
  [amount]="4">
  </app-team-schedule>

  <app-team-schedule *ngIf="!loading && dailySchedule != null"
  [teamSchedules]="teamSchedules"
  [amount]="3">
  </app-team-schedule> 
</section>
<app-dialog
[isOpen]="isOpen"
[submitting]="submitting"
[type]="'nba'"
[area]="area"
[noPosts]="noPosts"
[tweetsData]="tweetsData"
[name]="name"
[image]="image"
(close)="isOpen = false"
[title]="title"
[modalType]="modalType"
></app-dialog>
