.fixed-button {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 8;
}

.green-dot {
  height: 7px;
  width: 7px;
  background: #2ecc71;
  border-radius: 50%;
  display: inline-block;
}

.stat-block {
  background: #000;
  color: #fff;
  border-radius: 10px;
  padding: 6px 1px 6px 1px;
  margin-left: 2px;
}

.no-game-header {
  font-weight: 300;
  color: #555;
}

button.mat-raised-button {
  float: right;
  margin: 21px 10px 0 0;
}

.inline-lists ul {
  display: inline-block;
}

form input[type="text"] {
  opacity: 0;
  cursor: pointer;
}

.edit-list-container {
  margin: 15px;
  width: 330px;
  background: #6740B4;
  color: #fff;
}

.edit-list-container mat-form-field {
  margin: 0 0 0 25px;
}

.admin-box {
  background-color: #f44336;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 21px 10px 0 0;
  color: #fff;
  padding: 8px;
}

.edit-list-container li {
  cursor: pointer;
}

.goalie img {
  width: 11%;
  margin: 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}


.goalies-inline-score {
  display: inline-block;
  width: 45%;
  font-size: 12px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.goalies-inline-score h1 {
  font-size: 50px;
}

.tp-box {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
}

.tp-box__side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: 700; 
}

.tp-box__front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.tp-box__front a:hover,
.tp-box__back a:hover { 
    opacity: 0.7;
}

.tp-box__front a,
.tp-box__back a { 
    margin-top: 2px;
    background: #FED64F;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
}

.tp-box__back {
  position: absolute;
  width: 90%;
  top: 50px;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.game-info a {
  cursor: pointer;
}

.date-header image {
  width: 12%;
}

@media only screen and (max-width: 600px) {


  .material-icons.md-48 {
    font-size: 38px;
  }

  button.mat-raised-button {
    min-width: 50px;
    padding: 0px 4px;
    font-size: 11px;
  }
}
