<div id="top">
    <h1 class="center date-header baseball-header"> NBA Starting Five</h1>
</div>
<h1 class="center date-header baseball-header"> {{ gameDate | date:'fullDate' }}</h1>
<h1 class="center no-game-header date-header baseball-header" *ngIf="noGamesToday === true && !loading">{{noGamesMsg}}</h1>
<div class="center">
  <app-date-picker (setDate)="getByDate($event)"></app-date-picker>
</div>

<div class="sched-wrapper" *ngIf="!loading && dailySchedule != null">
  <div class="schedule-box row" *ngIf="!mobile">
    <div *ngFor="let item of dailySchedule; let i=index" class="col">
        <span *ngIf="item?.schedule?.awayTeam?.abbreviation && compareDate(item?.schedule?.startTime)" class="sched-item">
           <span class="abb" (click)="goAnchor(item?.schedule?.awayTeam?.abbreviation)">{{item?.schedule?.awayTeam?.abbreviation}} 
             <span *ngIf="item?.score?.homeScoreTotal != null">{{item?.score?.awayScoreTotal}}</span> 
             <br>
          </span>
          <span> 
            @ <br>
          </span>
          <span class="abb" (click)="goAnchor(item?.schedule?.homeTeam?.abbreviation)">{{item.schedule?.homeTeam?.abbreviation}} 
            <span *ngIf="item?.score?.homeScoreTotal != null">
              {{item?.score?.homeScoreTotal}}
              <br>
            </span>
            <span *ngIf="item?.schedule?.playedStatus === 'COMPLETED' || item?.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW'">FINAL</span>
            <span class="live" *ngIf="item?.schedule?.playedStatus === 'LIVE'">LIVE</span>
          </span>   
        </span> 
      </div>
  </div>
</div>

<div class="nba-button-wrapper" *ngIf="!loading && dailySchedule != null && starterIdData.length > 0">
    <div class="schedule-box row">
      <div [ngClass]="{'active': startersSection}" class="col" (click)="startersSection = true; positionSection = false; scheduleSection = false">
          <span class="sched-item">
            Starters
          </span> 
      </div>
      <div [ngClass]="{'active': positionSection}" class="col" (click)="startersSection = false; positionSection = true; scheduleSection = false">
          <span class="sched-item">
            Starters By Position
          </span> 
      </div>
      <div [ngClass]="{'active': scheduleSection}" class="col" (click)="startersSection = false; positionSection = false; scheduleSection = true">
          <span class="sched-item">
            Weekly Schedule
          </span> 
      </div>
      <!-- <div class="col">
          <span class="sched-item">
            Team Ranks
          </span> 
      </div> -->
    </div>
</div>

<app-spinner *ngIf="loading" [size]="'lg'" [color]="'white'" [title]="'Starting Five Data'"></app-spinner>
<div *ngIf="errMessage" class="err center">
  <h1><strong>Error: </strong> {{ errMessage }}</h1>
</div>
<!-- <div *ngIf="!loading && starterIdData.length === 0" class="center">
  <button [routerLink]="['/stat-leaders']">Stat Leaders</button>
</div> -->

<div *ngIf="showData != null" class="main-row starting-five">
  <section [ngClass]="{'dn' : !startersSection}">
    <div class="card-wrap-sp mat-elevation-z6" *ngFor="let data of showData">
      <div id="{{data?.offensePlayers[0]?.playerObj.team.abbreviation}}" class="mat-card-sp">
        <div>
          <div class="content-wrapper">
            <div class="row">
                <div class="row">
                  <div class="col team-logo">
                      <img src="{{data?.offensePlayers[0]?.playerObj?.team?.logo ? data?.offensePlayers[0]?.playerObj?.team?.logo :  data?.offensePlayers[1]?.playerObj?.team?.logo}}" alt="{{data?.offensePlayers[0]?.playerObj.team.name}} logo">
                  </div>
                  <div class="col team-name-col">
                    <div class="team-name-box" [style.background-image]="getBackground(data.offensePlayers[0].playerObj.team.color)" >
                        <p class="center">
                            <span *ngIf="data?.offensePlayers[0]?.playerObj?.team?.name">{{data?.offensePlayers[0]?.playerObj?.team?.name}} ({{data?.offensePlayers[0]?.playerObj?.win+'-'+data?.offensePlayers[0]?.playerObj?.loss}})</span> <br>
                        </p>
                    </div>
                  </div>
                  
                </div>
              <div>
              <div *ngFor="let item of data.offensePlayers; let i=index">
                  <span [ngClass]="{'left-content' : !item?.playerObj?.starterInfo?.bench, 'dn' : item?.playerObj?.starterInfo?.bench}" (click)="$event.stopPropagation()">
                    <span (click)="authorize({player: item, area: 'top'})" class="point"><img src="{{item?.playerObj.player?.officialImageSrc}}" alt="basketball player"
                      onError="this.src='https://www.nba.com/.element/img/2.0/sect/statscube/players/large/default_nba_headshot_v2.png'"></span>
                    <span class="player-infos" (click)="$event.stopPropagation()">
                        <span *ngIf="item.playerObj.player?.rookie === true" class="rookie">R</span>
                        <span *ngIf="!mobile"> 
                          {{item.playerObj.player.lastName}} - {{item?.playerObj.player?.primaryPosition}} | #{{item.playerObj.player.jerseyNumber}} 
                        </span>
                        <span *ngIf="mobile"> 
                            {{item.playerObj.player.lastName}} - {{item?.playerObj.player?.primaryPosition}}
                        </span>
                        
                
                      <span *ngIf="(item?.playerObj?.player?.currentInjury == null || item?.playerObj?.player?.currentInjury?.playingProbability === 'PROBABLE') && item?.playerObj?.starterInfo?.playerStatus === 'expected'" style="color: orange;"><i class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>
                      <span *ngIf="(item?.playerObj?.player?.currentInjury?.playingProbability === 'QUESTIONABLE' || item?.playerObj?.player?.currentInjury?.playingProbability === 'DOUBTFUL' || item?.playerObj?.player?.currentInjury?.playingProbability === 'OUT') && item?.playerObj?.starterInfo?.playerStatus === 'expected'" style="color: gray;"><i (click)="item.playerObj.player.currentInjury.playingProbability = 'PROBABLE'" class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>
                      
                      <span *ngIf="item?.playerObj?.starterInfo?.playerStatus === 'actual'" style="color: #2ecc71;"><i class="material-icons md-18" style="background: #fff; border-radius: 50%;">check_circle</i></span>

                      <span (click)="changeStats()" class="point">
                        <app-stat-toggle
                        [status]="item?.playerObj?.starterInfo?.status" 
                        [item]="item" 
                        [position]="'ALL'"
                        [stats]="stats"></app-stat-toggle>
                      </span>
                    </span>
                  </span>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="twitter">
          <div class="card-wrap-sp mat-elevation-z6 position-box twitter">
             
             <div>
               <div class="content-wrapper">
                 <div class="row">
                 <div class="w100">
                     #NBA {{ gameDate | date:'fullDate' }}
                 </div>
                 <div class="w100">
                     #Top5 Starting/Expected
                 </div>
                   <div *ngFor="let item of data.offensePlayers; let i=index" class="w100">
                     <span [ngClass]="{'left-content' : !item?.playerObj?.starterInfo?.bench, 'dn' : item?.playerObj?.starterInfo?.bench}" (click)="$event.stopPropagation()">
                       <span class="player-infos">
                          <span class="names">
                            {{teams[item.playerObj?.player['currentTeam'].abbreviation].twitter + ' ' + item.playerObj?.player.lastName}}
                          </span>
                           <app-stat-toggle
                           [status]="item?.playerObj?.starterInfo?.status" 
                           [item]="item" 
                           [position]="'ALL'"
                           [stats]="stats"></app-stat-toggle>
                               
                         </span>
                       </span>
                   </div>
                   <div class="w100">
                       #NBATwitter #Stats
                   </div>
                 </div>
               </div>
             </div>
         </div>
       </div>
    </div>
  </section>
 
  <section [ngClass]="{'dn' : !positionSection}">
    <app-position-card *ngIf="!loading && dailySchedule != null && myData != null"
    [title]="'Top PG'"
    [myData]="myData"
    [position]="'PG'"
    [mobile]="mobile"
    (open)="authorize($event)"
    [twitter]="twitter"
    [gameDate]="gameDate"
    [teams]="teams"></app-position-card>

    <app-position-card *ngIf="!loading && dailySchedule != null && myData != null"
    [title]="'Top SF'"
    [myData]="myData"
    [position]="'SF'"
    [mobile]="mobile"
    (open)="authorize($event)"
    [twitter]="twitter"
    [gameDate]="gameDate"
    [teams]="teams"></app-position-card>

    <app-position-card *ngIf="!loading && dailySchedule != null && myData != null"
    [title]="'Top Centers'"
    [myData]="myData"
    [position]="'C'"
    [mobile]="mobile"
    (open)="authorize($event)"
    [twitter]="twitter"
    [gameDate]="gameDate"
    [teams]="teams"></app-position-card>

    <app-position-card *ngIf="!loading && dailySchedule != null && myData != null"
    [title]="'Top PF'"
    [myData]="myData"
    [position]="'PF'"
    [mobile]="mobile"
    (open)="authorize($event)"
    [twitter]="twitter"
    [gameDate]="gameDate"
    [teams]="teams"></app-position-card>

    <app-position-card *ngIf="!loading && dailySchedule != null && myData != null"
    [title]="'Top SG'"
    [myData]="myData"
    [position]="'SG'"
    [mobile]="mobile"
    (open)="authorize($event)"
    [twitter]="twitter"
    [gameDate]="gameDate"
    [teams]="teams"></app-position-card>

    <app-position-card *ngIf="!loading && dailySchedule != null && myData != null"
    [title]="'Top Bench'"
    [myData]="myData"
    [position]="'bench'"
    [mobile]="mobile"
    (open)="authorize($event)"
    [twitter]="twitter"
    [gameDate]="gameDate"
    [teams]="teams"></app-position-card>
  </section>

  <section [ngClass]="{'dn' : !scheduleSection}">
    <app-team-schedule *ngIf="!loading && dailySchedule != null"
    [teamSchedules]="teamSchedules"
    [amount]="4">
    </app-team-schedule>

    <app-team-schedule *ngIf="!loading && dailySchedule != null"
    [teamSchedules]="teamSchedules"
    [amount]="3">
    </app-team-schedule>
  </section>

  <div class="row" *ngIf="!loading && dailySchedule != null">
    <div class="center twitter-btn">
        <button (click)="twitter = !twitter">Twitter</button>
    </div>
  </div> 

  <div class="top-arrow">
      <span (click)="goAnchor('top')">TOP &uarr;</span>
  </div>
</div>
<app-dialog
[isOpen]="isOpen"
[submitting]="submitting"
[type]="'nba'"
[area]="area"
[noPosts]="noPosts"
[tweetsData]="tweetsData"
[name]="name"
[image]="image"
(close)="isOpen = false"
[title]="'Twitter Updates -'"
[modalType]="'twitter'"
></app-dialog>