<div id="top">
    <h1 class="center date-header baseball-header"> NFL Touches Rankings</h1>
</div>

<h1 class="center date-header baseball-header"> Week {{selectedWeek}}</h1>
<div class="center">
  <select name="week" id="week" (change)="onChange($event.target.value)">
    <option value="1"> - </option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="16">17</option>
  </select>
</div>

<div class="sched-wrapper" *ngIf="!loading">
    <div class="schedule-box row">
      <div *ngFor="let item of dailySchedule; let i=index" class="col">
          <span *ngIf="item?.schedule?.awayTeam?.abbreviation" class="sched-item">
             <span class="abb" (click)="goAnchor(item?.schedule?.awayTeam?.abbreviation)">{{'#'+ item?.schedule?.awayTeam?.teamRank + '-' + item?.schedule?.awayTeam?.abbreviation}} 
               <span *ngIf="item?.score?.homeScoreTotal != null">{{item?.score?.awayScoreTotal}}</span> 
               <br>
            </span>
            <span> 
              @ <br>
            </span>
            <span class="abb" (click)="goAnchor(item?.schedule?.homeTeam?.abbreviation)">{{'#'+ item?.schedule?.homeTeam?.teamRank + '-' + item.schedule?.homeTeam?.abbreviation}} 
              <span *ngIf="item?.score?.homeScoreTotal != null">
                {{item?.score?.homeScoreTotal}}
                <br>
              </span>
              <span *ngIf="item?.schedule?.playedStatus === 'COMPLETED' || item?.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW'">FINAL</span>
              <span class="live" *ngIf="item?.schedule?.playedStatus === 'LIVE'">LIVE</span>
            </span>   
          </span> 
          <!-- <span *ngIf="data?.offensePlayers[0]?.playerObj?.team?.abbreviation === item.schedule?.homeTeam?.abbreviation" class="sched-item">
              {{item?.schedule?.homeTeam?.abbreviation +' vs '+ item?.schedule?.awayTeam?.abbreviation}} 
              <span *ngIf="item?.score?.homeScoreTotal != null">
              <span *ngIf="item?.score?.homeScoreTotal > item?.score?.awayScoreTotal" [ngStyle]="{'color': data?.offensePlayers[0]?.playerObj.team?.accent ? data?.offensePlayers[0]?.playerObj.team?.accent : 'gold'}"> W </span> 
              <span *ngIf="item?.score?.homeScoreTotal < item?.score?.awayScoreTotal" [ngStyle]="{'color': '#ccc'}"> L </span> 
              <span *ngIf="item?.score?.homeScoreTotal === item?.score?.awayScoreTotal" [ngStyle]="{'color': '#ccc'}"> T </span> 
              <span *ngIf="item?.score?.homeScoreTotal != null"> ({{item?.score?.homeScoreTotal +' - '+ item?.score?.awayScoreTotal}})</span>
              </span>
          </span>    -->
        </div>
  </div>
  </div>
  <div class="shed-row row" *ngIf="!loading">
      <div class="schedule-box col">
          <span class="week-rank">Week {{selectedWeek}} - Team Rank<br> </span> 
          <div *ngFor="let item of dailySchedule; let i=index">
              <span *ngIf="item?.schedule?.awayTeam?.abbreviation" class="sched-item">
                  <span class="abb" (click)="goAnchor(item?.schedule?.awayTeam?.abbreviation)"><img src="{{item?.schedule?.awayTeam?.logo}}" alt="{{item?.schedule?.awayTeam?.name}} logo"> {{'#'+ item?.schedule?.awayTeam?.teamRank + '-' + item?.schedule?.awayTeam?.abbreviation}} 
                    
                   
                 </span>
                 <span class="at"> 
                    <span class="score" *ngIf="item?.score?.homeScoreTotal != null">{{item?.score?.awayScoreTotal}} </span>  
                    @  
                    <span class="score" *ngIf="item?.score?.homeScoreTotal != null"> {{item?.score?.homeScoreTotal}} <span *ngIf="item?.schedule?.playedStatus === 'COMPLETED' || item?.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW'"> F</span></span>
                 </span>
                 <span class="abb" (click)="goAnchor(item?.schedule?.homeTeam?.abbreviation)"> {{'#'+ item?.schedule?.homeTeam?.teamRank + '-' + item.schedule?.homeTeam?.abbreviation}} <img src="{{item?.schedule?.homeTeam?.logo}}" alt="{{item?.schedule?.awayTeam?.name}} logo">
                   
                   <!-- <span *ngIf="item?.schedule?.playedStatus === 'COMPLETED' || item?.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW'">FINAL</span>
                   <span class="live" *ngIf="item?.schedule?.playedStatus === 'LIVE'"> LIVE</span> -->
                 </span>   
               </span>  
            </div>
      </div>
      <div class="schedule-box col">
          <span class="week-rank">Week {{selectedWeek}} - Run Rank<br> </span> 
          <div *ngFor="let item of dailySchedule; let i=index">
              <span *ngIf="item?.schedule?.awayTeam?.abbreviation" class="sched-item">
                  <span class="abb" (click)="goAnchor(item?.schedule?.awayTeam?.abbreviation)"><img src="{{item?.schedule?.awayTeam?.logo}}" alt="{{item?.schedule?.awayTeam?.name}} logo"> {{'#'+ item?.schedule?.awayTeam?.oRank + '-' + item?.schedule?.awayTeam?.abbreviation}} 
                    
                   
                 </span>
                 <span class="at"> 
                    <span class="score" *ngIf="item?.score?.homeScoreTotal != null">{{item?.score?.awayScoreTotal}} </span>  
                    @  
                    <span class="score" *ngIf="item?.score?.homeScoreTotal != null"> {{item?.score?.homeScoreTotal}} <span *ngIf="item?.schedule?.playedStatus === 'COMPLETED' || item?.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW'"> F</span></span>
                 </span>
                 <span class="abb" (click)="goAnchor(item?.schedule?.homeTeam?.abbreviation)"> {{'#'+ item?.schedule?.homeTeam?.oRank + '-' + item.schedule?.homeTeam?.abbreviation}} <img src="{{item?.schedule?.homeTeam?.logo}}" alt="{{item?.schedule?.homeTeam?.name}} logo"> 
                   
                   <!-- <span *ngIf="item?.schedule?.playedStatus === 'COMPLETED' || item?.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW'">FINAL</span>
                   <span class="live" *ngIf="item?.schedule?.playedStatus === 'LIVE'"> LIVE</span> -->
                 </span>   
               </span>  
            </div>
      </div>
      <div class="schedule-box col">
          <span class="week-rank">Week {{selectedWeek}} - Pass Rank<br> </span> 
          <div *ngFor="let item of dailySchedule; let i=index">
              <span *ngIf="item?.schedule?.awayTeam?.abbreviation" class="sched-item">
                  <span class="abb" (click)="goAnchor(item?.schedule?.awayTeam?.abbreviation)"><img src="{{item?.schedule?.awayTeam?.logo}}" alt="{{item?.schedule?.awayTeam?.name}} logo"> {{'#'+ item?.schedule?.awayTeam?.dRank + '-' + item?.schedule?.awayTeam?.abbreviation}} 
                    
                   
                 </span>
                 <span class="at"> 
                    <span class="score" *ngIf="item?.score?.homeScoreTotal != null">{{item?.score?.awayScoreTotal}} </span>  
                    @  
                    <span class="score" *ngIf="item?.score?.homeScoreTotal != null"> {{item?.score?.homeScoreTotal}} <span *ngIf="item?.schedule?.playedStatus === 'COMPLETED' || item?.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW'"> F</span></span>
                 </span>
                 <span class="abb" (click)="goAnchor(item?.schedule?.homeTeam?.abbreviation)">{{'#'+ item?.schedule?.homeTeam?.dRank + '-' + item.schedule?.homeTeam?.abbreviation}} <img src="{{item?.schedule?.homeTeam?.logo}}" alt="{{item?.schedule?.homeTeam?.name}} logo"> 
                   
                   <!-- <span *ngIf="item?.schedule?.playedStatus === 'COMPLETED' || item?.schedule?.playedStatus === 'COMPLETED_PENDING_REVIEW'">FINAL</span>
                   <span class="live" *ngIf="item?.schedule?.playedStatus === 'LIVE'"> LIVE</span> -->
                 </span>   
               </span>  
            </div>
      </div>
</div> 
<div class="shed-row row single" *ngIf="!loading">
  <div class="schedule-box col">
      <span class="week-rank">Week {{selectedWeek}} - Team Rank<br> </span>
      <div *ngFor="let item of tRank; let i=index">
          <span *ngIf="item?.abbreviation" class="sched-item">
              <span class="abb-single" (click)="goAnchor(item?.abbreviation)">
                 <span class="rank-num">{{(i+1)}}</span> - <img src="{{item?.officialLogoImageSrc}}" alt="{{item?.name}} logo"> 
                 {{item?.name}}  <span> ({{item?.win}}-{{item?.loss}}-{{item?.tie}})</span> 
              </span> 
          </span>  
        </div>
  </div>
  <div class="schedule-box col">
      <span class="week-rank">Week {{selectedWeek}} - Run Rank<br> </span> 
      <span class="sub-text">* Percentage of touches are Run plays</span>
      <div *ngFor="let item of oRank; let i=index">
          <span *ngIf="item?.team?.abbreviation" class="sched-item">
              <span class="abb-single" (click)="goAnchor(item?.team?.abbreviation)">
                 <span class="rank-num">{{(i+1)}}</span> - <img src="{{item?.team?.officialLogoImageSrc}}" alt="{{item?.team?.name}} logo"> 
                 {{item?.team?.name}} <span class="percent-text"> *{{ item?.stats?.rushing?.rushAttempts / (item?.stats?.rushing?.rushAttempts + item?.stats?.passing?.passAttempts) * 100 | number | slice:0:4 }}% </span>  <span> ({{item?.stats?.standings.wins}}-{{item?.stats?.standings.losses}}-{{item?.stats?.standings.ties}})</span>
              </span> 
          </span>  
        </div>
  </div>
  <div class="schedule-box col">
      <span class="week-rank">Week {{selectedWeek}} - Pass Rank<br> </span> 
      <span class="sub-text">* Percentage of touches are Pass plays</span>
      <div *ngFor="let item of dRank; let i=index">
          <span *ngIf="item?.team?.abbreviation" class="sched-item">
              <span class="abb-single" (click)="goAnchor(item?.team?.abbreviation)">
               <span class="rank-num">{{(i+1)}}</span> - <img src="{{item?.team?.officialLogoImageSrc}}" alt="{{item?.team?.name}} logo"> 
               {{item?.team?.name}} <span class="percent-text"> *{{ item?.stats?.passing?.passAttempts / (item?.stats?.rushing?.rushAttempts + item?.stats?.passing?.passAttempts) * 100 | number | slice:0:4 }}% </span>  <span> ({{item?.stats?.standings.wins}}-{{item?.stats?.standings.losses}}-{{item?.stats?.standings.ties}})</span>
              </span> 
          </span>  
        </div>
  </div>
</div> 

<div class="spinner-msg" *ngIf="loading">
  Retrieving Offensive Touches Data...
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="errMessage" class="err center">
  <h1><strong>Error: </strong> {{ errMessage }}</h1>
</div>
<div *ngIf="showData != null">
  <div class="card-wrap-sp mat-elevation-z6 tp-wrap" *ngFor="let data of showData | orderBy: 'nfl'">
    <mat-card id="{{data?.offensePlayers[0]?.playerObj.team.abbreviation}}" class="tp-box mat-card-sp" [@flipState]="data?.offensePlayers[0]?.playerObj?.flip">
      <div *ngIf="data?.offensePlayers[0]?.playerObj.flip === 'inactive'" class="ribbon"><span
          [ngStyle]="{'backgroundColor': data?.offensePlayers[0]?.playerObj.team?.color ? data?.offensePlayers[0]?.playerObj.team?.color : 'black' }">{{data?.offensePlayers[0]?.playerObj.team.name}}</span>
      </div>
      <div class="tp-box__side tp-box__front">
        <div class="content-wrapper">
          <div class="row">
              <div class="row"><p class="center">Run <br></p></div>
            <div class="col">
                <div *ngFor="let item of data.offensePlayers; let i=index" class="player-box-inline">
                    
                    <span [ngClass]="{'left-content' : i<=4, 'dn' : i>4}">
                        <img src="{{item?.playerObj.player?.officialImageSrc}}" alt="football player"
                        onError="this.src='http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/ARM455007.png'">
                        <p>
                          <span *ngIf="item.playerObj.player?.rookie === true" class="rookie">R</span>
                          <span> {{ (item.playerObj.player.firstName | slice:0:1) + '. ' + item.playerObj.player.lastName}} - {{item?.playerObj.player?.primaryPosition}} |
                            #{{item.playerObj.player.jerseyNumber}} <br></span>
                          <span *ngIf="item?.playerObj.player?.age != null"> Age: {{item?.playerObj.player?.age}} <br> H: {{item?.playerObj.player?.height}}
                            W: {{item?.playerObj.player?.weight}} <br> </span>
                            Touches: <span>{{item.playerObj.stats.rushing.rushAttempts + item.playerObj.stats.receiving.receptions}} <br></span>
                            <span class="t-percent">{{(item.playerObj.stats.rushing.rushAttempts + item.playerObj.stats.receiving.receptions) / (data?.teamStats?.rushing?.rushAttempts + data?.teamStats?.passing?.passAttempts) * 100 | number | slice:0:4 }}%</span>
                        </p>
                    </span>
                  </div>
                  
            </div>
            <div class="col-info">
                <div class="right-content">
                    <div *ngIf="data?.offensePlayers[0]?.playerObj['player'].gameLocation === 'home'" class="content-wrapper-teams">
                      <div class="left-content-teams">
                        <img src="{{data?.offensePlayers[0]?.playerObj.team.logo}}" alt="{{data?.offensePlayers[0]?.playerObj.team.name}} logo">
                        <span *ngIf="data?.offensePlayers[0]?.playerObj['teamRank'] != null">Rank: {{data?.offensePlayers[0]?.playerObj['teamRank']}} <br></span>
                        <span>W-L: {{data?.teamStats?.standings?.wins +'-'+ data?.teamStats?.standings?.losses}}</span><span *ngIf="data?.teamStats?.standings.ties > 0">-{{data?.teamStats?.standings.ties}}</span>
                      </div>
                      <div class="middle-content-teams">vs</div>
                      <div class="right-content-teams">
                        <img src="{{data?.offensePlayers[0]?.playerObj.team.opponentLogo}}" alt="{{data?.offensePlayers[0]?.playerObj.team.opponentName}} logo">
                        <span *ngIf="data?.offensePlayers[0]?.playerObj['teamRank'] != null">Rank: {{data?.offensePlayers[0]?.playerObj['opponentTR']}} <br></span>
                        <span>W-L: {{data?.offensePlayers[0]?.playerObj['opponentW'] +'-'+ data?.offensePlayers[0]?.playerObj['opponentL']}}</span><span *ngIf="data?.offensePlayers[0]?.playerObj['opponentT'] > 0">-{{data?.offensePlayers[0]?.playerObj['opponentT']}}</span>

                      </div>
                    </div>
                    <div *ngIf="data?.offensePlayers[0]?.playerObj['player'].gameLocation === 'away'" class="content-wrapper-teams">
                      <div class="left-content-teams">
                        <img src="{{data?.offensePlayers[0]?.playerObj.team.logo}}" alt="{{data?.offensePlayers[0]?.playerObj.team.name}} logo">
                        <span *ngIf="data?.offensePlayers[0]?.playerObj['teamRank'] != null">Rank: {{data?.offensePlayers[0]?.playerObj['teamRank']}} <br></span>
                        <span>W-L: {{data?.teamStats?.standings?.wins +'-'+ data?.teamStats?.standings?.losses}}</span><span *ngIf="data?.teamStats?.standings.ties > 0">-{{data?.teamStats?.standings.ties}}</span>
                      </div>
                      <div class="middle-content-teams">@</div>
                      <div class="right-content-teams">
                        <img src="{{data?.offensePlayers[0]?.playerObj.team.opponentLogo}}" alt="{{data?.offensePlayers[0]?.playerObj.team.opponentName}} logo">
                        <span *ngIf="data?.offensePlayers[0]?.playerObj['teamRank'] != null">Rank: {{data?.offensePlayers[0]?.playerObj['opponentTR']}} <br></span>
                        <span>W-L: {{data?.offensePlayers[0]?.playerObj['opponentW'] +'-'+ data?.offensePlayers[0]?.playerObj['opponentL']}}</span><span *ngIf="data?.offensePlayers[0]?.playerObj['opponentT'] > 0">-{{data?.offensePlayers[0]?.playerObj['opponentT']}}</span>
                        
                      </div>
                    </div>
                    <div *ngIf="data?.offensePlayers[0]?.playerObj['gameId'] == null" class="content-wrapper-teams">
                      <p style="font-size:22px;">Bye <br>
                      <span *ngIf="data?.offensePlayers[0]?.playerObj['teamRank'] != null">Rank: {{data?.offensePlayers[0]?.playerObj['teamRank']}} <br>
                      <span>W-L: {{data?.teamStats?.standings?.wins +'-'+ data?.teamStats?.standings?.losses}}</span><span *ngIf="data?.teamStats?.standings.ties">-{{data?.teamStats?.standings.ties}}</span></span></p> 
                    </div>
                    <p *ngIf="data?.offensePlayers[0]?.playerObj['teamScore'] == null && data?.offensePlayers[0]?.playerObj['opponentScore'] == null">
                      <span *ngIf="data?.offensePlayers[0]?.playerObj.team?.opponent">Opponent:
                        {{data?.offensePlayers[0]?.playerObj.team?.opponentName}} <br> <span [ngStyle]="{'backgroundColor': data?.offensePlayers[0]?.playerObj?.opponentColor ? data?.offensePlayers[0]?.playerObj?.opponentColor : 'black' }">Run Rank:  {{data?.offensePlayers[0]?.playerObj['opponentOR']}} &nbsp; &nbsp; Pass Rank: {{data?.offensePlayers[0]?.playerObj['opponentDR']}}</span> <br>
                        Game: {{data?.offensePlayers[0]?.playerObj.player.gameTime | date: 'EEEE, h:mm a'}} PST, {{data?.offensePlayers[0]?.playerObj.team.gameField}} </span> 
                    </p>
                    <p *ngIf="data?.offensePlayers[0]?.playerObj['teamScore'] >= 0 || data?.offensePlayers[0]?.playerObj['opponentScore'] >= 0">
                        <span>Score: &nbsp;
                          {{data?.offensePlayers[0]?.playerObj.team?.name}} {{data?.offensePlayers[0]?.playerObj['teamScore']}} &nbsp;
                          {{data?.offensePlayers[0]?.playerObj.team?.opponentName}} {{data?.offensePlayers[0]?.playerObj['opponentScore']}} <br></span>
                          <span *ngIf="data?.offensePlayers[0]?.playerObj['win'] === 1">{{data?.offensePlayers[0]?.playerObj.team?.city}} won<span *ngIf="data?.offensePlayers[0]?.playerObj['otWin'] === 1"> in overtime</span>!</span>
                          <span *ngIf="data?.offensePlayers[0]?.playerObj['loss'] === 1">{{data?.offensePlayers[0]?.playerObj.team?.city}} lost<span *ngIf="data?.offensePlayers[0]?.playerObj['otLoss'] === 1"> in overtime</span>!</span>
                          <span *ngIf="data?.offensePlayers[0]?.playerObj['tie'] === 1">{{data?.offensePlayers[0]?.playerObj.team?.city}} tied!</span>
                           
                      </p>
                  </div>
            </div>
            <div class="row" [ngStyle]="{'backgroundColor': data?.offensePlayers[0]?.playerObj.team?.color ? data?.offensePlayers[0]?.playerObj.team?.color : 'black' }">
              <p class="center">Rush Attempts: {{data?.teamStats?.rushing?.rushAttempts}} / Rush Yards: {{data?.teamStats?.rushing?.rushYards}} / {{ data?.teamStats?.rushing?.rushAttempts / (data?.teamStats?.rushing?.rushAttempts + data?.teamStats?.passing?.passAttempts) * 100 | number | slice:0:4 }}% of touches are Running Plays  -- <span *ngIf="data?.offensePlayers[0]?.playerObj['oRank'] != null">
                  Run Rank: {{data?.offensePlayers[0]?.playerObj['oRank']}}
              </span></p>
            </div>  
          </div>
          <div class="row">
              <div class="row"><p class="center">Pass <br></p></div>
            <div class="col">
               
                <div *ngFor="let item of data.passPlayers; let i=index" class="player-box-inline">
                    
                      <span [ngClass]="{'left-content' : i<=4, 'dn' : i>4}">
                          <img src="{{item?.playerObj.player?.officialImageSrc}}" alt="football player"
                          onError="this.src='http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/ARM455007.png'">
                          <p>
                            <span *ngIf="item.playerObj.player?.rookie === true" class="rookie">R</span>
                            <span> {{ (item.playerObj.player.firstName | slice:0:1) + '. ' + item.playerObj.player.lastName}} - {{item?.playerObj.player?.primaryPosition}} |
                              #{{item.playerObj.player.jerseyNumber}} <br></span>
                            <span *ngIf="item?.playerObj.player?.age != null"> Age: {{item?.playerObj.player?.age}} <br> H: {{item?.playerObj.player?.height}}
                              W: {{item?.playerObj.player?.weight}} <br> </span>
                              Touches: <span>{{item.playerObj.stats.rushing.rushAttempts + item.playerObj.stats.receiving.receptions}} <br></span>
                              <span class="t-percent">{{(item?.playerObj?.stats?.rushing?.rushAttempts + item?.playerObj?.stats?.receiving?.receptions) / (data?.teamStats?.rushing?.rushAttempts + data?.teamStats?.passing?.passAttempts) * 100 | number | slice:0:4 }}%</span>
                          </p>
                      </span>
                    </div>
            </div> 
            <div class="col-info">
                <div class="right-content">
                    <div class="schedule-box" [ngStyle]="{'backgroundColor': data?.offensePlayers[0]?.playerObj.team?.color ? data?.offensePlayers[0]?.playerObj.team?.color : 'black',  'borderColor': data?.offensePlayers[0]?.playerObj.team?.accent ? data?.offensePlayers[0]?.playerObj.team?.accent : 'black'}">
                        <div *ngFor="let item of data.seasonSchedule; let i=index">
                            <span class="week-item">Week {{item?.schedule?.week}}: </span> 
                            <span *ngIf="data?.offensePlayers[0]?.playerObj?.team?.abbreviation === item?.schedule?.awayTeam?.abbreviation" class="sched-item">
                               {{item?.schedule?.awayTeam?.abbreviation +' @ '+ item.schedule?.homeTeam?.abbreviation}}
                               <span *ngIf="item?.score?.homeScoreTotal != null">
                               <span *ngIf="item?.score?.awayScoreTotal > item?.score?.homeScoreTotal" [ngStyle]="{'color': data?.offensePlayers[0]?.playerObj.team?.accent ? data?.offensePlayers[0]?.playerObj.team?.accent : 'gold'}"> W </span> 
                               <span *ngIf="item?.score?.awayScoreTotal < item?.score?.homeScoreTotal" [ngStyle]="{'color': '#ccc'}"> L </span> 
                               <span *ngIf="item?.score?.awayScoreTotal === item?.score?.homeScoreTotal" [ngStyle]="{'color': '#ccc'}"> T </span> 
                               <span *ngIf="item?.score?.homeScoreTotal != null"> ({{item?.score?.awayScoreTotal +' - '+ item?.score?.homeScoreTotal}})</span>
                               </span>
                            </span> 
                            <span *ngIf="data?.offensePlayers[0]?.playerObj?.team?.abbreviation === item.schedule?.homeTeam?.abbreviation" class="sched-item">
                                {{item?.schedule?.homeTeam?.abbreviation +' vs '+ item?.schedule?.awayTeam?.abbreviation}} 
                                <span *ngIf="item?.score?.homeScoreTotal != null">
                                <span *ngIf="item?.score?.homeScoreTotal > item?.score?.awayScoreTotal" [ngStyle]="{'color': data?.offensePlayers[0]?.playerObj.team?.accent ? data?.offensePlayers[0]?.playerObj.team?.accent : 'gold'}"> W </span> 
                                <span *ngIf="item?.score?.homeScoreTotal < item?.score?.awayScoreTotal" [ngStyle]="{'color': '#ccc'}"> L </span> 
                                <span *ngIf="item?.score?.homeScoreTotal === item?.score?.awayScoreTotal" [ngStyle]="{'color': '#ccc'}"> T </span> 
                                <span *ngIf="item?.score?.homeScoreTotal != null"> ({{item?.score?.homeScoreTotal +' - '+ item?.score?.awayScoreTotal}})</span>
                                </span>
                            </span>   
                          </div>
                    </div>
                  </div>
            </div>  
            <div class="row" [ngStyle]="{'backgroundColor': data?.offensePlayers[0]?.playerObj.team?.color ? data?.offensePlayers[0]?.playerObj.team?.color : 'black' }">
              <p class="center">Pass Attempts: {{data?.teamStats?.passing?.passAttempts}} / Pass Yards: {{data?.teamStats?.passing?.passNetYards}} / {{ data?.teamStats?.passing?.passAttempts / (data?.teamStats?.rushing?.rushAttempts + data?.teamStats?.passing?.passAttempts) * 100 | number | slice:0:4 }}% of touches are Passing Plays --  <span *ngIf="data?.offensePlayers[0]?.playerObj['dRank'] != null">
                  Pass Rank: {{data?.offensePlayers[0]?.playerObj['dRank']}} <br>
              </span></p>
            </div> 
          </div>
         
       
        </div>
        <div class="bottom-content">
          <!-- <img src="./assets/mlb-logos/{{data.team.id}}.png" alt="{{data?.offensePlayers[0]?.playerObj.team.name}} logo"> -->
          <!-- <p class="name-number">{{ data.player.firstName + ' ' + data.player.lastName}}<span *ngIf="data?.player?.handedness"> - {{data?.player?.handedness}}</span> - {{data?.player?.primaryPosition}} | #{{data.player.jerseyNumber}}</p> -->
          <!--     <p class="name-number">
            <b>W-L:</b> {{ data.stats.pitching.wins +'-'+ data.stats.pitching.losses }} / <b>ERA:</b> {{ data.stats.pitching.earnedRunAvg }} /
            <b>K's:</b> {{ data.stats.pitching.pitcherStrikeouts }}
          </p> -->
          <!--    <div class="fav-pitch">
            
            <br>
            <a class="more-stats-btn" (click)="getPreviousGameStats(data)">MORE STATS</a>
          </div> -->
          <!--  <div *ngIf="data.firstStart != null" class="fav-pitch">
          <p>{{data.firstStart}}</p>
            <br>
            <a class="more-stats-btn" (click)="getGameStats(data, data.gameId)">MORE STATS</a>
          </div> -->

        </div>
      </div> <!-- FRONT OF CARD -->

      <!-- SCORE BACK OF CARD -->
      <div class="tp-box__side tp-box__back">
        <a class="go-back-btn" (click)="flipBack(data)">GO BACK</a>
        <div class="content-wrapper">
          <div class="left-content">
            <!-- <img src="{{data?.player?.officialImageSrc}}" alt="football player" onError="this.src='http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/ARM455007.png'"> -->
          </div>
          <div class="right-content">
            <p>
              <!-- <span *ngIf="data.player.rookie === true" style="background:#2ecc71; color:#fff; padding:1px; border-radius:2px;">Rookie <br></span>
                  <span *ngIf="data.postponed === true" style="background:red; color:#fff; padding:1px; border-radius:2px;">Postponed  <br></span>
              <span *ngIf="data.player.contractStartYear === '2019' && data.player.contractTotalYears === 1" style="background:#2ecc71; color:#fff; padding:1px; border-radius:2px;">Contract Year<br></span>
              <span *ngIf="data.player.contractBaseSalary !== undefined && data.player.contractBaseSalary != ''">Contract Salary: ${{data.player.contractBaseSalary | number:'.2'}} <br></span>
              <span *ngIf="data.player.contractTotalYears !== undefined && data.player.contractTotalYears != ''">Contract Years:  {{data.player.contractTotalYears}}<br></span> 
              <span *ngIf="data.player.draftYear !== undefined && data.player.draftYear != ''">Drafted: Round {{data.player.draftRound}}, {{data.player.draftYear}}<br></span>
              <span *ngIf="data.player.college !== undefined && data.player.college != ''">College: {{data.player.college}}<br></span> 
              <span *ngIf="data.player.highSchool !== undefined && data.player.highSchool != ''">Highschool: {{data.player.highSchool}} <br></span>
              Opponent: <span *ngIf="data.team.opponent;then content else other_content"></span> -->
              <!-- <ng-template #content>{{data[0].team.opponent}}</ng-template>
              <ng-template #other_content>No game today.</ng-template> -->
              <!-- <br>SP Opponent: {{data.player.pitchingOpponent}} -->
              <!-- <span *ngIf="data[0].team.opponent"><br>Game: {{data[0].player.gameTime | date: 'EEEE, h:mm a'}} PST,
                {{data[0].team.gameField}} </span> -->
              <!-- <br> in progress: {{data.playingRightNow}} -->
              <!-- <br> game over: {{data.playingOver}} -->
              <!-- <br> game id: {{data.gameId}} -->
            </p>
          </div>
        </div>
        <div class="bottom-content">
          <!-- <img src="./assets/mlb-logos/{{data.team.id}}.png" alt="{{data[0].team.name}} logo"> -->
          <!--   <p class="name-number">{{ data.player.firstName + ' ' + data.player.lastName}}<span *ngIf="data?.player?.handedness"> - {{data?.player?.handedness}}</span> - {{data?.player?.primaryPosition}} | #{{data.player.jerseyNumber}}</p> -->


          <div class="fav-pitch previous-game-stat-block">

          </div>

        </div>
      </div> <!-- SCORE BACK OF CARD  -->
    </mat-card>
  </div>
  <div class="top-arrow">
      <span (click)="goAnchor('top')">TOP &uarr;</span>
  </div>
</div>