footer {
  position: fixed; bottom: 0px; width: 100%; 
  z-index: 333;
}

.docs-footer {
    margin-top: 40px;
    padding: 12px;
    font-size: 12px;
    background:  #d35400;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
}

.mat-elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.docs-footer div {
  display: inline-block;
  flex-grow: 1;
  width: 33%;  
  color: #fff; 
}

.docs-footer .docs-footer-links {
  text-align: center;
}

.docs-footer .docs-footer-links ul {
  text-align: center;
  list-style: none;
}

.docs-footer a {
  color: #fff;
  text-decoration: none;
}

.docs-footer .docs-footer-links li{
  cursor: pointer;
}

.docs-footer .docs-footer-links a:hover {
  opacity: 0.8;
}

.logo-container {
  max-width: 54px; 
  text-align: center;
}


.docs-footer-list[_ngcontent-c10] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 8px;

}

i {
  cursor: pointer;
}

.toolbar-header {
  cursor: pointer;
}


.sidenav-container {
  position: relative;
  height: 100%; 
  margin-bottom: 100px;
}

.mat-drawer-content {
  background: #303030;
}

.sidenav-container .sidenav-close {
  float: right;
  color: #777;
}

.sidenav-container[_ngcontent-c0] {
    position: relative;
    height: 100vh;
    /* margin-bottom: 100px; */
}

.category-list {
  width: 195px;
  list-style: none;
  font-size: 14px;
  padding: 0px;
  color: #333;
}

input {
  margin: 5px;
}

.category-list li {
  display: block;
  height: 58px;
  line-height: 58px;
  cursor: pointer;
  padding: 5px;
}

.category-list li:hover {
  background: #eee;
}


.category-list li.active {
  background: #eee;
  color: #663fb4;
  border: dashed 1.5px #999;
  border-radius: 10px;
}

.category-list img {
  width: 20%;
  object-fit: cover;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  vertical-align: middle;
}


@media only screen and (max-width: 600px) {

  .docs-footer div {
    width: 31%;  
  }

  .logo-container ul {
    padding: 0 0 0 0;
  }

}
