<div class="container">
<header class="navbar">
  <span class="toolbar-header" [routerLink]="['']">Fantasy Sports Resources</span>
  <span *ngIf="mobile" class="mobile-menu"> 
    <span (click)="menu = !menu">{{!menu ? 'Menu' : 'X'}}</span>
  </span>
  <ul class="category-list" [ngClass]="{'dn' : !menu && mobile, 'mobile-list' : menu}">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['']">
      Home
      </li>
      <li routerLinkActive="active" [routerLink]="['/starting-five']">
      NBA Starting Five
      </li>
    <!-- <li [routerLink]="['/starting-pitchers']">
      ⚾️ MLB Starting Pitchers
    </li>
     <li [routerLink]="['/pitching-stats']">
      ⚾️ MLB Pitching Stats
    </li> -->
    <!-- <li [routerLink]="['/nfl-line-rank']">
      🏈 NFL Line Rankings
    </li>
    <li [routerLink]="['/nfl-touches']">
      🏈 NFL Touch Rankings
    </li> -->
     <li routerLinkActive="active" [routerLink]="['/starting-goalies']">
      NHL Starting Goalies
    </li>
     <!--<li [routerLink]="['/starting-goalies-tomorrow']">
      🥅 NHL Goalies Tomorrow
    </li>
    <li [routerLink]="['/starting-goalies-yesterday']">
      🥅 NHL Goalies Yesterday
    </li> -->
    <li routerLinkActive="active" [routerLink]="['/stat-leaders']">
      Stat Leaders
    </li>
  </ul>
</header>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>
<div class="push"></div>
</div>
<footer class="docs-footer">
      <div class="docs-footer-list">
        <div class="footer-logo">
          <div class="logo-container">
            <a href="https://twitter.com/intent/follow?screen_name=FanSpRes&commit=Log%20in%20and%20follow%20%40FanSpRes&session%5Busername_or_email%5D=FanSpRes&tw_p=followbutton&region=follow_link"><img src="../assets/fsr.png" alt="fsr logo"></a>
          </div>
          <!-- <div style="max-width: 100px;">
            <span style="font-family: Roboto; font-size: 10px; font-weight: 500;">I &hearts; Angular</span>
          </div> -->
        </div>
        <div class="docs-footer-links">
          <ul>
            <li><a href="https://twitter.com/intent/follow?screen_name=ianposton&commit=Log%20in%20and%20follow%20%40ianposton&session%5Busername_or_email%5D=ianposton&tw_p=followbutton&region=follow_link">Who Built This?</a></li>
          </ul>
        </div>
        <div class="docs-footer-links">
          <ul>
            <li>About</li>
          </ul>
        </div>
      </div>
</footer>
    <app-google-analytics-gtag></app-google-analytics-gtag>

