<mat-toolbar color="primary" class="mat-elevation-z6">
  <span class="toolbar-header">Fantasy Sports Resource</span>
  <span style="flex: 1 1 auto;"></span>
 
  <i matTooltip="Menu" [matTooltipPosition]="position" (click)="sidenav.toggle()" style="cursor:pointer;" class="material-icons">menu</i>

</mat-toolbar>
<div class="full-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" #sidenav position="end">
      
      <ul class="category-list">
        <li [routerLink]="['/all-sports']">
         MLB Starting Pitchers
        </li>
         <li [routerLink]="['/pitching-stats']">
         MLB Pitching Stats
        </li>
        <li [routerLink]="['/starting-goalies']">
         NHL Starting Goalies
        </li>
         <li [routerLink]="['/starting-goalies-tomorrow']">
         NHL Goalies Tomorrow
        </li>
         <li [routerLink]="['/starting-goalies-yesterday']">
         NHL Goalies Yesterday
        </li>
      </ul>
    </mat-sidenav>

    <router-outlet></router-outlet>
   

    <footer class="docs-footer">
      <div class="docs-footer-list">
        <div class="footer-logo">
          <div class="logo-container">
            <a href="#">Fantasy Sports Resource</a>
          </div>
          <!-- <div style="max-width: 100px;">
            <span style="font-family: Roboto; font-size: 10px; font-weight: 500;">I &hearts; Angular</span>
          </div> -->
        </div>
        <div class="docs-footer-links">
          <ul>
            <li matTooltip="Ian Poston, a web developer from Los Angeles." [matTooltipPosition]="position"><a href="https://twitter.com/intent/follow?screen_name=ianposton&commit=Log%20in%20and%20follow%20%40ianposton&session%5Busername_or_email%5D=ianposton&tw_p=followbutton&region=follow_link">Who Built This?</a></li>
          </ul>
        </div>
        <div class="docs-footer-links">
          <ul fxHide [fxHide.gt-xs]="isVisibleOnDesktop()">
            <li matTooltip="This is a fantasy sports resource. In this app I am using angular6 and sourcing sports data from mysportsfeeds.com. Find todays starting MLB Pitchers and starting NHL Goalies! Enjoy! ☺" [matTooltipPosition]="position">About</li>
          </ul>
          <ul fxHide [fxHide.xs]="isVisibleOnMobile()" style="font-size: 9px; max-width: 80px; text-align: justify;"><li>About: I love to code and work with sports API's. In this app I am using angular6 with the MySportsFeeds API.</li></ul>
        </div>
      </div>
    </footer>
  </mat-sidenav-container>
</div>

