<div class="schedule-box col">
    <h2>{{title}}<br> <span *ngIf="title === 'Toughest Defense Schedule 2021' || title === 'Toughest Offense Schedule 2021'"><span *ngIf="seasonLength === 'full'">Full </span> <span *ngIf="seasonLength === 'ofh' || seasonLength === 'dfh'">1st Half of </span> <span *ngIf="seasonLength === 'osh' || seasonLength === 'dsh'">2nd Half of </span> Season</span> </h2> 

    <span *ngIf="title === 'Toughest Defense Schedule 2021'">
        <button [ngClass]="{'dn' : seasonLength === 'dtr'}" (click)="seasonLength = 'dtr'">Full</button> 
        <button [ngClass]="{'dn' : seasonLength === 'dfh'}" (click)="seasonLength = 'dfh'">First Half</button> 
        <button [ngClass]="{'dn' : seasonLength === 'dsh'}" (click)="seasonLength = 'dsh'">Second Half</button>
    </span>
    <span *ngIf="title === 'Toughest Offense Schedule 2021'">
            <button [ngClass]="{'dn' : seasonLength === 'otr'}" (click)="seasonLength = 'otr'">Full</button> 
            <button [ngClass]="{'dn' : seasonLength === 'ofh'}" (click)="seasonLength = 'ofh'">First Half</button> 
            <button [ngClass]="{'dn' : seasonLength === 'osh'}" (click)="seasonLength = 'osh'">Second Half</button>
    </span>

    <div class="left" *ngFor="let item of getRank(data, teams, title, seasonLength, week); let i=index">
        <span *ngIf="item?.abbreviation" class="sched-item">
            <span class="abb-single">
                <span class="rank-num">{{(i+1)}}</span>  <img src="{{item?.officialLogoImageSrc}}" alt="{{item?.name}} logo"> 
                {{item?.name}} 
                <span *ngIf="title === 'Defense Team Rank' || title === 'Offense Team Rank'"> ({{item?.stats?.standings.wins}}-{{item?.stats?.standings.losses}}-{{item?.stats?.standings.ties}})</span> &nbsp; 
                <span *ngIf="title === 'Defense Team Rank'">
                     
                    Points Allowed: <span [ngStyle]="{color: item.stats.standings.pointsAgainst &gt; 420 ? '#e74c3c' : 'gold'}">{{item?.stats?.standings?.pointsAgainst}}</span>   &nbsp;
                    Sacks: <span [ngStyle]="{color: item.stats.tackles.sacks &lt; 25 ? '#e74c3c' : 'gold'}">{{item?.stats?.tackles.sacks}}</span>   &nbsp;
                    Int: <span [ngStyle]="{color: item.stats.interceptions?.interceptions &lt; 10 ? '#e74c3c' : 'gold'}">{{item?.stats?.interceptions?.interceptions}}</span>   &nbsp;
                    Passes Defened: <span [ngStyle]="{color: item.stats.interceptions?.passesDefended &lt; 75 ? '#e74c3c' : 'gold'}">{{item?.stats?.interceptions?.passesDefended}}</span> &nbsp;
                    <span *ngIf="item?.opponentYdsArr && item?.opponentYdsArr.length > 0">
                            <b>Yds Allowed:</b> 
                        <span *ngFor="let g of item?.opponentYdsArr"> 
                         <span *ngIf="item?.abbreviation === g?.owner"> <b>&nbsp; {{g.game}} {{g.oy}} </b> </span>
                        </span>
                    </span>
                </span>
                <span *ngIf="title === 'Offense Team Rank'">
                    Total Yards: <span [ngStyle]="{color: item.ty &lt; 5500 ? '#e74c3c' : 'gold'}">{{item?.ty}}</span>   &nbsp;
                    Avg Yards Per Play: <span [ngStyle]="{color: item?.stats?.miscellaneous?.offenseAvgYds &lt; 5 ? '#e74c3c' : 'gold'}">{{item?.stats?.miscellaneous?.offenseAvgYds}}</span>   &nbsp;
                    Sacks Given up: <span [ngStyle]="{color: item?.stats?.passing?.passSacks &gt; 30 ? '#e74c3c' : 'gold'}">{{item?.stats?.passing?.passSacks}}</span>   &nbsp;
                    Pass TD's: <span [ngStyle]="{color: item?.stats?.passing?.passTD &lt; 25 ? '#e74c3c' : 'gold'}">{{item?.stats?.passing?.passTD}}</span>    &nbsp;
                    Rush TD's: <span [ngStyle]="{color: item?.stats?.rushing?.rushTD &lt; 17 ? '#e74c3c' : 'gold'}">{{item?.stats?.rushing?.rushTD}}</span>
                </span> 
                <span *ngIf="title === 'Toughest Defense Schedule 2021' && item?.scheduleTicker != null">
                    <span *ngFor="let game of item?.scheduleTicker; let i = index;">
                        <span class="game {{hoveredItem}}" (mouseover)="hoveredItem = 'hovered'" (mouseout)="hoveredItem = ''">
                           <span [ngClass]="{'white' : game?.dRank === 'BYE', 'red' : game?.dRank &lt;= 10, 'orange' : game?.dRank > 10 && game?.dRank &lt;= 21, 'green' : game?.dRank > 21, 'dn' : seasonLength === 'dfh' && i > 8 || seasonLength === 'dsh' && i &lt;= 8 }">{{game?.printName}}</span>
                           <span class="tooltip">{{ game?.dRank === 'BYE' ? 'Week '+game?.name : 'D Rank '+ game?.dRank}}</span>
                        </span> 
                    </span>
                </span>
                <span *ngIf="title === 'Toughest Offense Schedule 2021' && item?.scheduleTicker != null">
                    <span *ngFor="let game of item?.scheduleTicker; let i = index;">
                        <span class="game {{hoveredItem}}" (mouseover)="hoveredItem = 'hovered'" (mouseout)="hoveredItem = ''">
                            <span [ngClass]="{'white' : game?.oRank === 'BYE', 'red' : game?.oRank &lt;= 10, 'orange' : game?.oRank > 10 && game?.oRank &lt;= 21, 'green' : game?.oRank > 21, 'dn' : seasonLength === 'ofh' && i > 8 || seasonLength === 'osh' && i &lt;= 8 }">{{game?.printName}}</span>
                            <span class="tooltip">{{ game?.oRank === 'BYE' ? 'Week '+game?.name : 'O Rank '+ game?.oRank}}</span>
                        </span>
                    </span>
                </span>
            </span> 
        </span>  
      </div>
</div>