.player-img img {
  width: 10%;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 5px 5px 0 5px;
}

.no-player-selected {
  display: none;
}

.player-selected {
  display: normal;
}

mat-card p {
  font-size: 20px;
}

.current-pitcher-link {
  color: #0f83ba;
  cursor: pointer;
}

.loading {
  display: none;
}

.notLoading {
  display: normal;
}

.spinner-msg {
  text-align: center; 
  background: #fff; 
  height:250px; 
  padding-top: 80px;
}

mat-spinner {
  margin: 0 auto;
}

.score-img img {
  width: 5%;
}

.go-back-btn {
  color: #fff;
}

@media only screen and (max-width: 900px) { 
 mat-card-title img {
  width: 15%;
 }

 mat-card-title {
  font-size: 14px;
 }
}